[2017-05-26 00:18] mitermayer opened #2 "Should not overwrite buffer when prettier fails to parse file"
At the moment if we have an invalid file like this we are still overwriting the buffer with the prettier error output.

[code]

becomes

[code]

Expected behaviour:

Not overwrite buffer and display an error message

[2017-05-26 00:19] #2 closed

[2017-05-26 22:16] mitermayer opened #4 "Make the prettier command run async"
Its not great having to wait a long time when saving a big file. We should have prettier running async

[2017-05-26 22:18] mitermayer opened #5 "Populate quickfix with prettier parsing errors"
When prettier fails to execute we should populate the vim quickfix with parsing errors, this behaviour should also be user configurable.

[2017-05-28 06:24] #4 closed

[2017-05-28 06:27] mitermayer opened #7 "Fallback plugins not working"
In

[code]

should check for directory since vim string comparison is always 0, intead it should be:

[code]

[2017-05-28 06:31] #7 closed

[2017-05-28 06:47] mitermayer opened #9 "Prettier CLI expects params 'false' instead of 0"
Boolean params for the cli are somehow expected to be 'false' and 'true'.

[2017-05-28 06:56] #9 closed

[2017-05-31 22:36] mitermayer commented on #5
Fixed by: https://github.com/mitermayer/vim-prettier/commit/2d5d3cd2585e9558ad896cbe97398315266dc030

[2017-05-31 22:36] #5 closed

[2017-06-20 04:10] mitermayer opened #14 "Partial formatting support"
We should allow partial formatting upon visual selection. It should also work on both Async and Sync modes.

[2017-06-20 04:22] #14 closed

[2017-06-23 07:05] dedoyle opened #18 "prettier add extra comma at the last parameter of function"
## vim version:
Vim 8.0 (MS-Windows 64-bit GUI version with OLE support)

## vimrc
[code]

## Probrem

origin code
[code]

after prettier
[code]

[2017-06-23 07:13] dedoyle commented on #18
After writting the issue, I found a configuration to solve this problem.

[2017-06-23 07:13] #18 closed

[2017-06-23 14:02] alex-shamshurin opened #19 "Is it possible to support stylus?"

[2017-06-23 15:38] alex-shamshurin opened #20 "Support for 'prettier-standard-formatter'"
I'd like to use it both. If there are an option to specify which tool to be used?

[2017-06-23 15:57] mitermayer commented on #19
Hi @alex-shamshurin thank you for raising this issue.

vim-prettier is a wrapper on prettier and will support any parser that prettier supports. Unfortunately prettier at this stage has no support for stylus but feel free to raise an issue on https://github.com/prettier/prettier.

If the stylus support is then added to prettier we can then include the support on vim-prettier by following similar s

[2017-06-23 15:58] mitermayer commented on #19
Will close this issue now, but feel free to re-open / submit a pull-request when prettier adds support for stylus.

Thank you!

[2017-06-23 15:58] #19 closed

[2017-06-23 16:03] mitermayer commented on #20
Hi @alex-shamshurin,

Sorry but the goal of this project is to add support and evolve together with https://github.com/prettier/prettier

[2017-06-23 17:36] alex-shamshurin commented on #20
I understand that, but I'd like make a little post-processing, pipe the output to `standart`. Is this a policy restriction?

[2017-06-24 05:01] mitermayer commented on #20
Hi @alex-shamshurin,

Its not a policy/restriction, however at this stage our main focus is on prettier. I am happy to revisit this issue if there is enough interest around that in the future.

Once again thank you for submitting this request and I am sorry that at this stage we won't be able to action on it.

[2017-06-27 17:16] mitermayer opened #21 "add support for GraphQL parsing"
Enabling support for GraphQL would be similar to https://github.com/mitermayer/vim-prettier/pull/17

[2017-06-27 17:18] mitermayer opened #22 "bump plugin dependency to prettier 1.5"
Prettier 1.5 has been release highlights are:

* GraphQL
* CSS-in-JS
* JSON Support

We should be able now include JSON and GraphQL support

[2017-06-28 08:28] andreiglingeanu commented on #22
Yeah, would love `json` filetype to be automatically detected too, it would be awesome!

[2017-06-28 08:29] andreiglingeanu commented on #22
Detecting [`*.graphql` and `*.gql`](https://github.com/jparise/vim-graphql/blob/master/ftdetect/graphql.vim#L1) files would be enough, I think.

[2017-06-30 00:49] mitermayer commented on #21
https://github.com/mitermayer/vim-prettier/pull/17

[2017-06-30 00:49] #21 closed

[2017-06-30 00:53] mitermayer opened #23 "should support filetype detection when none is available"
We should provide some basic filetype detection but also keeping compatible with other plugins.

This for example would enable to correctly identify graphql, typescript, less, scss etc.. without having to rely on the filetype being implemented by other plugins.

we should be able to leverage from vim `did_filetype()` function that will allow us to conditionally set a filetype if no other plugin ha

[2017-06-30 00:55] mitermayer commented on #22
graphql support was added by https://github.com/mitermayer/vim-prettier/pull/17, and it should work fine as long as the user has filetype detection for the graphql filetype by some other plugins.

To avoid relying on other plugins for filetype detection I will be tracking it on https://github.com/mitermayer/vim-prettier/issues/23

[2017-06-30 00:56] #22 closed

[2017-06-30 08:52] andreiglingeanu commented on #22
Makes a lot of sense. Thank you!

[2017-07-01 06:02] #23 closed

[2017-07-01 06:09] mitermayer commented on #22
@andreiglingeanu  done :)

[2017-07-01 22:15] mitermayer opened #25 "Neovim support for job/channel to allow async formatting"
We currently support vim8 async formatting by using its jobs API. However neovim job/channel API is not the same as vim8.

In order to provide a better experience for neovim users we should also support neovim job/channel API.

[2017-07-02 05:03] mitermayer opened #26 "Json parser should not include comma at the end"
By allowing the extra comma to be auto added will create an invalid json file

This is an invalid json:

[code]

should be:

[code]

We should make sure that json parsing settings make sure to not include auto adding comma settings

[2017-07-02 05:04] #26 closed

[2017-07-05 21:41] mitermayer opened #28 "Inform minimum supported vim version"
At the moment vim-prettier has been developed with vim8+ in mind.  We should however be more clear about it on our README and make sure we can identify what is our minimum supported vim version.

We should also investigate what is required to guarantee backwards support with older vim versions.

[2017-07-12 04:32] mitermayer commented on #28
Added support for vim 7 by fix incompatibility bug when calling `system()` using list, as vim 7 only supports string

fixed by https://github.com/mitermayer/vim-prettier/pull/29

[2017-07-12 04:32] #28 closed

[2017-07-14 21:32] tugorez opened #30 "Autoformat "all" files by default."
Hi guys, first of all thank you for your time and effort, I really appreciate it :)

Is it possible to auto format files, on save, without the need to add the "@format" tag?

[2017-07-15 06:02] mitermayer commented on #30
Hi @tugorez, thank you for your message. You can achieve your desired behavior by adding to your `.vimrc` one of the bellow strategies:

***

**Running before saving sync:**

[code]

***

**Running before saving async (vim 8+):**

[code]
***

**Running before saving, changing text or leaving insert mode:**

[code]

[2017-07-15 06:02] mitermayer commented on #30
Will close this issue, but feel free to comment on it if you have any further questions around it.

[2017-07-15 06:02] #30 closed

[2017-07-18 04:33] mitermayer commented on #25
After doing some investigation, the technical debt added to support neovim async / job is way too high.

For now will be closing this issue until neovim / vim8 iterate on their async/channel API's

[2017-07-18 04:33] #25 closed

[2017-07-24 22:03] tugorez commented on #30
@mitermayer Thank you very much

[2017-07-31 12:26] alex-shamshurin opened #31 ""failed to parse buffer", but prettier from console works well"
In this file
[code]

Problem is in comment ` /* webpackChunkName : "info" */`. From console.it works.

[2017-07-31 21:39] CGamesPlay opened #32 "Unable to disable 'single-quote'"
Prettier 1.5.3 does not accept `--single-quote false` as a way to using double quotes. This means that `g:prettier#config#single_quote = 'false'` doesn't work. I have to use this, which is icky: `g:prettier#config#single_quote = '--no-single-quote'`.

[2017-08-02 18:03] mitermayer commented on #32
Thanks for reporting this, will look into it and do a release ASAP, otherwise also accepting PR

[2017-08-02 19:51] mitermayer commented on #31
Thank you for submitting this issue. Will start looking into this asap.

[2017-08-02 19:51] mitermayer commented on #32
@CGamesPlay Will do a new release in the next day or two to fix this

[2017-08-03 17:42] mitermayer commented on #31
Hi @alex-shamshurin,

This issue is caused by the **prettier flow parser** itself. I have created a issue on it so that you can further track it (https://github.com/prettier/prettier/issues/2588).

In the meantime you can work around this by using 'babylon' parser. In order to do that you can add this line to your `.vimrc`

[code]

Since this is not a bug in `vim-prettier` itself I will be closing

[2017-08-03 17:42] #31 closed

[2017-08-03 17:45] mitermayer commented on #31
Looks like this is a known issue on `prettier` and they closed the issue I have created as duplicate, they are handling that case now in here https://github.com/prettier/prettier/issues/2555

[2017-08-03 18:12] mitermayer commented on #32
@CGamesPlay I am unable to reproduce this bug, can you please help me understand how is that happening to you?

Steps I have done to try to reproduce this bug (using prettier 1.5.2 and 1.5.3):

1. added this line to my `.vimrc`:

[code]

2. created a dummy file (`foo.js`) with this contents:

[code]
3. Open `foo.js` with vim then run `:Pretter`

From doing the above I got the same result both time

[2017-08-05 07:18] mitermayer commented on #32
@CGamesPlay Will be closing this issue since I can't reproduce it. Feel free to re-open it if you can provide more information on how to reproduce it.

thank you for reporting it :)

[2017-08-05 07:18] #32 closed

[2017-08-06 19:20] mitermayer opened #33 "Add MIT license"
We should include the MIT license on the plugin

[2017-08-06 19:21] mitermayer opened #34 "Bump internal plugin dependencie to use prettier to 1.5.3"
We should bump our internal plugin prettier dependencie version

[2017-08-06 19:22] mitermayer opened #35 "Include changelog"
We should start including a CHANGELOG file in order to better track release updates

[2017-08-06 19:31] #33 closed

[2017-08-06 19:31] #34 closed

[2017-08-06 19:36] #35 closed

[2017-08-06 19:38] CGamesPlay commented on #32
No worries. I'll collect my versions and try again. It's possible I wasn't setting the variables correctly? Will double check and report back if necessary.

[2017-08-11 18:21] trungdq88 opened #39 ":Prettier causes :Ggrep to lose history"
Thanks for awesome plugin. Can you take a look at this?

**without `:Prettier`** this should to through the matches list of 'abc'

(in vim)
[code]

**with `:Prretier`**
[code]
Image:
![image](https://user-images.githubusercontent.com/4214509/29226254-85c92636-7efb-11e7-877a-3ca356ca4f08.png)

GIF:
![prettier](https://user-images.githubusercontent.com/4214509/29226458-5b72c490-7efc-11e7-94d7-d4de6b

[2017-08-11 18:23] mitermayer commented on #39
Hi @trungdq88

Thanks for submitting this issue, will have a look into it during the weekend

[2017-08-13 00:27] #39 closed

[2017-08-13 03:18] trungdq88 commented on #39
Thanks. That's very nice response time.

[2017-08-14 20:24] niftylettuce opened #41 "Detect package.json configuration?"
Can this detect configuration for prettier in `package.json`?

[code]

[2017-08-14 22:26] mitermayer commented on #41
Hi @niftylettuce ,

The currently released version of prettier '1.5.3' does not yet support this functionality.

Once the next prettier version is released (https://github.com/prettier/prettier) it will include support for custom configurations (https://github.com/prettier/prettier/issues/2589) since that functionality was integrated on https://github.com/prettier/prettier/pull/2434.

As soon as t

[2017-08-14 22:26] #41 closed

[2017-08-16 16:15] mightyguava opened #42 "Using prettier-eslint-cli"
Can this be configured to use https://github.com/prettier/prettier-eslint-cli? We have some eslint rules that are incompatible with prettier that work great with the alternate CLI. It's also a great tool as we try to migrate to prettier without completely turning off eslint

[2017-08-16 20:23] mitermayer commented on #42
@mightyguava thanks for submitting this issue,

In the past we had also been requested to add support for other CLI's (`prettier-standard-formatter` (https://github.com/prettier/vim-prettier/issues/20))

So maybe now it make sense to revisit this and enable it to be configurable for other CLI's.

cc @alex-shamshurin

[2017-08-16 20:24] mitermayer commented on #20
Since there has been some more interest on supporting other CLI's (https://github.com/prettier/vim-prettier/issues/42) I am now re-opening this issue.

[2017-08-18 12:46] alex-shamshurin opened #44 "Does it work on Windows?"
Prettier cli works from windows console, but `:Prettier` does not.

[2017-08-18 16:49] mitermayer commented on #44
Hi @alex-shamshurin,

Will start looking into this and do a release to fix it.

Thank you for reporting!

[2017-08-19 15:58] alex-shamshurin commented on #44
Sorry, but is there any progress? I think it's only replace slashes...

[2017-08-19 17:23] mitermayer commented on #44
@alex-shamshurin I will look into this this weekend and do a release to fix it but please feel free to submit a PR in the meantime.

[2017-08-20 05:16] mitermayer commented on #44
I have just downloaded a windows virtual machine and will investigate this issue tomorrow.

[2017-08-21 05:07] mitermayer commented on #44
Did not have a chance to look into this yet, if anyone has some time feel free to pick it up. Will try to find some time to look into it tomorrow

[2017-08-21 15:44] alex-shamshurin commented on #44
Ok, I think it's very easy, but I do not know vim-script

[2017-08-22 05:31] mitermayer commented on #44
I have just tested this on windows and could not replicate the above described bug.

***

Using vim from windows powershell:

![output](https://user-images.githubusercontent.com/1042131/29549855-663a5184-86bf-11e7-86d0-f90820e62e6b.gif)

***

Using gvim:

![output](https://user-images.githubusercontent.com/1042131/29549939-dfc50e4a-86bf-11e7-8240-4e6e059255f3.gif)

Happy to re-open or create a new

[2017-08-22 08:53] alex-shamshurin commented on #44
Hmm, how to debug it? Prettier really works from command line (from project node_modules\.bin\) and :Prettier command does not provide any error output. It just do nothing.

[2017-08-22 13:14] CaioBianchi opened #45 "Trailing comma is causing issues with IE10/11"
The default setting:

[code]

is causing IE 10 and 11 to trigger an error on JS files.
Perhaps this settings should be set to "none" by default?

[2017-08-22 16:53] mitermayer commented on #45
Hi @CaioBianchi,

Thank you for raising that, the defaults on vim-prettier are based on the [Facebook Prettier Options](https://github.com/prettier/eslint-plugin-prettier/blob/6de494fd685a107f3a9a371e663a1f8d68d6d31f/README.md#options)

Once the next [prettier](https://github.com/prettier/prettier) version is released it will include support for [custom configurations](prettier/prettier#2589) sinc

[2017-08-22 16:53] #45 closed

[2017-08-22 17:07] mitermayer commented on #44
Hi @alex-shamshurin,

There are 3 ways that `vim-prettier` can find the `prettier` executable

***

**A - It looks to find the `./node_modules` for the binary in the path of the current parent folder**

***

**B - If [_A_] fails then -  It looks for a global `prettier` installation**

***

**C - If [_B_]  fails then - It looks for the `prettier` installation that is installed inside `vim-prettier`

[2017-08-22 17:26] CaioBianchi commented on #45
Thanks @mitermayer. I did that. I was just wondering if that was something unintentional.

[2017-08-22 17:29] alex-shamshurin commented on #44
1) Yes, prettier is in devDependencies and installed inside my project and it works on my mac and on Linux, but does not work on Windows
2) No
3) I've just run standart :PlugInstall
4) No messages! Clean history, no errors, warning, etc

[2017-08-23 11:20] alex-shamshurin commented on #44
Please reopen this issue, until it solved

[2017-08-23 15:07] boojinks opened #46 "PrettierAsync does not work on Windows"
I've just installed the package and whilst calling :Prettier works fine, :PrettierAsync appears to do absolutely nothing.

As far as I can tell, this is caused by the fact that Vim's job_start function is attempting to call the prettier executable directly, which causes the job to fail immediately (job_status returns 'fail') without ever calling the error callback. The correctly working :Prettier

[2017-08-23 15:08] boojinks commented on #44
Have you set any of the configuration variables for vim-prettier?

I ask because I've noticed a separate [issue ](https://github.com/prettier/vim-prettier/issues/46) where the async version does nothing yet reports no errors.

[2017-08-23 16:24] mitermayer commented on #46
@boojinks Thank you for reporting this issue, a PR for it would be awesome!

[2017-08-23 16:35] mitermayer commented on #44
Hi @alex-shamshurin,

I have re-opened this issue to try to help solving your problem, I still cannot reproduce this issue that you have described. I have however confirmed [the bug where PrettierAsync is not working on windows](https://github.com/prettier/vim-prettier/issues/46) created by @boojinks .

However the `:Prettier` command works as expected. Can you please provide me your `vim` version

[2017-08-23 16:37] mitermayer commented on #46
I have just managed to reproduce this issue, a PR on it would be amazing :)

[2017-08-24 08:45] alex-shamshurin commented on #44
My vim version is:
![vim-version](https://user-images.githubusercontent.com/1595209/29657600-ca8bc732-88c0-11e7-99ea-6be01579bddd.jpg)

I've disabled all other plugins except `vim-prettier` and it still does not work and says nothing.
All I new about vim-script it's a `echom` command.  So what I suggest, -  I can insert `echom` to some functions to debug. In what functions should I insert it to fi

[2017-08-24 08:48] alex-shamshurin commented on #44
Also I have disabled all plugin settings and it did not help

[2017-08-24 09:24] alex-shamshurin commented on #44
Hmm, I added some debug points to `prettitier.vim` and I discovered that when I run :Prettitier (NOT :PrettitierAsync) it goes to async instead of sync mode

[code]
result is "Before Async"

[code]
message is  "In Exec ASync

if change `l:async=0` it works

[code]
It gies sync mode and did job.

[2017-08-24 14:32] boojinks commented on #44
I suspected it might be the same problem I was having.

I don't have access to put in a pull request at the moment but the below should fix it for you.

[code]

If it does, could you do me a massive favour and put in a PR?

Thank you.

[2017-08-24 15:24] mitermayer commented on #44
Thank you both of you @boojinks  and @alex-shamshurin  for working together on this issue, will test the above code and submit a PR for it.

One thing that I cannot understand is why on @alex-shamshurin  he was going to the async code path, the default `vim-prettier`  async setting is to disabled, unless he has added the `async` setting to his `.vimrc` regardless will submit a fix and do a release

[2017-08-24 15:35] alex-shamshurin commented on #44
Yes, I have this option set.

[2017-08-24 15:44] alex-shamshurin commented on #44
I disabled that option and :Prettitier works fine now, even without patching the file with `let l:async = 0`. But I was confused because this config works fine on Mac and on Linux. I think on windows it should ignore `g:prettier#exec_cmd_async=1` or somehow need repair async mode as @boojinks suggested.

[2017-08-24 15:58] #44 closed

[2017-08-24 16:02] #46 closed

[2017-08-24 16:02] mitermayer commented on #44
@alex-shamshurin I have just done a release for version 0.0.14 with that fix

[2017-08-24 16:07] mitermayer commented on #46
@boojinks Thank you very much for helping out with this issue! I have just done a release (0.0.14) with that fix

[2017-08-25 01:57] trungdq88 opened #48 ":Prettier make cursor history wrong when navigating with <C-O>"
After I run `:Prettier`, and then press `<C-o>` to navigate to the last position of cursor, it always point to the beginning of the file. It's annoying. Please fix this.

[2017-08-25 04:30] mitermayer commented on #48
Hi @trungdq88 thanks for reporting this issue.

Will investigate this soon, otherwise feel free to submit a PR.

[2017-08-25 04:32] trungdq88 commented on #48
I wish I could, but I have no knowledge of vim script :(

[2017-08-30 06:00] mitermayer commented on #48
I tested this issue with other similar formatting plugins and they all have similar problems. :( In the meantime will merge a PR that will at least mitigate this issue.

You will still have to do the <C-O> 2 times but the first time it wont take you to the top of the file (as the current described behavior) it will instead keep you on the same place.

[2017-08-30 06:11] #48 closed

[2017-08-30 06:13] mitermayer commented on #48
@trungdq88 closed this issue since at this stage I am not sure that I can edit vim jump history to delete the duplicate same line entry.

I did however merge a PR that at least makes sure that when doing a <C-O> you do not jump to the beginning of the file anymore

[2017-08-30 06:22] mitermayer commented on #42
Still interested on working in this issue, will prioritize bumping vim-prettier to support the new prettier 1.6 features then get back to this issue

[2017-08-30 06:22] mitermayer commented on #20
Still interested on working in this issue, will prioritize bumping vim-prettier to support the new prettier 1.6 features then get back to this issue

[2017-08-30 06:25] mitermayer opened #51 "Upgrade to support prettier 1.6"
Will keep this as a holding issue to keep track to upgrading to prettier 1.6

- [x] bump vim-prettier plugin dependencie to 1.6
- [x] add support for `prettier` custom config
- [ ] merge PR when 1.7.0 is released

[2017-08-30 06:37] mitermayer commented on #41
Now with new prettier version 1.6 been released we now will be able to have some level of custom configurations.

more information can be found on https://github.com/prettier/vim-prettier/issues/51

[2017-08-30 06:39] trungdq88 commented on #48
That's good enough for me 👍  Thanks a lot!

[2017-08-30 09:42] alex-shamshurin commented on #20
Does vim-prettifier need some changes to support 1.6? As I read it just formatting a bit different..

[2017-08-30 16:05] mitermayer commented on #20
Prettier 1.6 adds support for user defined custom configuration, I want to think what would be the best way to integrate that feature in here

[2017-08-30 16:52] alex-shamshurin commented on #20
I think project .prettierrc file must have the highest priority and only then .vimrc

[2017-09-03 06:13] mitermayer commented on #51
Added a PR to prettier to add support for preferring config options over CLI.

https://github.com/prettier/prettier/pull/2733

[2017-09-04 23:06] mitermayer commented on #51
The above PR got merged, now just waiting for a release then I will be able to do a release to fix this issue.

[2017-09-04 23:16] mitermayer commented on #51
Will attach a PR that fixes this issue, but won't be able to merge until the next prettier release

[2017-09-06 03:47] mitermayer commented on #51
Attached a PR that fixes this issue: https://github.com/prettier/vim-prettier/pull/52

Can only merge once prettier has done a new release.

Note that this will be a minor release since it will no longer be compatible with older prettier versions

[2017-09-14 18:15] #51 closed

[2017-09-14 18:21] mitermayer commented on #51
This is a breaking change as now vim-prettier is incompatible with older versions of prettier.

[2017-09-17 10:33] danmcatee opened #53 "Ignored unknown option: --config-precedence"
I get this error one every save

This is the configuration in my vimrc file:

let g:prettier#config#print_width = 120
let g:prettier#config#bracket_spacing = 'false'
let g:prettier#quickfix_enabled = 1
let g:prettier#autoformat = 0
autocmd BufWritePre *.js,*.jsx,*.mjs,*.ts,*.tsx,*.css,*.less,*.scss,*.json,*.graphql Prettier

[2017-09-17 10:39] patrickkahl commented on #53
You need to update your global prettier to the latest version.

[2017-09-17 10:40] danmcatee commented on #53
Done that already it's 1.7.0

[2017-09-17 10:58] patrickkahl commented on #53
Do you use nvm?

[2017-09-17 11:00] danmcatee commented on #53
yes

[2017-09-17 11:01] danmcatee commented on #53
you mean node version manager?

[2017-09-17 11:03] patrickkahl commented on #53
Yes

[2017-09-17 11:03] danmcatee commented on #53
no i dont

[2017-09-17 11:08] patrickkahl commented on #53
Did you updated vim-prettier. They released a new version three days ago.

[2017-09-17 11:08] danmcatee commented on #53
yep

[2017-09-17 16:26] mitermayer commented on #53
@damcatee the prettier CLI resolution will first look for loca prettier installed on your project, then will look on the global one and if nothing is found will check on the vim-prettier installation directory.

Could you please check the following:

1 - are you running prettier in a folder of a project that have would have a 'node_modules' directory somewhere along the parent ancestry? If any is

[2017-09-17 16:30] mitermayer commented on #53
Since you have mentioned that you have prettier installed globally it's most likely that along the parent ancestry you will find a node_modules folder that have an older version of prettier

[2017-09-18 07:01] mitermayer commented on #53
Hi @danmcatee,

To avoid confusion I have just done a new `vim-prettier` release `0.1.1`  which adds some new commands that can help debugging this issue:

- `:PrettierVersion` - prints the `vim-prettier` plugin version
- `:PrettierCli <q-args>` - send commands to the resolved `prettier` cli
- `:PrettierCliPath` - check what is the resolved `prettier` cli path
- `:PrettierCliVersion` - check what

[2017-09-18 23:38] mitermayer commented on #53
Hi @danmcatee,

Will close this issue for now, if you feel like the above commands have no helped you identify the problem please feel free to re-open it.

[2017-09-18 23:38] #53 closed

[2017-09-19 16:17] mitermayer commented on #31
Hi @sleepycat,

To give a bit more context around the default choices for `vim-prettier`.

We are following the settings for `FB` and that uses the flow parser.

However since `prettier` now supports custom configuration (prettier 1.7+) you can now overwrite this behavior by creating `~/.prettierrc` or the already supported `.vimrc` configuration.

`vim-prettier` will give higher precedence to `.p

[2017-09-20 02:23] samumist commented on #53
I had the same problem that's due to a local installed version (version 1.3) of the project though my global version is the latest (1.7). Once I updated the local version to the latest, the problem is solved.

[2017-09-25 20:19] magicmark commented on #53
Is there a way to specify a specific path to prettier? (I cannot update the version of prettier in a project i'm working on)

[2017-09-25 22:05] mitermayer commented on #53
@magicmark currently there is not, but its a good idea, will create a task for it and see if I can deploy a new `vim-prettier` version with that option tonight.

In the meantime a work-around is delete the prettier local installation folder from the project you are working on `node_modules/prettier` that will than cause it to default to either the global prettier or the `vim-prettier`.

[2017-09-25 22:06] mitermayer opened #56 "Allow configuration to set lookup path for `prettier` cli on `.vimrc`"
We should allow the user to be able to specify the prettier cli bin path on their `.vimrc` file

This would solve problems like the following:

[2017-09-25 22:06] mitermayer commented on #53
@magicmark  created the task for it https://github.com/prettier/vim-prettier/issues/56 will try to get into it ASAP

[2017-09-26 05:34] #56 closed

[2017-09-26 05:44] mitermayer commented on #53
@magicmark Just did new release of `vim-prettier` to version `0.1.2`.

You should now be able to overwrite the default path by adding this flag to your `.vimrc` file:

[code]

[2017-09-28 02:27] dchang-dchang opened #58 "Question. Why differ from prettier?"
HI! Thanks so much for all your work on `prettier` and `vim-prettier`. It was exactly what I was looking for after having used `gofmt`.

I'm super curious - on the [readme](https://github.com/prettier/vim-prettier/blob/master/README.md#overwrite-default-prettier-configuration), you say that you differ from Prettier intentionally. Would love to better understand the reasoning as I'm currently tryin

[2017-09-28 02:41] mitermayer commented on #58
Hi @dchang-dchang,

Thank you for your kind words. The reason why we differ from prettier is because we are also used internally at Facebook and we follow the Facebook prettier configuration format (https://github.com/prettier/eslint-plugin-prettier#options).

You can update the default `vim-prettier` settings to better suit your company/project by either updating your `.vimrc` configuration or by

[2017-09-28 02:41] #58 closed

[2017-09-28 03:40] dchang-dchang commented on #58
@mitermayer Thanks for the quick reply! That makes a lot of sense - was noticing that vim-prettier matched react's prettier flags.

Mind if I ask a newbie question? How do you manage differing prettier configurations across projects?

Let's say I want to contribute to Yarn and also React and they have different prettier settings. Do you manually edit `.vimrc` every time you change between these pr

[2017-09-28 03:44] dchang-dchang commented on #58
No need to respond. Found the answer to my own question. Did not know that vi had project specific settings!

http://vim.wikia.com/wiki/Project_specific_settings

[2017-09-29 05:01] mortyccp commented on #48
FYI: [vim-go](https://github.com/fatih/vim-go) has format but it keeps the cursor position and history. You might take a look on how it achieves that.

[2017-09-29 05:26] mitermayer commented on #48
@mortyccp  great finding!

managed to find where they achieve that:

https://github.com/fatih/vim-go/blob/86834ce79a00325d15a27f74733980d98ef06ad7/autoload/go/asmfmt.vim#L40

and on

https://github.com/fatih/vim-go/blob/5730b71ea57c3db0972968889a1d098139cb6031/autoload/go/fmt.vim#L53

Are examples of them deleting history, if you want to send a PR to `vim-prettier` you just need to adapt that simi

[2017-09-29 06:47] mortyccp commented on #48
@mitermayer Sorry, I am not familiar with VimL

[2017-09-29 20:29] nathanspecht opened #59 "`--parser` with value `postcss` is deprecated"
This line is being prepended to my *.css files when formatting with vim-prettier:

`--parser` with value `postcss` is deprecated. Prettier now treats it as: `--parser=css`.

I am using prettier version 1.7.1.

[2017-09-30 01:15] mitermayer commented on #59
Hi @nathanspecht thanks for reporting that, will work on a fix for it tonight and do a new release

[2017-09-30 03:40] mitermayer commented on #59
this is also happening

https://github.com/prettier/prettier/issues/2936

[2017-09-30 03:53] samumist commented on #59
Had the same problem.

[2017-09-30 04:19] mitermayer commented on #59
Trying to figure out a solution for this problem, in the meantime if you guys can use an older prettier version 1.7.0 that would be great.

I have just pushed to master a pin to force using prettier 1.7.0 dependency version while I try to figure out how to fix things in here and on prettier itself, so please update `vim-prettier` and

in the meantime you can do that by:

[code]

[2017-09-30 04:57] mitermayer commented on #59
Just did a 0.1.3 release that should fix this issue. Please feel free to reopen if you still have the same problems

[2017-09-30 04:57] #59 closed

[2017-10-03 17:45] michaeljones opened #60 "Confused by file type overrides"
Thanks for writing the plugin. Keen to start using it but I've just had a very confusing 30 mins whilst I tried to figure out why vim-prettier seemed to be ignoring my prettier project config file.

I feel that the README indicates that prettier defaults to 'prefer-file'. But in order to get that behaviour when using typescript I have to delete these lines:

https://github.com/prettier/vim-prettie

[2017-10-04 05:41] mitermayer commented on #60
Hi @michaeljones,

Thank you for this message, the reason why I had to manually add `cli-override` was due to this issue https://github.com/prettier/prettier/issues/2946, but now that  I just noticed prettier release `1.7.4` I should be able to properly fix this in vim-prettier.

I will be working on this issue now and do a release for it soon, once release it should just work with your project fi

[2017-10-04 05:55] #60 closed

[2017-10-04 05:59] mitermayer commented on #60
Hi @michaeljones,

I have just done a release with this fix, please upgrade your `vim-prettier` plugin. It should work now as you expected assuming the project you work on is using prettier 1.7.4+

[2017-10-04 08:42] michaeljones commented on #60
Wow, thanks for such a quick resolution @mitermayer! Updating now :D

[2017-10-06 23:36] alanhamlett opened #62 "Overwrites Buffer1 with contents of Buffer2"
Probably from a race condition where saving then immediately switching to a different buffer, the buffer switched to is overwritten with the contents from the previous buffer.

[2017-10-06 23:46] mitermayer commented on #62
Hi @alanhamlett,

Thanks for reporting this! Just managed to reproduce it. Will start looking into it during the weekend.

[2017-10-07 07:16] #62 closed

[2017-10-07 07:22] mitermayer commented on #62
just did a new release with a fix for this issue

[2017-10-07 22:17] mitermayer commented on #62
@alanhamlett just did another follow up release to enable formatting on switched buffers

[2017-10-10 16:13] dfishburn opened #67 "No references to getting help or support"
vim-prettier 0.2.3

I have installed and using it now, thank you for the plugin.

doc\prettier.txt makes no mention on how to ask for help or support on the plugin.
No website given or email address supplied.

The only way I found this website was opening the changelog.md.

Most plugin authors put headers at the top of **each** of the files with something like this:
[code]

This helps people find

[2017-10-10 16:16] dfishburn opened #68 "plugins should reference global variable"
To prevent a script from being loaded and reloaded and reloaded, Vim files add (*.vim) typically add the following to the top of them:

[code]

That way they get loaded once and only once.  Once the functions and initialization is complete, there is no need to re-source this file.

[2017-10-10 16:22] dfishburn opened #69 "SyntaxError: Unexpected token"
vim-prettier 0.2.3

I have the following JSON:
[code]

If I simply run `:Prettier`, I get this correct output:
[code]

But, if I visually select just this line:
[code]

And run: `:'<,'>Prettier`, I get an error:
[code]

Prettier version:
[code]

Note, it is a bit inconsistent.
If I had more lines, sometimes it formats them correctly.  I was pruning my JSON lines to try to find a small reproducible

[2017-10-10 16:25] dfishburn commented on #67
Sorry, I see you have this section in plugin\prettier.vim:
[code]

Strangely that was the last spot I looked, it really should have been the second spot after the prettier.txt file.

Comment still applies (all files), but sorry for not noticing this first.

[2017-10-10 16:36] mitermayer commented on #68
Hi @dfishburn,

Please not that we have this logic on https://github.com/prettier/vim-prettier/blob/master/plugin/prettier.vim#L14

[code]

[2017-10-10 16:37] mitermayer commented on #67
Hi @dfishburn,

Will include the above comment on all the other files. Also accepting a PR.

Thanks for reporting it :)

[2017-10-10 16:47] mitermayer commented on #69
Hi @dfishburn,

Thanks for reporting this issue, when sending the selected text to `prettier` and having it attempt to format it, this relies on the line being sent to be on a valid format that the parser can understand, that's why you get that error since the bellow statement is not a valid `JSON` format on it's own:

[code]

[2017-10-10 16:47] #69 closed

[2017-10-10 16:49] dfishburn commented on #68
One thing I am not certain on, when you reference a function in the autoload file, whether Vim automatically sources that file first and then calls it or whether it checks if the function exists and does not source it.

I just that standard patter in all my files.

[2017-10-10 16:55] mitermayer commented on #68
Hi @dfishburn

Autoloaded function get evaluated only once and are also lazy loaded. This is a good reference: http://learnvimscriptthehardway.stevelosh.com/chapters/53.html

Some quotes from the above link

    When you run this command, Vim will behave a bit differently than a normal function call.
    If this function has already been loaded, Vim will simply call it normally.
    Otherwise Vim

[2017-10-10 16:56] mitermayer commented on #68
Once again thanks @dfishburn  for raising this issue,

Feel free to comment/re-open this issue if you have any further questions or any info around it

[2017-10-10 17:07] dfishburn commented on #68
Actually from that web link you provided:
[code]

That is the case I am talking about.
Once you reference a **different** function in the **same** file, a function that Vim has not used yet, it sources the file again.

Had you not defined all your functions using `function!`, you would have seen an error (function already exists) each time you call a different function.

So, for efficiency you do

[2017-10-10 17:09] dfishburn commented on #67
You might also want to reference the github link in the description of your [plugin](http://www.vim.org/scripts/script.php?script_id=5572).  Many other people do this.

[2017-10-10 17:25] mitermayer commented on #68
Will look into this later and get back to this issue, in the meantime will leave it open until I can can check on it more in depth

[2017-10-14 20:18] mitermayer commented on #68
Hi @dfishburn,

In order to debug the above statement I have just performed the following test, edited `autoload/prettier.vim` and included on the top the following line:

[code]

Then I did the following steps:

1. Opened a new file
2. Executed `:Prettier`
3. Executed `:PrettierCliVersion`
4. run the command `:messages` to check for the printed messages

outcome:

- "loading vim-prettier" got pri

[2017-10-14 20:18] #68 closed

[2017-10-14 20:28] #67 closed

[2017-10-19 23:23] sunflowerdeath opened #71 "Incorrect resolving of prettier config"
Prettier uses following logic for resolving config:

Plugin should resolve config of each file using command `prettier --find-config-path ./my/file.js`

This causes issues when I use following project structure:
[code]
 Plugin doesn't use configs from corresponding directories and formats both files `packageA/src/index.js` and `packageB/src/index.js` with default config.

[2017-10-19 23:42] mitermayer commented on #71
Hi @sunflowerdeath

Thanks for reporting this issue, will try to look into it during the weekend, otherwise feel free to open a PR.

If you want to contribute I think this could be achieved by editing the CLI arguments passed to the prettier CLI on https://github.com/prettier/vim-prettier/blob/master/autoload/prettier.vim#L238 and include the following:

[code]

Otherwise I will look into it durin

[2017-10-20 04:32] #71 closed

[2017-10-20 04:34] mitermayer commented on #71
@sunflowerdeath Thanks for reporting this! Fixed this via https://github.com/prettier/vim-prettier/pull/72 and just did a new release 0.2.4 with this fix!

[2017-10-22 12:48] ferdinandsalis commented on #31
Hi @mitermayer,

I am getting this error message. I have tried setting the parser to `babylon` from my vimrc. I am still observing the same error. Any idea what else could be wrong?

[2017-10-22 22:00] mitermayer commented on #31
Hi @ferdinandsalis,

Could you please provide me a bit more information about your environment ?

* Whats your OS ?
* Whats your vim-prettier version ? (you can get that info by doing `:PrettierVersion`)
* what is the resolved prettier cli version ? (you can get that info by doing `:PrettierCliVersion`)

[2017-10-23 14:55] Mike-Now commented on #31
@ferdinandsalis  Updating to the newest version of vim-prettier fixed it for me.

[2017-10-24 13:39] ferdinandsalis commented on #31
@Mike-Now I am using the latest version

@mitermayer sorry for providing insufficient information
* macOS
* vim-prettier: 0.2.4
* prettier-cli: this returns no information
* prettier-cli-path: /Users/ferdinand/Code/galeriste/node_modules/.bin/prettier
* this does not seem to be the same issue as https://github.com/prettier/prettier/issues/2555

Accoring to ./node_modules/.bin/prettier its version

[2017-10-24 16:06] mitermayer commented on #31
Hi @ferdinandsalis,

Sorry that you are experiencing this issues, we will help you figure out why and unblock you.  I have tried to reproduce this issue locally unsuccessfully, so I may need to ask you some more questions.

* Could you please provide me the version of your vim by checking on `:version` ?
* Could you please provide me the output of `:PrettierCliVersion`
* Could you please double ch

[2017-10-28 11:38] ferdinandsalis commented on #31
My nvim `:version` output
[code]

`:PrettierCliVersion` does not provide any visible output

There is also no prettier configuration besides the one in my `.vimrc` (see above). I can also confirm that `vim-prettier` works for me with system installed vim and the latest installed via homebrew.

Thanks again for your help. For now I will just use vim and not neovim, since prettier is essential to my

[2017-10-31 17:13] jojoyuji commented on #53
Happening now for me.
Using `vim-prettier 0.2.4`
with `global prettier version 1.7.4`

[2017-10-31 17:16] jojoyuji opened #73 "prepends `Ignored unknown option: --config-precedence` in buffer"
When executing `:Prettier` it prepends `Ignored unknown option: --config-precedence` in buffer

I'm using `vim-prettier 0.2.4`
with `global prettier version 1.7.4`

I believe it's related to https://github.com/prettier/vim-prettier/issues/53

[2017-10-31 17:19] mitermayer commented on #53
Hi @jjojoyuji

Could you please confirm that:

1. Vim prettier version is 0.2.4 by checking output of:

[code]

2. Check that you are really using a prettier CLI with version over 1.7.4 by checking output of:

[code]

3. If the above version is not what you expected you can check what is the resolved prettier cli by checking output of:

[code]

***

Sometimes you may have the global installed pret

[2017-10-31 17:21] mitermayer commented on #73
Hi @jojoyuji

Could you please confirm that:

1. Vim prettier version is 0.2.4 by checking output of:

[code]

2. Check that you are really using a prettier CLI with version over 1.7.4 by checking output of:

[code]

3. If the above version is not what you expected you can check what is the resolved prettier cli by checking output of:

[code]

***

Sometimes you may have the global installed prett

[2017-10-31 18:16] jojoyuji commented on #73
Woah, found the issue!

I had updated my prettier globaly indeed, however I realized that `vim-prettier` was using my current project's Prettier by running the `:PrettierCliPath`

Thx @mitermayer for the help.

[2017-10-31 18:16] #73 closed

[2017-10-31 19:48] mitermayer commented on #53
Quoting the comment from https://github.com/prettier/vim-prettier/issues/73#issuecomment-340854914 to this thread in case some other users may have been facing similar issue:

   I had updated my prettier globaly indeed, however I realized that vim-prettier was using my     current project's Prettier by running the :PrettierCliPath
  Thx @mitermayer for the help.

[2017-11-06 21:54] sudavid4 opened #75 "Formatting with visual selection doesn't respect indentation"
It formats nicely but removes indentation from first line of visual selection.
I suppose it would be more reasonable to just keep the current indentation

[2017-11-07 10:44] ciases opened #76 "Prettier: failed to parse buffer. Prettier fails on css files."
Hello there!
For unknown reason prettier cannot style css files (there is no any problem with javascript by the way).
Example of css file:

[code]
My environment:
- Ubuntu 16.04 x64
- `:PrettierCli` nothing
- `:PrettierCliPath` prettier
- `:PrettierCliVersion` 1.8.0
- `:PrettierVersion` 0.2.4
- `:version`
[code]

[2017-11-07 14:12] adam-beck commented on #76
It does the same thing with `.json` files as well.

[2017-11-08 01:18] mitermayer commented on #76
Hi @adam-beck,

Thanks for reporting this issue will look into it

[2017-11-08 02:27] mitermayer opened #77 "Add support for prettier 1.8"
We should add support for prettier 1.8

- [x] Bump internal plugin dependency
- [x] Add support for markdown formatting
- [x] Update readme and docs

[2017-11-08 02:29] mitermayer commented on #76
Looks like something has changed on the new prettier `1.8` release. Will look into it and do a new release with the fixes as soon as possible

[2017-11-08 05:18] mitermayer commented on #77
latest version of prettier breaks `vim-prettier` error handling since they changed their default CLI error display

before was:

[code]

now it is:

[code]

***

changes like that makes upgrading `prettier` a breaking change for `vim-prettier` since it wont be able to support older versions of prettier.

cc @lydell @azz

[2017-11-08 07:32] mitermayer commented on #76
Managed to reproduce this issue on `prettier` `1.8.1` will investigate a bit more on this tomorrow to try to solve it.

This seems to be only happening only on `:PrettierAsync`, so in the mean time people can be unblocked by using the synchronous formatting `:Prettier`

[2017-11-08 07:32] mitermayer commented on #77
prettier 1.8+ also caused https://github.com/prettier/vim-prettier/issues/76

[2017-11-08 08:10] lydell commented on #77
Why won’t you be able to support older versions of Prettier because of the error message change?

[2017-11-08 09:52] sudavid4 commented on #75
I've made a pull request for this https://github.com/prettier/vim-prettier/pull/78

[2017-11-08 17:02] mitermayer commented on #77
Hi @lydell,

In that case it was not a problem since we were able to have one sigle regex to match them all (otherwise we would have to version check prettier on initialization to know which regex to use)

But due to the nature that `vim-prettier` uses the CLI API, simple changes like changing the message output can cause problems and unseen breaks

[2017-11-08 18:19] #76 closed

[2017-11-08 18:20] lydell commented on #77
We should be more careful in the future, then.

[2017-11-08 18:20] lydell commented on #77
We should be more careful in the future, then.

[2017-11-08 18:20] lydell commented on #77
We should be more careful in the future, then.

[2017-11-08 18:31] mitermayer commented on #76
So it turns out this was a regression introduced by https://github.com/prettier/vim-prettier/pull/74

***

At this stage reverted that PR and will revisit it again to make sure no regressions will be introduced

[2017-11-08 19:11] #77 closed

[2017-11-09 03:09] chemzqm commented on #76
I'm ok with the revert, but I have no idea why the PR could cause this bug.

[2017-11-10 08:18] DanAndreasson commented on #31
a `:PlugUpdate` followed by a restart did the trick for me

[2017-11-15 09:20] dedoyle commented on #42
can I use prettier-eslint-cli by this config
`let g:prettier#config#config_precedence = 'prettier-eslint'`

[2017-11-15 16:55] mitermayer commented on #42
Hi @dedoyle,

The `configPrecedence` option is basicly what prettier gives to use:

so if you do on the CLI `prettier --help` you can get more information on the available options:

[code]

To answer your question, `'prettier-eslint'` is not a valid option

[2017-11-16 08:41] dedoyle commented on #42
I'm looking forward to you to complete this issue. Atom has a prettier-atom, and I had tried it. It feels great. But I still hope I can do it in vim, do not want to leave vim to atom. Thank you very much for vim-prettier.

[2017-11-16 16:46] mitermayer commented on #42
Hi @dedoyle,

`vim-prettier` supports prettier **custom configuration files** (https://prettier.io/docs/en/configuration.html#basic-configuration) have thought about creating a `prettier.config.js` with the settings required for your project ? you could even add one of those to your home directory.

example of one (https://github.com/facebook/draft-js/blob/master/prettier.config.js):

[code]

[2017-11-17 02:45] dedoyle commented on #42
prettier doesn't have some config like space-before-function-paren. how to fix it

![image](https://user-images.githubusercontent.com/12028922/32926691-8f65884a-cb83-11e7-8111-aa5f861e0e5e.png)

after prettier
![image](https://user-images.githubusercontent.com/12028922/32926706-a6b51f88-cb83-11e7-9e11-5637f79da7cf.png)

![image](https://user-images.githubusercontent.com/12028922/32926715-bb36072e-

[2017-12-03 05:00] trungdq88 opened #82 "Slow"
0.8s is really slow for me. Is this normal?

![tmux_new_-s___basename___pwd____tmux_](https://user-images.githubusercontent.com/4214509/33522526-8ae21d10-d821-11e7-90fc-062ce640a82b.png)

The file only has 3 lines:

![image](https://user-images.githubusercontent.com/4214509/33522542-d2a2e08a-d821-11e7-8657-b6cb9b05534d.png)

Running in command line mode take 0.39s:
![tmux_new_-s___basename___pwd__

[2017-12-03 08:37] mitermayer commented on #82
Hi @trungdq88,

Thanks for raising that, the reason why it may seem slower is that the command you are comparing it to is not the same command that `vim-prettier` executes over `prettier` you can see it in here (https://github.com/prettier/vim-prettier/blob/master/autoload/prettier.vim#L240).

Could you try running the same command on the command line ? intead of your example `prettier --write app

[2017-12-03 08:37] #82 closed

[2017-12-03 08:41] mitermayer commented on #82
I have also just tested it locally and confirmed this is `prettier` related.

Check this:

[code]

compared to:

[code]

I don't have time right now to dig in on what exactly from that command is causing prettier to behave slower, but if you can find it out I should be able to then work on something  `prettier` main repo itself to mitigate it

[2017-12-03 08:45] mitermayer commented on #82
Also worth testing this out with different versions of `prettier` as this could also be some performance regressions by `prettier` itself creating new features

[2017-12-03 10:27] trungdq88 commented on #82
`prettier` reported the task took, 44ms. But the actual `time prettier app.js` took ~1s. This is migt have something to do with the "bootstrap time" of `prettier`.

Is it possible to run something like an "daemon" or "prettier server" to "bootstrap" prettier only once?

[2017-12-03 10:27] trungdq88 commented on #82
I will create a issue on `prettier` as well.

[2017-12-07 14:11] nayed opened #83 "no semicolon not working"
[code]

Hi,
I've been using this config for some times and now in a fresh install it's printing semicolons. Did I missed something or something changed?

[2017-12-07 14:26] nayed commented on #83
I downgraded prettier from 1.9.1 to 1.8.2 and it's working again.
So the bug is from [prettier/prettier](https://github.com/prettier/prettier)?

[2017-12-07 23:30] mitermayer commented on #83
Hi @nayed,

Thanks for reporting this! Will have a look into it, there is a chance the new prettier version may have broken the integration. Will look into it ASAP prob

[2017-12-08 17:30] josemarluedke opened #84 "Single quote option not working"
The option to use single quote is not working.

I have the following in my vimrc:

[code]

Current using Prettier version is 1.9.1.

[2017-12-08 20:33] haochuan commented on #84
Same issue.
Current using Prettier version is 1.9.1.

[2017-12-08 21:19] mitermayer commented on #84
Looking into this now, may be some new incompatibility of the new prettier version

[2017-12-08 21:28] mitermayer commented on #84
Turns out this is a regression from `prettier` itself https://github.com/prettier/prettier/issues/3432, will mitigate this problem now by disabling `editorConfig` compatibility until the next release of `prettier` where that gets fixed

[2017-12-08 21:36] mitermayer commented on #83
Turns out this is a regression from prettier itself prettier/prettier#3432, will mitigate this problem now by disabling editorConfig compatibility until the next release of prettier where that gets fixed

Same as https://github.com/prettier/vim-prettier/issues/84

[2017-12-08 21:36] mitermayer commented on #84
https://github.com/prettier/vim-prettier/issues/83 also caused by the same above problem

[2017-12-08 21:41] #84 closed

[2017-12-08 21:44] mitermayer commented on #83
fixed on https://github.com/prettier/vim-prettier/pull/85

[2017-12-08 21:44] #83 closed

[2017-12-11 07:10] ffky opened #88 "Override for proseWrap option"
Hi! There is a `--prose-wrap` option for markdown files since 1.8.2 and was hoping we could configure this option through the plugin's config. Thanks! (If you are open to a PR for it please let me know)

https://prettier.io/docs/en/options.html#prose-wrap

[2017-12-11 12:45] mitermayer commented on #88
Hi @ffky,

Please feel free to submit a PR!

[2017-12-11 14:30] ohcibi opened #89 "Ignoring unknown option --loglevel, --no-editorconfig and --config-precedence"
Hi,

I've just setup again my vim/prettier/eslint setup and I noticed that when I use prettier with this plugin it adds (at least) 3 now unknown options to the prettier cli. I'm unsure if those options are just deprecated or replaced upstream as I didn't found anything in the changelogs. But it seems to work to just drop those options.

Heres what I did:
* Installed prettier in `node-6.9.5` locall

[2017-12-11 14:40] mitermayer commented on #89
Hi @ohcibi  you are using `vim-prettier` with an older version of `prettier. Can you please check the output of:

1 - check your prettier executable path

[code]

2 - Check your prettier version

[code]

You will need to update the `prettier` version for your project, most likely its an older version defined somewhere in an ancestor `package.json` file

[2017-12-13 05:30] mitermayer commented on #89
Closing this issue since it is probably due to using older prettier version. @ohcibi please feel free to comment/re-open if your problem is caused by a different issue

[2017-12-13 05:30] #89 closed

[2017-12-13 05:31] mitermayer commented on #88
Merged on https://github.com/prettier/vim-prettier/pull/90

[2017-12-13 05:31] #88 closed

[2017-12-14 10:49] ohcibi commented on #89
Yes you were right. Thanks!

[2017-12-27 14:58] blacksails opened #92 "Deletes file contents of files ignored by .prettierignore"
When I save a file ignored by a .prettierignore file, then its contents is deleted.

[2017-12-27 17:53] mitermayer commented on #92
Hi @blacksails,

Thanks fro reporting this, will investigate this soon and if is caused by vim-prettier will fix asap and do a new release. Otherwise will comment in here my findings.

[2017-12-27 17:59] mitermayer commented on #92
@blacksails

The problem in here is due to `prettier` itself not giving any `stdout` when ignoring the file parsing. `vim-prettier` has no way to know that the file has not being parsed since it cannot read `.prettierinore` files on its own.

@lydell  @azz , would be great if files that are ignored by `.prettierignore` could be simply printed as it is without formatting, maybe some extra CLI param

[2017-12-27 17:59] mitermayer commented on #92
Will raise this issue in prettier itself

[2017-12-27 18:03] mitermayer commented on #92
raised https://github.com/prettier/prettier/issues/3590

[2017-12-27 18:03] mitermayer commented on #92
In the meantime will do a workaround on `vim-prettier` itself for this by not replacing editing contents with empty stdout

[2017-12-28 18:43] #92 closed

[2018-01-03 19:42] jojoyuji commented on #73
hey @mitermayer just wondering here:

 isn't
[code]

supposed to override even a local project prettier?

I mean, since you're pretty much setting the path for the bin file itself, it just doesn't feel right...

What you think?

[2018-01-04 15:10] alex-shamshurin commented on #42
@dedoyle This is one reason as far as know to use prettier-eslint

[2018-01-04 16:56] mitermayer commented on #42
Hi @alex-shamshurin ,

It is on our roadmap for 1.0 release https://github.com/prettier/vim-prettier/projects/1, still trying to find time to action on it.

Before starting adding support for other CLI's I want to setup the automated testing infrastructure for `vim-prettier` to make sure no regressions will be introduce during the refactor. But hopeful to get into that soon!

[2018-01-09 17:15] EdmundMai opened #95 "How do I enable trailing commas?"
I would like to enable trailing commas. Instead of the formatter changing my code from:

[code]

to

[code]

I added this line: `let g:prettier#config#trailing_comma = 'all'` to my vimrc file but it doesn't seem to be working?

[2018-01-09 17:48] mitermayer commented on #95
Hi @EdmundMai,

I have just tested your snippet and it works. What may be happening on your case is that you may be trying to format a file that lives somewhere where a `prettier` configuration file exists along the ancestry, in that case `vim-prettier` will always respect the project configuration.

You can test that assumption by creating a file on a different folder outside your project with th

[2018-01-09 17:48] #95 closed

[2018-01-09 20:43] alex-shamshurin commented on #42
Hi, is there any update?

[2018-01-11 13:10] wwwdata opened #96 "Neovim unstable async formatting bugs"
Hi, I noticed that after updating my vim-prettier that in some files, the output is not correctly inserted into my neovim. Sometimes there are some random line breaks for whatever reason. Checking out one commit before cddacf16253dcd8a0747202f22413c7cd3f0160a solves the problem for me. So I guess something is wrong there?

I have a larger javascript file and an `export foo` get's broken down to

[

[2018-01-11 18:50] mitermayer commented on #96
Hi @wwwdata,

Thanks for reporting this, the neovim async feature still experimental, could you provide me some steps on how to repro it ? also what version of neovim are you using and prettier ?

One of the goals for the next major release (1.0) is to have full support for neovim so your help now on helping figure out some of this issues is greatly appreciated, in the meantime I may disable and/o

[2018-01-12 10:23] wwwdata commented on #96
nvim 0.2.2 and prettier 1.9.1

It is really hard to create a file that also fails.. I cannot just copy paste the real code right now from one of our projects.. I will try to play around with a couple open source repos later and see if I can reliably break something in there. But it needs to be a large file with at least 160 LOC and some variable names with underscores `_`

[2018-01-12 10:24] wwwdata commented on #96
Also when running prettier manually on the command line, everything is fine obviously :)

[2018-01-12 13:16] wwwdata commented on #96
ok I have an example. Just download this file from the react repo and run it in vim with prettier

https://raw.githubusercontent.com/facebook/react/master/packages/react-dom/src/test-utils/ReactTestUtils.js

For me this is breaking on line 275 which is a comment block and inserts a new line that should not be there.

[code]

[2018-01-12 19:37] mitermayer commented on #96
Thank you very much for this info @wwwdata , will look into this ASAP and keep you posted.

[2018-01-15 14:33] FabioAntunes commented on #96
I'm also getting some issues with prettier, in vim works fine, in nvim I'm having some issues.

Imagine this piece of code:

[code]
Since I have updated now it doesn't save the file, it just changes the buffer. Which will raise eslint warnings.

Let's say I remove the Logo line entirely:
[code]
hit `:w`

I will get
[code]

But that result is not saved is just on the buffer, the saved  result it's

[2018-01-15 17:26] mitermayer commented on #96
Thank you very much for all the info, in the meantime I disabled nvim async on master while we work on fixing the above, if you still want to keep using nvim async in the meantime you can add this to your `.vimrc`

[code]

Without the above flag `nvim` will be running `sync` in the meantime. I hope to get a fix for it in place soon. Thank you all for the info also feel free to submit PR's for it i

[2018-01-15 17:27] mitermayer commented on #96
for reference https://github.com/prettier/vim-prettier/pull/98

[2018-01-15 17:29] mitermayer opened #99 "Add support for neovim async"
This issue will be used to track adding support for neovim async

[ ] fix bugs reported on https://github.com/prettier/vim-prettier/issues/96
[ ] testing on neovim `0.2.0`
[ ] removing darkfeature flag
[ ] updating docs / readme
[ ] new release

[2018-01-15 17:30] FabioAntunes commented on #96
How it was previously was it always sync? Can't we just use Vim async? sorry for my ignorance, my vim scripting is very bad. I even tried to do some sort of debugging to help you guys, but no luck.

It seems that `BufWritePre` doesn't wait for nvim async job to finish (which might be the objective)

[2018-01-15 17:32] mitermayer commented on #96
Hi @FabioAntunes , before it was always running `sync` even when `async` flag was set (we did not have support for neovim async until a week ago), we will revert to that behaviour while we can fix the new `async` path.

I create a new issue to track this on https://github.com/prettier/vim-prettier/issues/99

[2018-01-15 17:34] FabioAntunes commented on #99
I would gladly help in anything you guys need, except scripting. Let me know if you need any help on testing.

[2018-01-15 17:34] mitermayer commented on #96
cc @chemzqm

[2018-01-15 17:35] mitermayer commented on #96
Will close this issue for now since i will be tracking the async support on another issue, feel free to comment in here or on the next issue. Hopefuly will be able to fix the above reported bugs soon and do a new release

[2018-01-15 17:35] #96 closed

[2018-01-16 20:37] ajcrites opened #100 "Ignored unknown options appearing at top of file"
This just came up recently, so I'm really not sure what could be the root cause. I have been using the same prettier configuration. I'm installing this plugin through dein:

    let g:prettier#autoformat = 0

    let g:prettier#config#parser = 'typescript'
    let g:prettier#config#single_quote = 'true'
    let g:prettier#config#trailing_comma = 'all'
    let g:prettier#config#bracket_spacing = 't

[2018-01-16 21:00] mitermayer commented on #100
Hi @ajcrites,

Could you please confirm that:

1. Vim prettier version is up to date 0.2.6 by checking output of:

[code]

2. Check that you are really using a prettier CLI with version over 1.9 by checking output of:

[code]

3. If the above version is not what you expected you can check what is the resolved prettier cli by checking output of:

[code]

***

Sometimes you may have the global insta

[2018-01-16 21:00] #100 closed

[2018-01-16 21:01] mitermayer commented on #100
Feel free to comment or re-open this issue if that does not fix your use-case, I have closed this issue since that is a common issue faced by other users. I will update the README with a FAQ area that explains this use case

[2018-01-16 21:44] devth commented on #89
It's not always possible to use the latest prettier. Can we have an option to not pass those args to the cli, or override the args passed?

My large-ish project is on prettier 1.7.4 and we can't upgrade at the moment.

[2018-01-16 21:51] mitermayer commented on #89
Hi @devth ,

It is pretty hard to keep `vim-prettier` backwards compatible with older versions of `prettier` specially the 1.7.4 where major changes has happened since.

You can always use an older version of `vim-prettier` by leveraging the `vim-plug`  'tag' directive:

[code]

[2018-01-16 21:53] devth commented on #89
Oh, good call (duh, that's the point of versioning 🤪). Thanks, that worked!

[2018-01-22 04:23] mitermayer commented on #96
Tryied to replicate @wwwdata  your use case with the file from the react repo. Both `vim` and `neovim` had same formatting output.

The reason why you may be getting diffren't outputs is not related to `vim-prettier` is related to the `prettier` version that is specified on the `react` repo itself. To confirm this can you try running `prettier` from the command line using the ./node_modules/.bin/p

[2018-01-22 04:24] mitermayer commented on #96
@FabioAntunes, I just confirmed the issue you have described. The reason is that the vim8 async formatting issues a save after formatting and the neovim format is not currently doing it. Will fix it now!

[2018-01-22 08:14] wwwdata commented on #96
@mitermayer I just copied the one file and tested it with the globally installed prettier version, yes. But outside of neovim it was just formatting fine.

Also in the repo that we are using in the company, it formats fine, except when I run it inside neovim with the new async feature, then I had some occasional newlines that should not be in there. But outside of neovim, the output was always cor

[2018-01-26 14:01] wellyal opened #102 "Overwrite default configs patterns not found"
Have I missed something. I am trying to overwrite the default configs from my /.vimrc but when I try to run vim I got this.

Pattern not found: prettier#config#print_width = 100
Pattern not found: prettier#config#tab_width = 2
Pattern not found: prettier#config#use_tabs = 'false'
Pattern not found: prettier#config#semi = 'false'
Pattern not found: prettier#config#single_quote = 'true'
Pattern not

[2018-01-26 17:29] mitermayer commented on #102
Hi @wellyal,

Can you please paste here how you are overwriting the above on your .vimrc ? also what vim version ? what OS ?

Thanks!

[2018-01-29 21:09] mtsznowak commented on #102
I have encountered the same issue (NVIM v0.2.2). I don't know why, but prepending every line of config with `let` solved the problem, e.g.
```let g:prettier#config#print_width = 80```

[2018-01-29 22:16] mitermayer commented on #102
Hi @mtsznowak ,

The global configuration variables are meant to be overwritten with `let g:foo = "bar"` syntax, glad you figured it out.

@wellyal  does that solve your problem as well ?

Will close this issue for now, if you still experience same issue please feel free to reopen. Also feel free to leave any comments in here!

Thanks a lot :)

[2018-01-29 22:16] #102 closed

[2018-01-30 18:20] mitermayer opened #106 "Update DOC's and README"
It has been a long time since we updated the README, and it feels like we just keep adding new extensions on the code usage. We should make sure we have a very clear and unambiguous README, some FAQ area and a clear examples of suggestions of integrations.

Would be amazing if someone from the community could tackle this work :)

[2018-01-30 21:48] nelsyeung opened #108 "vim-prettier not working when editing files that have white spaces on its path"
I'm getting `Prettier: failed to parse buffer.` error when I run `:Prettier` or `:PrettierAsync`.
Running the executable itself (i.e., `npx prettier` or `npm run prettier`) doesn't causes any issue.

**Version info:**
vim-prettier: latest (updated just today)
Prettier version: 1.10.2 (local node_modules)
OS: macOS 10.13.3
Vim:
8.0 (2016 Sep 12, compiled Jan  7 2018 10:47:02)
macOS version
Included

[2018-01-30 22:24] mitermayer commented on #108
Hi @nelsyeung ,

Thank you for submitting this issue, in order for me to better assist / debug this problem could you please provide me some more info on:

the resolved prettier cli version:

[code]

the prettier executable path:

[code]

vim prettier version

[code]

***

Other information is the extension of the file you were editing while running that command.

thanks a lot!

[2018-01-30 22:37] nelsyeung commented on #108
That's interesting, it looks like it could be a problem with directories with spaces:
[code]

Extensions: `js, jsx, css`

[2018-01-30 22:46] mitermayer commented on #108
Great finding @nelsyeung, looks like we are not handling directories with spaces well, I can try to have a look into it soon, in the meantime please feel free to submit a PR for it!

[2018-01-30 22:47] mitermayer commented on #108
I also editing the description of this issue, please feel free to edit the description to anything else you may think better describes this issue.

[2018-01-30 22:48] nelsyeung commented on #108
Sounds perfect. Thanks. 👍

[2018-01-31 13:04] wellyal commented on #102
Yes, totally. thx

[2018-01-31 14:19] Luobata opened #109 "Unexpected token @"
The prettier throw a exception when use the `decorator`.
enviroment: js with babel-env.

[2018-01-31 15:01] mitermayer commented on #109
Hi @Luobata ,

Thank you for submitting this issue, in order for me to better assist / debug this problem could you please provide me some more info on:

the resolved prettier cli version:

[code]

the prettier executable path:

[code]

vim prettier version

[code]

***

Other information is the extension of the file you were editing while running that command.

thanks a lot!

[2018-01-31 15:03] mitermayer commented on #109
Could you also provide me the steps you did in other to encounter this issue ? Also does the prettier CLI for your project works on the file by ‘.node_modules/.bin/prettier yourfile’ ?

[2018-01-31 16:20] mitermayer commented on #109
Not sure whAt issue you may be facing but worth checking on prettier itself https://github.com/prettier/prettier/issues/759 in the past the flow parser had some issues with decorators

[2018-02-01 23:52] nelsyeung commented on #109
I just want to add that I'm having this problem as well:
[code]

Executing the executable itself works:
[code]
It works with passing in a single file as well.

[2018-02-02 00:29] nelsyeung commented on #109
@Luobata are you sure you want to use the flow parser which is the default in vim-prettier, but not the default in prettier?

It's likely that you want to add this to your `.vimrc`
[code]

[2018-02-03 17:43] mitermayer commented on #109
I am closing this issue since I cannot reproduce and did not have enough information to do so, please feel free to comment or reopen this issue if you can add some more information around it

[2018-02-03 17:43] #109 closed

[2018-02-04 14:43] Industrial opened #112 "Use prettier config for formatting rules"
Hi.

It would be awesome if a project's prettier config would override defaults. Right now my vim, on leaving insert mode, will format `import {X} from 'y';` and I have configured prettier (if I run it from cli/package.json) to use `import { X } from 'y';`.

[2018-02-04 14:53] Industrial commented on #112
Never mind, it does exactly what it should.

[2018-02-04 14:53] #112 closed

[2018-02-06 20:46] alanhamlett opened #113 "Error infinite loop Prettier: failed to parse buffer"
### Reproduction steps:

1. modify file in buffer 1 without saving
2. switch to buffer 2
3. modify file and `:w`
4. switch back to buffer 1

Error appears forever, until restarting Vim.

![prettier-bug](https://user-images.githubusercontent.com/522344/35883312-af8887ce-0b3b-11e8-8f18-d4f5388cd2e2.gif)

[2018-02-06 21:06] mitermayer commented on #113
Thanks @alanhamlett,

I will investigate this as soon as I have some free time. This is a tricky race condition problem to solve.

Do you mind also providing some minimal code for buffer 1 and buffer 2 so that I can try to replicate locally while attempting to work on a fix for it ?

[2018-02-07 13:20] Luobata commented on #109
@nelsyeung 3q! It work and solve my problem.

[2018-02-07 13:22] Luobata commented on #109
@mitermayer thanks for your support and sorry not leave enough information, and the problem was resolved by add
`let g:prettier#config#parser = 'babylon'`

[2018-02-07 20:03] alanhamlett commented on #113
I was using prettier version `1.7.4`, after upgrading to `1.10.2` I haven't noticed it happening. Probably still a bug, just not triggered unless prettier fails to parse the file?

[2018-02-07 20:08] mitermayer commented on #113
I haven't had time to investigate this yet, lets leave this issue open to see if anyone hits on it in the next week or so, otherwise we close it.

Thanks again for all your help @alanhamlett !

[2018-02-11 22:03] helixbass commented on #58
@dchang-dchang looks like `vim-prettier` respects project-specific `.prettierrc` (at least in the current directory), even overriding options set via `let g:prettier#config#[...]` in `~/.vimrc`. So you don't have to go to the trouble of using vim's own project-specific settings mechanism

[2018-02-14 17:46] ryanlabouve opened #114 "Error on autosave"
I added this from the docs:

[code]

But now when I save, I get `Error detected while processing BufWritePre Auto commands for "*.js":`

and `E20: Mark not set`.

Any suggestions for debugging this?

[2018-02-14 17:50] ryanlabouve commented on #114
I restarted VIM and this error went away! Sorry for false alarm.

[2018-02-14 17:50] #114 closed

[2018-02-20 16:07] sloansparger commented on #100
I just ran into this issue as well. This was printed out at the top of my file:
[code]
`:PrettierVersion` returns `0.2.6`
`:PrettierCliVersion` returns `1.7.4`
`:PrettierCliPath` returns `/Users/Sloan/<redacted>/<my-project-folder>/node_modules/.bin/prettier

However, I haven't noticed this happening on another project were the prettier cli version `1.10.2` so upgrading versions might be useful to

[2018-02-28 19:00] nikolvs opened #116 "Format without saving"
Is there a way to format a file without automatically saving it? I read the docs, but didn't find anything about it there. If not, is it possible to implement this feature as an option? Thanks!

[2018-03-01 05:37] mitermayer commented on #116
Hi @nikolvs

Hi @nikolvs,

Thanks for raising this question. Prettier async always saves the file, but if you run the synchronous version it should'nt save it.

`:Prettier`

One common problem is when you setup your `.vimrc` to use `async` by default with:

[code]

The above will cause `:Prettier` to run as an alias for `:PrettierAsync`.

[2018-03-01 05:39] mitermayer commented on #116
Please try the above and let me know if that solve your problem (removing the flag that forces async formatting from your .vimrc)

[2018-03-01 05:40] mitermayer commented on #116
I also wonder how could we solve this problem differently, Im not sure if adding yet another configuration option is the right solution since that would make thing even harder to configure

[2018-03-01 14:30] nikolvs commented on #116
Hey @mitermayer, that solved my problem! Thanks!!

[2018-03-01 14:30] #116 closed

[2018-03-01 17:54] wellyal commented on #30
This info should be documented. The doc says its default format on auto save, but only when I declared this config explicitly on my .vimrc it has worked.

[2018-03-01 21:45] mitermayer commented on #30
@wellyal  it will only autoformat if the pragma "@format" exists on the file example:

[code]

That will auto format upon saving, however if you try on a file with:

[code]

it won't auto format, notice its missing the pragma `@format`

***

@wellyal  does that clarifies your question ? I believe the above is described on the README, if you think its not clear enough feel free to submit a Pull Req

[2018-03-02 17:30] wellyal opened #117 "Is there a prettier.eslintIntegration config"
I would like my prettier to read all configs from my eslint. Is there a support for this issue. I haven't found in the doc.

[2018-03-02 17:41] mitermayer commented on #117
Hi @wellyal,

Thanks for raising this question, `vim-prettier` is a wrapper for `prettier` and will support all `prettier` API.

The way we currently handle configuration is by passing to `prettier` itself the configuration file or where to find it, we do not read the config file.

For `vim-prettier` to start supporting `.eslintintegration` config files `prettier` itself will need to have support

[2018-03-02 17:41] #117 closed

[2018-03-05 18:51] therealplato opened #118 "Can't spot why prettier fails to parse css: "1 col 6| Unexpected token, expected ;""
Hi, after searching I saw other issues causing this error string, caused by syntax errors or incomplete expressions passed to the engine. I'm observing it when saving a css file.

I have installed prettier with `  Plug 'prettier/vim-prettier', { 'do': 'yarn install' }`
I have configured prettier with:
[code]
The file I'm saving, `foo.css`:
[code]
`:messages` shows "Prettier: failed to parse buffer

[2018-03-05 19:14] mitermayer commented on #118
Hi @therealplato,

Thanks for submitting this issue, could you please provide me a bit more information in order for me be able to help debugging your issue ?

can you please provide me the output of the commands

* `:PrettierVersion`
* `:PrettierCliVersion`
* `:PrettierCliPath`

Also can you try commenting out that line from your `.vimrc`:

from:
[code]

to:
[code]
***

I wonder if you are using

[2018-03-05 22:02] andreiglingeanu opened #119 "Support custom prettier plugins"
Currently, there a couple of prettier plugins that will offer consistent formatting for other languages. I tried [`prettier-php`](https://github.com/prettier/prettier-php) these days, it worked smooth from CLI but I was not able to get the plugin to work properly with this plugin, it just didn't passed a proper `parser` option to the `prettier` CLI command, it was probably just my bad knowledge of

[2018-03-05 22:17] mitermayer commented on #119
Hi @andreiglingeanu,

This is denifitly something we want to have integrated in `vim-prettier`. I haven't had a look into it just yet but will do as soon as I can.

In the meantime also accepting PR's for it.

Integration should be straight forward since `vim-prettier` is a simple wrapper around `prettier` itself therefore all things that can be done through the CLI should be possible to be integr

[2018-03-05 22:27] andreiglingeanu commented on #119
Sounds great! I'll try to have a look but I'm not 100% sure I'll be able to handle it, thanks for a quick heads up, though!

[2018-03-06 05:00] therealplato commented on #118
[code]
:joy:
All good after `yarn global add prettier` installed `1.11.1`.

[2018-03-06 05:00] #118 closed

[2018-03-09 09:55] andreiglingeanu commented on #119
Getting back to it, I found a solution. It turns out that `vim-prettier` defaults to `flow` parser when it does not recognize the type of the buffer it is in.

How I got `plugin-php` to work:

1. `git clone git@github.com:prettier/plugin-php.git ~/code/plugin-php`
2. add to `~/.prettierrc.js`:  `plugins: ["/Users/username/code/plugin-php"]`
3. At this point, we are ready to use the new parser and

[2018-03-09 17:37] mitermayer commented on #119
Hi @andreiglingeanu,

Thanks for looking into this! We could also add to `vim-prettier` file `package.json` the dependencies for 'php', 'python' and 'swift' there (assuming they are plain javascript modules). That way in theory it should work out of the box if using the `prettier` exec that comes with `vim-prettier` when the user doe snot have the other plugins installed.

I think it make sense to

[2018-03-09 21:50] andreiglingeanu commented on #119
I've opened a PR with some progress towards this. Could use some help and feedback. Thanks!

[2018-03-16 15:38] czosel opened #121 "Support for language-specific settings"
Hi,

first of all: thanks for this awesome plugin :wink:

Is it possible to configure prettier differently depending on the language? My current issue is that I need a tab-width of 4, but only for markdown files. I tried something like
[code]
but i guess PrettierAsync doesn't even accept CLI options.

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
0.2.6
**What

[2018-03-17 03:47] mitermayer commented on #121
Hi @czosel,

Thanks for raising this question! If you look into https://prettier.io/docs/en/configuration.html#configuration-overrides you will notice that you can do that by simply by updating you prettier configuration file.

example of `~/.prettierrc`:

[code]

Or you can add directly to the configuration of your project.

[2018-03-17 03:51] #121 closed

[2018-03-17 03:51] mitermayer commented on #121
Closing this issue for now, but please feel free to re-open or comment in this issue in case the above does not solve your problem

[2018-03-19 08:27] czosel commented on #121
Of course - thank you! :100:

[2018-03-23 01:51] AndreiMotinga opened #123 "bash: no job control in this shell"
**Do you want to request a *feature* or report a *bug*?**
Bug?

Just learned about prettier yesterday. Trying to install it in on neovim
Saving a file just adds  `bash: no job control in this shell`  to the top of the file without reindenting.
Do I need to install any npm packages? Which ones? If so, please update docs because it's unclear.

**What version of `vim-prettier` are you using - (output

[2018-03-23 11:52] chris-kobrzak commented on #102
Hey @mitermayer, would it make sense to update the "Overwrite default prettier configuration" section in the project's README to include these `let` keywords? Needless to say, I've just fallen into the same trap ☺️

[2018-03-23 17:03] mitermayer commented on #102
Hi @chris-kobrzak,

I may be missing something, but the `let` keywords are on the README, check https://github.com/prettier/vim-prettier/blob/master/README.md#configuration

Its also on the docs inside vim when you do `:help prettier`

[2018-03-23 20:29] mitermayer commented on #123
Hi @AndreiMotinga ,

Could you please provide me a bit more information in order for me be able to better assist you ?

* what is the version of neovim that you are running ? (output of `nvim --version | head -n 1`)
* what configuration for `vim-prettier` have you added to your `~/.config/nvim/init.vim` ?
* what is your OS ?

Thanks a lot!

[2018-03-23 23:18] AndreiMotinga commented on #123
Hey @mitermayer, sure thing.

➜  ~ nvim --version | head -n 1
NVIM v0.2.0
➜  ~ sw_vers
ProductName:	Mac OS X
ProductVersion:	10.13.3
BuildVersion:	17D102
➜  ~

in terms of vim-prettier config, I tried with and without settings. various things. Currently, I removed it.

I tried to install it twice with no luck, so postponed it until weekend :)

Thank you for your help.
Cheers.

[2018-03-25 04:30] mitermayer commented on #123
No problem,

@AndreiMotinga  will close this issue for now as I could not reproduce it, if you run in this problem again feel free to reopen/comment with some steps on how to reproduce this and I will be happy to jump on it and try to aid you.

Once again thank you for reporting this issue

[2018-03-25 04:30] #123 closed

[2018-03-25 22:29] mitermayer opened #126 "1.0 release"
Creating this issue to track down users features / feedback that they would like to have done on `vim-prettier` 1.0. I will be creating a `1.x` branch where I will keep iterating towards the major release. Thing I will be tackling are:

* [x] finalizing async support for neovim (https://github.com/prettier/vim-prettier/issues/99)
* [x] Add configuration to use `default` prettier settings (we curre

[2018-03-27 16:03] chris-kobrzak commented on #102
Sorry for the confusion @mitermayer. I was referring to the [config overrides section](https://github.com/prettier/vim-prettier/blob/master/README.md#overwrite-default-prettier-configuration).

It's a minor issue and I'm happy to submit a PR if you'd be happy to merge it.

[2018-03-27 16:51] mitermayer commented on #102
Hi @chris-kobrzak,

Wow! I haven't noticed that that area was missing the `let ` !! You all were right in here and I was wrong! I am sorry!

Please do submit a PR for it and it will be greatly appreciated!

[2018-03-29 03:26] sheerun commented on #126
Could you also support specifying prettier configuration in configuration file? https://prettier.io/docs/en/configuration.html Maybe even discovering prettier configuration by reading scripts in package.json

[2018-03-29 03:37] mitermayer commented on #126
Hi @sheerun ,

This is already supported! you can already create a `.prettierrc` file on your home directory or project and `vim-prettier` will respect it. We should probably add this information to the README.md since this is not the first time that someone has similar questions around it

[2018-04-03 06:56] Luobata opened #128 "Caught deadly signal SEGV when :PrettierAsync with large file"
The vim crash when :PrettierAsync with large file(around 500 lines after prettier).And it's fine with :Prettier.
[code]

My vim version:
[code]

btw: I found this problem when update my Mac OS version to 10.13.4.

[2018-04-08 18:34] playahater commented on #128
hi guys,

Same case here. i'm having this problem for a while now. using vim -u NONE when loading this file; that's the fastest fix for now :)
Think there's a low chance that there's an issue with OS or any dependency lib.

Concretely, the file is .ts with ~1700LOC .. There's all kinds of stuff in it. inline sql query lines, backticks and typescript code. Didn't have time to debug to see where it

[2018-04-08 18:40] mitermayer commented on #128
Hi @playahater,

Thank you for adding all this info, if you can paste the file on "gist" or somewhere online I will start looking into this straight away.

 Would definitly want to identify the root cause of this issue and if is something on `vim-prettier` itself fix it before `1.0` otherwise will submit a PR to `prettier` itself to fix this.

Thank you everyone for reporting issues and helping us

[2018-04-09 05:48] Luobata commented on #128
Hi @mitermayer ,

Here I make a file when I use :PrettierAsync it will crash.
[c.js.zip](https://github.com/prettier/vim-prettier/files/1888575/c.js.zip)

[2018-04-12 21:07] docwhat commented on #126
@mitermayer Is there an issue for _Add configuration to use default prettier settings (we currently use default FB settings)_?

If there was an issue with a rough description of how you'd like things, I could start submitting PRs to help you out.  I've written a [wrapper](https://github.com/docwhat/dotfiles/blob/master/tag-nodejs/bin/prettier) to strip out `--no-editorconfig`, so this would be int

[2018-04-13 02:51] mitermayer commented on #126
Hi @docwhat ,

Been flooded with work this week will start working on it during the weekend.

Please feel free to start submiting PR's, I think we can merge a lot quicker on the 1.0 branch and we can iterate on it until it get on a good stage for release.

[2018-04-13 02:54] mitermayer commented on #126
Create the branch "release/1.x"

[2018-04-17 17:41] simianarmy commented on #128
Same issue with me:

VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Mar 30 2018 07:37:16)
macOS version
Included patches: 1-1650
Compiled by Homebrew
Huge version without GUI.  Features included (+) or not (-):
+acl               +farsi             +mouse_sgr         -tag_any_white
+arabic            +file_in_path      -mouse_sysmouse    -tcl
+autocmd           +find_in_path      +mouse_urxvt

[2018-04-24 17:17] huyvohcmc opened #132 "<Plug>(Prettier) doesn't work"
Follow the README, I added this line to my `init.vim`:
[code]
But when I type my leader key follow by a `p` instantly, there are no prettier was run. It just pastes text (p) instead of fixing anything. If I change from `<Plug>(Prettier)` to `:Prettier`:
[code]
Then it will actually work. Why?

neovim: 0.2.2
Prettier version: 0.2.6
Test file: regular javascript file
init.vim: https://github.com/huy

[2018-04-24 17:43] mitermayer commented on #132
Hi @huyvohcmc,

Thanks for raising this issue. Will investigate this a bit further I think in the meantime would you be open to submit a PR updating the README to your mappings ? also the `doc/prettier.txt` ?

thanks :)

[2018-04-24 18:04] huyvohcmc commented on #132
Did an update on vim plugins and restart my MacBook, everything seems to work as expected. But the problem is that they used to work before, hence the Vim configuration, then it doesn't work anymore. And just now, it is.

[2018-04-25 03:13] mitermayer commented on #132
Hi @huyvohcmc,

Not sure I understood, so is it working or not now ?

Hoping to help find a solution for your problem

[2018-04-25 03:28] huyvohcmc commented on #132
I mean I couldn't reproduce the issue anymore. Will close this one until I can reproduce it with clearer steps.

[2018-04-25 15:27] #132 closed

[2018-04-26 10:53] huyvohcmc commented on #106
I would like to update the readme, but firstly what are your specific expectations? Like you can list down some problems and I'll see what I can do.

[2018-04-26 11:56] Kachulio1 commented on #113
@mitermayer I don't know if this will help I had the same problem like this one in this  [issue](https://github.com/prettier/vim-prettier/issues/108):-

`Prettier: failed to parse buffer`

It turned out that in my case I had installed prettier using fishshell and when I switch to `zsh`  I encountered the problem.
You must use the same command line shell that you installed prettier with, in order f

[2018-05-01 14:36] larister opened #133 "Why do the defaults differ?"
**Do you want to request a *feature* or report a *bug*?**

Neither - just ask a question

**What is the current/expected behavior?**

The Readme.md states the following:

However, there's no reasoning as to why. Is it just personal preference? If so, perhaps it's worth clarifying that in the Readme (happy to do this if you agree).

Additionally/alternatively, it might be good to have a `g:prettier

[2018-05-01 19:10] docwhat commented on #133
This will change in v1.0.0 — there is already some changes in this direction in the release/1.x branch.

[2018-05-01 19:11] #133 closed

[2018-05-04 16:41] christopherball opened #134 "Upgraded to Node v10 - Pretter:Failed to parse buffer"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current/expected behavior?**
Upon trying to save a file which vim-prettier typically formats (.js), it now throws the error: "Prettier: failed to parse buffer.", regardless of the file contents.  Adjusting various .vimrc settings didn't resolve the issue.

**What version of `vim-prettier` are you using - (output of `:Pret

[2018-05-04 16:42] mitermayer commented on #134
Hi @christopherball,

Thanks for reporting this issue. Will try to reproduce it now and will comment back on this issue

[2018-05-04 16:49] mitermayer commented on #134
Hi @christopherball ,

I tried to reproduce locally without success. In order to better assist you could you try providing a bit more info ?

* can you try on the command line giving me the output of `/Users/chrisball/.vim/bundle/vim-prettier/node_modules/.bin/prettier --version`

[2018-05-04 16:54] christopherball commented on #134
"cosmiconfig requires at least version 4 of Node, please upgrade"

[2018-05-04 17:03] christopherball commented on #134
I figured it out - turns out after doing a vundle :PluginUpdate, I needed to manually re-run 'npm install' to update the dependency version of prettier that vim-prettier relies on.  Seems to be working now.

[2018-05-04 17:04] #134 closed

[2018-05-04 17:26] mitermayer commented on #106
Hi @huyvohcmc ,

I am currently working on `vim-prettier` 1.0 there will be some config and default changes, if you are still interested once we have a beta version I can provide you a list of changes and you can have free power to fully re-edit the README and docs to better explain the changes.

I was also thinking about including a FAQ section area on the front. If this is something that would i

[2018-05-04 17:27] mitermayer commented on #99
This issue is been tackled on the release 1.x branch and will be closed once vim-prettier 1.0 is released.

[2018-05-04 17:28] mitermayer commented on #119
Once I get a beta version of vim-prettier 1.0 will try including this PR in there and see if I can debug a bit more on what the failures were

[2018-05-04 21:44] docwhat commented on #119
Link to PR?

[2018-05-04 21:48] mitermayer commented on #119
@docwhat, thats the link to the PR https://github.com/prettier/vim-prettier/pull/120, we may need to update it in order to be mergeable with v1.0 now thats all refactored

[2018-05-05 03:50] huyvohcmc commented on #106
@mitermayer Sure, I'll try my best.

[2018-05-05 05:15] mitermayer commented on #99
This feature is now available on 1.x release branch

[2018-05-05 05:16] mitermayer commented on #99
@FabioAntunes  if you have some time could you try out the 1.x release branch ?

[2018-05-05 05:17] mitermayer commented on #96
hi @wwwdata,

If you have some time could you give it a shot on our 1.x release branch ? We are currently working on the new 1.x major release! I believe the neovim on that branch should be working as expected

[2018-05-05 10:09] wwwdata commented on #96
Yes I upgraded and everything is working fine now. Thanks!

[2018-05-05 18:00] chemzqm commented on #96
@mitermayer Thanks for the hard work.
I've just looked through the code at https://github.com/prettier/vim-prettier/blob/2ee343b23b5fa207d7fe75acc57008194bc8c9b4/autoload/prettier/job/async/neovim.vim#L22
It's seems that line break problem is not resoled, the `l:out` is not guaranteed to contain lines. See `:h channel-lines`

I would suggested to use buffered mode for one time job `:h buffered`, i

[2018-05-07 13:51] radical-edo opened #135 "Vim crashes with segmentation fault with PrettierAsync"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current/expected behavior?**
the vim doesn't receive segmentation fault
**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
0.2.6
**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
1.12.1
**What is your `prettier` executable path - (output of  `:PrettierCliPa

[2018-05-07 15:03] mitermayer commented on #135
Hi @radical-edo,

Do you mind providing me your `vim-prettier` configuration overwrites so that I can try to help you debug this issue ?

also:

* what is your vim version ?
* what OS are you using ?

For ` :PrettierCliPath` to crash is most likely that prettier executable is not getting resolved properly. How did you install `prettier` ? is it globally installed ?

[2018-05-07 15:05] mitermayer commented on #135
Also could you please try the following:

* going to the `vim-prettier` installation directory (if installed via vim-plug is `$HOME/.vim/plugged/vim-prettier`)
* remove the `node_modules` directory
* install again by either `npm install` or `yarn install` ?

[2018-05-07 15:09] mitermayer commented on #128
Just to give everyone watching this issue an update, we will be working on making sure we either find a solution in `vim-prettier` itself or `prettier` for this issue prior to the `vim-prettier` 1.x release

[2018-05-08 05:27] mitermayer commented on #96
Hi @chemzqm,

Thanks for pointing that out! Do you think you could submit a PR for branch 1.x ? :)

[2018-05-08 08:18] radical-edo commented on #135
My `vim-prettier` config:

[code]
I've installed the `vim-prettier` with `vundle`. I have all my plugins under `bundle` directory.
The `prettier` itself was installed globally. Had no `node_modules` directory in `bundle/vim-prettier`. used `yarn install` still the error appear

`:PrettierCliPath` returns `prettier`.

vim version `8.0.1633`. I'm running `macOS 10.13.4`

[2018-05-08 12:36] docwhat commented on #135
You don’t want to use the asynchronous commands on save, anyway.

Otherwise the reformat finished after the save.

[2018-05-08 12:38] docwhat commented on #135
Can you post the output of `vim --version`?

[2018-05-09 08:19] radical-edo commented on #135
`vim --version` output:

[code]

Actually, the using the `Async` option didn't make the changes after save. All the changes were made and then saved. I assumed the that `Async` would fire a separate process or thread or whatever, but the saving will "wait" for the prettier to finish. And from my experience it looked like this.

[2018-05-16 12:33] nerfologist commented on #135
Hi, I've been having the same problem for some time; tried to restrict the issue to a minimal vimrc with just vundle, vim-prettier and a simple file which crashes on my machine. You can find it [in this example repo](https://github.com/nerfologist/vim-prettier-async-segv-bug).

`vim --version`
[code]
Running on macOS Sierra (v. 10.12.6 (16G1314))

Also in my case, using the `Prettier` command inst

[2018-05-16 16:43] mitermayer commented on #135
Looking into this today and will comment on this issue with my findings, and hopefully if able to reproduce create a fix and do a release ASAP

[2018-05-16 16:52] mitermayer commented on #128
This is a duplicate of https://github.com/prettier/vim-prettier/issues/135, will be solving it on the #135

[2018-05-16 16:52] #128 closed

[2018-05-16 17:00] mitermayer commented on #113
I think we fixed this on `1.x` branch, will double check in there and if thats the case will port back a fix to master repo

[2018-05-16 17:16] mitermayer commented on #135
Hi guys, Trying to debug this issue without being able to reproduce it yet. Will try to see if I can get a Mac with same version to see if that could be related.

In the meantime can you guys try reproducing this after adding this to your `~/.vimrc`

[code]
cc @nerfologist , @radical-edo , @luobata, @simianarmy,

[2018-05-16 17:16] mitermayer commented on #128
Hi guys, Trying to debug this issue without being able to reproduce it yet. Will try to see if I can get a Mac with same version to see if that could be related.

In the meantime can you guys try reproducing this after adding this to your `~/.vimrc`

[code]
cc @nerfologist , @radical-edo , @luobata, @simianarmy,

[2018-05-16 17:18] mitermayer commented on #128
cc @playahater

[2018-05-16 17:32] simianarmy commented on #135
@mitermayer I already had that line in my config and it doesn't seem to prevent the crash

[2018-05-16 17:34] mitermayer commented on #135
@simianarmy , Thank you for the reply.

- Do you recall when this start to happen ?
- Does it always happen ?

[2018-05-16 17:38] simianarmy commented on #135
I'm not sure ... the JS file I'm using as a test case is ~ 1000 lines.
The crash occurs every time PrettierAsync is run, yes.

[2018-05-16 17:39] simianarmy commented on #135
[code]

[2018-05-17 07:11] nerfologist commented on #135
@mitermayer thanks for your support. I tried setting
[code]
...but it seems to make no difference, it still crashes on save.

Also,
- I have been experiencing this problem for a long time (months)
- problem occurs with the bundled prettier as well as with a prettier from `node_modules`
- prettier from node_modules is perfectly able to format the file when run from the command line (`node_modules/.

[2018-05-17 15:54] docwhat commented on #135
Does it crash if you remove the prettier plugin altogether?

At its core this is a Vim bug. Nothing we do should crash vim.

[2018-05-17 16:08] mitermayer commented on #135
There are a couple of ways we can debug this, lets try the simple one first

## getting vim verbose log

can anyone that can replicate this issue give me the output of `vimlog` file when starting vim with command `vim -V20vimlog` and reproducing this issue ?

## using catchsegv

starting vim with `catchsegv vim` and generating the segfault

## analyzing core dump via gdb

enabling the core dumps t

[2018-05-17 22:27] mitermayer commented on #135
## Some investigations around vim compiled feature flags

From the `vim --version` output of everyone that has commented on both issues I tried to figure out if there was any relationship of vim compiled flags that they all shared in common and compared that to the flags that  I have used for my vim (which is working as expected)

the results were the following:

**Feature flags that I have instal

[2018-05-17 23:18] mitermayer commented on #135
I tried testing with latest vim 8.1 which has just been released, did it by manually cloning the github repo and compiling it and installing by hand and still was not able to reproduce this segfault issue. I wonder if that could be OS related since im on linux

[code]

[2018-05-18 07:39] nerfologist commented on #135
@mitermayer I was able to run vim with the `-V20vimlog` flag and the resulting output is now visible [here](https://github.com/nerfologist/vim-prettier-async-segv-bug/blob/master/logs/vimlog).

Following your instructions I was also successful in generating a core dump, which got dumped in the `/cores` directory. It's a huge file (1.3 GB) on which I ran `file`:
[code]
I tried to open the dump in `

[2018-05-19 17:39] docwhat commented on #135
@nerfologist is this MacVim.app or just normal vim?

Your log is trying to load stuff from the MacVim.app bundle and dying there. Are you mixing support files?

If this is MacVim and you updated the OS recently you may have to uninstall it and reinstall.

[2018-05-20 16:32] djvs opened #137 "Prettierrc support/default usage"
**Do you want to request a *feature* or report a *bug*?**

Kind of both?

**What is the current/expected behavior?**

Expect vim-prettier to somehow respect .prettierrc settings

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**

0.2.6

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**

1.12.1

**What is your `prettier` executable

[2018-05-20 22:33] mitermayer commented on #137
Hi @djvs

The behavior you have described is supported by vim prettier by default.

I am more than happy to try debugging with you why it may seem to not have worked on your case.

Could you please check that the project you are having problems with does not include some sort of prettier configuration on its package.json or any other related prettier configuration file ?

[2018-05-20 22:35] djvs commented on #137
It has one, which I added while trying to get rid of semicolons this morning:

.prettierrc.yml
`semi: false`

There's also the same file one directory up.

[2018-05-21 07:31] nerfologist commented on #135
Hi, I'm using MacVim installed with `--with-override-system-vim`:
[code]
I'll try reinstalling it, but I have upgraded/reinstalled MacVim a few times over the last few months and the crash is still happening.

[2018-05-21 17:17] jsatk commented on #100
I'm also seeing the above issue @sloansparger mentioned. I'm on Prettier 0.2.6.

[2018-05-21 18:34] mitermayer commented on #100
Hi @sloansparger,

The reason why you are seing that on top of your file is due to using an old `prettier` version, notice that you are using the latest `vim-prettier` with a `prettier` cli of version `1.7.4`.

If you really need to use older prettier versions, I suggest you pinning your `vim-prettier` to older released versions that are supporting that particular version.

@jsatk , could you also

[2018-05-21 19:58] jsatk commented on #100
@mitermayer I'm on CLI version 1.5.2. Pinning my vim-prettier version to tag 0.0.11 got it working for me. Thanks for the response!

Bummed the latest isn't flexible enough to work with older versions, but I get it. Happy to help contribute when I can if you need any extra contributors.

[2018-05-21 22:19] jsatk commented on #100
Thanks so much @mitermayer

[2018-05-23 05:31] mitermayer commented on #137
Hi @djvs ,

I haven't be able to replicate your issue. Would be great if you can provide a bit more information to help us see if we can find a solution for your problem.

* What is the OS your are using ?
* Does the path to the file you are editing has any weird characters or white spaces ?
* Are you sure there is no other configuration file being declared on the project ?
* How did you install `

[2018-05-23 05:37] mitermayer commented on #135
I will try to get hold of a mac computer to see if I can reproduce this issue. It looks like it could be a problem with plugin incompatibilities from `vim-javascript` and `vim-prettier`.

Looks like `vim-javascript` make some assumptions that the filetype for javascript would be controlled by it.

I have one idea on how to test this assumption, could you please edit this file `
~/.vim/plugged/vim-

[2018-05-23 13:07] nerfologist commented on #135
Hello @mitermayer and thanks for your support 👍

I commented the line you mentioned and it's still crashing. [Here](https://github.com/nerfologist/vim-prettier-async-segv-bug/blob/master/logs/vimlog_patched) you can find the new `-V20` log of the attempt.

[2018-05-24 22:35] mitermayer commented on #137
I will close this issue for now as I can't replicate it, if @djvs  can provide a bit more info in order to aid reproducing or any other community member start experiencing this issue as well please feel free to reopen this issue

[2018-05-24 23:33] SamHowie commented on #135
I was able to reproduce this on macOS and Ubuntu.

It appears to be a bug in the following Vim job option setting:

[code]

If the contents of the `in-io` buffer is 'too large' (this varies by platform) then a segmentation fault occurs.

Currently, `s:Prettier_Exec_Async` starts a job by doing the following:

[code]

This tweak circumvents the segmentation fault by feeding the buffer lines directl

[2018-05-25 01:18] mitermayer commented on #135
Thank you @SamHowie for this detailed explanation! I think we should get this parched into master to unblock users (assuming it does not break neovim and vim7.4)

On the long term we could try on The 1.x branch try solving with different approach, one thing worth exploring would be maybe by writing into temporary file and replace buffer with it.

[2018-05-25 20:06] #135 closed

[2018-05-25 20:17] mitermayer commented on #135
This has been merged into master ! @nerfologist, @radical-edo , @Luobata, @simianarmy

[2018-05-29 11:29] FabioAntunes commented on #99
@mitermayer Sorry for the super late response I have been using ALE lately, I will give it a try if you need

[2018-05-29 13:59] mitermayer commented on #99
@FabioAntunes,

Not a problem! If you have some time please feel to try our 1.x branch as it have neovim support for async already working in there

[2018-05-30 14:29] vaclavbohac commented on #137
@mitermayer The same thing happens to me:

* What is the OS your are using ?
    * Mac Os

* Does the path to the file you are editing has any weird characters or white spaces ?
    * `/Users/vaclavbohac/repo/demagog/demagog/app/javascript/packs/admin.ts`

* Are you sure there is no other configuration file being declared on the project?
    * Yes

* How did you install vim-prettier, did you do it

[2018-05-30 16:29] mitermayer commented on #137
Hi @vaclavbohac,

Would be great if you could setup a minimal way to reproduce this, and we would be able to look into it. Can you also provide the outputs of

from within vim:

* `:PrettierCliVersion`
* `:PrettierCliPath`
* `:PrettierVersion`

and also the output of `vim --version` ?

thanks a lot!

[2018-05-30 16:37] mitermayer commented on #137
I have tried to replicate this by creating a dummy file:

[code]

and creating a config file `.prettierrc.json` with the contents

[code]

Opening the file and running `:Prettier` and `:PrettierAsync` and both times i get the same output:

[code]

Not entirely sure on how to replicate this issue, @docwhat, @SamHowie  do you guys think you could try replicating this on your machines to see if that

[2018-06-02 20:59] docwhat commented on #135
Massive thanks, @SamHowie!  Great job!

[2018-06-02 21:37] docwhat commented on #137
This is fixed in the `release/1.x` branch; specifically commit 3e76ead2077ec866761bf243dd8750f4dc69f945

The option `g:prettier#config#config_precedence` in 1.x defaults to `prefer-file` instead of 0.x's default of 'cli-override`.  With `cli-override` then `.prettierrc` files are ignored.

@djvs Can you take the `release/1.x` branch to see if it fixes your problem?  See the readme for the new flag

[2018-06-03 08:09] vaclavbohac commented on #137
@mitermayer

* `:PrettierCliVersion` 1.2.1
* `:PrettierCliPath` `~/my-project/node_modules/.bin/prettier`
* `:PrettierVersion` 0.2.7
* `vim --version` 8.0.1800

[2018-06-03 22:50] #137 closed

[2018-06-03 22:53] mitermayer commented on #137
Hi @vaclavbohac,

You are using a very old prettier cli 1.2.1 installation and at that stage prettier did not support any custom configuration

[2018-06-04 06:27] mitermayer commented on #113
@SamHowie, @docwhat, if any of you have sometime and can reproduce this issue, would be great to have it fixed on 1.x branch as we are getting pretty close to have a beta.

[2018-06-04 06:30] mitermayer commented on #42
Do people still think its worth integrating with other CLI's ? or is the prettier configuration settings via `.prettierrc` enough these days ?

[2018-06-04 06:30] mitermayer commented on #20
Do people still think its worth integrating with other CLI's ? or is the prettier configuration settings via .prettierrc enough these days ?

[2018-06-04 06:31] mitermayer commented on #106
Getting close to having all features for 1.x developed then we will get back to this issue

[2018-06-04 07:03] dedoyle commented on #42
It will be great to support prettier-eslint-cli

[2018-06-05 15:56] docwhat commented on #42
I don't think you can get the functionality of `prettier-eslint-cli` from just a `.prettierrc` file.  I'd love to be proven wrong though.

[2018-06-06 08:49] alex-shamshurin commented on #42
If some option, like 'use_eslint_fix' is set then it should read one of eslint config files and run eslint --fix after prettier.

[2018-06-06 14:59] docwhat commented on #42
Are you saying such an option exists and that it is the same as `prettier-eslint`?

Or that it would be good if such an option exists?

[2018-06-07 11:20] radical-edo commented on #135
Great stuff guys! It works! Thanks! You are all heroes!

[2018-06-12 13:52] jesusgollonet opened #140 "saving a file ignored in .prettierignore outputs part of the file back to the buffer"
## Description
If a file is part of .prettierignore, when editing the file and saving i'll get part of the buffer echoed back to the buffer.

## Simplest test case

`index.js`
[code]

`.prettierignore`
[code]

open `index.js`  and save, you'll get the following contents on the buffer
[code]
save again and you'll get
[code]
etc.

The expected behaviour is that editing files which are ignored folder

[2018-06-12 18:59] mitermayer commented on #140
Hi @jesusgollonet,

Thanks for reporting this issue. We will try to replicate this and comment in here our findings and in case we can confirm as a bug we will take action and try to fix it.

[2018-06-14 01:46] chhschou commented on #126
How to enable .editorconfig support? Prettier supports it out of the box but vim-prettier does not respect it.

[2018-06-14 05:26] mitermayer opened #141 "Re-enable .editorconfig support"
Prettier is .editorconfig compatible, but due to some incompatibility bugs in the past we had to deliberately disable that flag (https://github.com/prettier/vim-prettier/blob/master/autoload/prettier.vim#L327).

We should investigate if the issue is still applicable, otherwise we should remove that flag and do a new release.

[2018-06-14 05:28] mitermayer commented on #126
Hi @chhschou,

I have just created a issue to track that https://github.com/prettier/vim-prettier/issues/141, but the reason why did not support it on the past was due to a bug on prettier itself when using `.editorconfig` and `config-precedence` , I will investigate a bit more around it and add more information on the issue #141.

If that flag is no longer required I should be able to do a new `v

[2018-06-14 08:31] chhschou commented on #141
Thanks @mitermayer , I'll remove the `--no-editorconfig` flag locally and report back if I hit any snags.

[2018-06-14 09:59] jesusgollonet commented on #140
It might not necessarily be caused by .prettierignore. Just now I got the same issue with a codebase that does not have .prettierignore or .prettierrc for that matter. I tried to disable other plugins to see if there was any strange interactions but couldn't find anything. I disabled vim-prettier and the issue was gone.

Don't have any experience with vim plugins unfortunately so not sure if I can

[2018-06-14 15:36] mitermayer commented on #140
Hi @jesusgollonet

I wonder if this could be a regression that we may have introduced in `0.2.7` do you mind trying to run `vim-prettier` with version `0.2.6` to see if the issue still occurs ?

Also do you have any `vim-prettier` configuration settings defined on your `.vimrc` ? Do you have any global `.prettierc` setup anywhere ?

Please try using `vim-prettier` with older release by updating yo

[2018-06-14 15:39] mitermayer commented on #141
Hi @chhschou,

I will try to look on this issue during the weekend. But this is definitly something we want to be fixed and working on `vim-prettier` and hopefully I can come up with a fix for it and do a release ASAP, will keep you posted by commenting on this issue

[2018-06-14 15:51] jesusgollonet commented on #140
Hey! hah no need to be sorry. Glad to help pinpoint this

It looks like a regression on `0.2.7` indeed. I just Installed `0.2.6` and from a quick test in my test repo the behaviour was corrrect. As a double check I then reinstalled `0.2.7` and the bug was back.

This is the vim-prettier config i have in my .vimrc
[code]
However commenting those out didn't seem to change the behaviour (i.e: the bug

[2018-06-14 16:05] jesusgollonet commented on #140
Yeah there seem to be some related lines in this commit. Will check when back to a computer

https://github.com/prettier/vim-prettier/commit/62fdd10233a0ad8da88e02a4d7e3c476da57859c

Sent from my iPhone

[2018-06-14 16:23] mitermayer commented on #140
cc @SamHowie  ^^

[2018-06-14 16:52] SamHowie commented on #140
@jesusgollonet

I have managed to reproduce your issue. It only occurs for me if a `.prettierignore` file exists and the file being saved is in the `.prettierignore` list.

I can verify that @mitermayer's suggestion above will not fix the problem (though it is probably a good idea to make that change anyway ;)

Now that I can reproduce it, I should be able to debug what's going on.

If 0.2.6 is wo

[2018-06-14 17:01] SamHowie commented on #140
@jesusgollonet

I have managed to reproduce your issue. It only occurs for me if a `.prettierignore` file exists and the file being saved is in the `.prettierignore` list.

I can verify that @mitermayer's suggestion above will not fix the problem (though it is probably a good idea to make that change anyway ;)

Now that I can reproduce it, I should be able to debug what's going on.

If 0.2.6 is wo

[2018-06-14 20:34] jesusgollonet commented on #140
hey! no worries. I can also use `0.2.7` with
[code]
which doesn't seem to have the issue. Again, let me know if I can help in any way.

[2018-06-15 16:03] sachag678 opened #143 "Prettier throws an invalid expression ' --print-width ' when I run in vim"
**Do you want to request a *feature* or report a *bug*?** Bug

**What is the current/expected behavior?** Format the files but now it throws the following error when I run :Prettier ->
Error detected while processing function prettier#Prettier[8]..<SNR>48_Get_Prettier_Exec_Args:
line    3:
E15: Invalid expression:
E15: Invalid expression: ' --print-width ' .

**What version of `vim-prettier` are y

[2018-06-15 16:30] mitermayer commented on #143
Hi @sachag678,

In order for me to try to understand on how to better help you, could you please provide me a bit more information.

* When did it stop working ?
* What were the steps you done that made it stop working ? (upgraded prettier, installed new vim plugings, upgraded vim-prettier, run PlugUpdate, etc..)
* what is your OS ?

Could you please comment in this issue the output contents of:

[2018-06-15 16:54] sachag678 commented on #143
Hi,

I am running vim - Vi Improved 8.1 - I installed this within the last 24 hours. Maybe this is the issue?

I don't exactly remember if the issue popped up after or before this.

I also removed the old vim-prettier and updated the tag to pull the 0.2.6 version. The issue still persists.

I am in ubuntu 16.04.4 LTS.

Maybe I should revert back to the older version of Vim?

[2018-06-15 16:55] sachag678 commented on #143
I also downloaded and added a new colourscheme but I commented that out and tried running it again, but it didn't fix it.

[2018-06-15 17:00] sachag678 commented on #143
I also had added in
`let g:prettier#config#print_width = 120`
into my .vimrc but removed it once the issue started. Again not sure if this cause the issue or not.

[2018-06-15 17:13] mitermayer commented on #143
Hi @sachag678,

I am not able to reproduce your issue. I also tried repro it on vim 8.1 without success.

[2018-06-15 17:48] sachag678 commented on #143
thanks for trying! I will keep looking to try and figure it out.

[2018-06-18 20:20] oskarrough commented on #141
I tried removing `--no-editorconfig` locally where the plugin is installed and it seems to work. It respects editorconfig again.

My global `prettier` is 1.13.0.

[2018-06-18 20:38] #140 closed

[2018-06-18 22:40] mitermayer commented on #141
Hi @oskarrough,

Thiss is great news, do you want to submit a PR for it ?

[2018-06-19 16:32] #141 closed

[2018-06-22 16:29] mitermayer commented on #143
I will be closing this issue for now since I was unable to reproduce this issue and haven't seen this occurring to other users, but please feel free to re-open or comment in here if this seems to be happening to you

[2018-06-22 16:29] #143 closed

[2018-06-22 16:30] mitermayer commented on #119
I will have some time to keep working on this during the weekend. Will be porting the open PR to branch 1.x as this is one of the last major tasks for 1.x release

[2018-07-05 04:29] chhschou commented on #141
I've updated to the latest vim-prettier but the `indent_size = 4` option still doesn't work for me. Does that work for you @oskarrough ?

[2018-07-05 07:29] oskarrough commented on #141
Hi @chhschou, I just tried again and `indent_size` is respected here.

Not sure what it could be.. Did it update correctly? This line shouldn't be there: https://github.com/prettier/vim-prettier/pull/144/files. Which version of prettier are you using?

[2018-07-12 09:41] chhschou commented on #141
Apologies I have a bit of issue with my setup. It is working for me now.

[2018-07-13 23:37] mitermayer commented on #126
Hi @ELLIOTTCABLE,

Thanks for bringing that up! will definitely have a look into it!

[2018-07-16 11:38] cdimitroulas opened #145 "Prettier: failed to parse buffer."
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current/expected behavior?**
The error `Prettier: failed to parse buffer.` occurs when running vim-prettier on any `.js` file I have in my project.
If there is more debugging output that I can get somehow, please let me know and I will add it to the issue.

I have the following configuration in my `init.vim`:
[code]

**Wh

[2018-07-16 14:29] bfulop commented on #145
Same issue here, with a new install of vim-prettier. The outputs are the same (of `:PrettierVersion`, etc)

[2018-07-16 15:47] bfulop commented on #108
I'm still getting the same error, if my files are in a path that has spaces in it. Everything works great elsewhere.

`:PrettierVersion` : `0.2.7`

`:PrettierCliVersion`: `1.13.7`

`:PrettierCliPath`: `prettier`

I'm on macOS 10.13.6

[2018-07-16 16:07] nelsyeung commented on #108
I could not reproduce this on the same version as you:
This is the path to my file: `~/Sites/test test/src/test test/test test.js`
Do you mind posting your path as well?

[2018-07-16 16:08] bfulop commented on #108
It's `~/Work/Festival Scope/fspro/src/FSPro/FrontBundle/Resources/src/scss/header.scss`

[2018-07-16 16:16] bfulop commented on #108
I tried with other paths as well and they all fail if they contain a white space.

[2018-07-16 16:32] nelsyeung commented on #108
This is really strange, I just can't reproduce this at all. Just a sanity check: you file doesn't contain errors right? If you use the following file as your `header.scss`, does it still occur?

[code]

[2018-07-16 16:53] bfulop commented on #108
I just checked with the above snippet and it still gives `Prettier: failed to parse buffer.`

Maybe Node version at play? I have `v10.6.0`

[2018-07-16 18:03] mitermayer commented on #145
Hi there,

Thanks for reporting this issue will investigate this ASAP.

Where you using the same `prettier` cli `1.13.7` version ?

@cdimitroulas , if you still have access to the machine that has a working `prettier` and `vim-prettier` would be awesome to double check the versions to see if they match (prettier cli and vim-prettier) also if possible go to the `vim-prettier` installation directory

[2018-07-17 08:01] dedoyle opened #146 "my config single_quote is ignored"
It may be a *bug*

vimrc
[code]

I think the prettier ignoring my configuration about single_quote. Because it turns all quotes to double quotes. I had also tried other configuration, like tab_width. Not work too.

PrettierVersion: 0.2.7
PrettierCliVersion: 1.13.7
PrettierCliPath: prettier

And this work in previous versions until I update vim-prettier today.

[2018-07-17 17:15] mitermayer commented on #146
Hi @dedoyle,

Do you mind providing the output of `:PrettierCliPath` ?

Also does your project have some `prettier` configuration files being written somewhere ?

The above behaviour would happen if somewhere above the ancestry of directories of where you are editing your file may have a prettier config overwrite

[2018-07-17 17:18] mitermayer commented on #108
@bfulop, is this issue still happening to you ? If so I will reopen this issue

[2018-07-17 20:36] drager commented on #146
I'm experiencing the same issue. No settings are working and I have no .prettierrc, prettier.config.json or such present either that could interfere.

PrettierCliVersion: 1.13.7
PrettierVersion: 0.2.7
PrettierCliPath: /home/drager/my-project/node_modules/.bin/prettier

[2018-07-18 01:31] dedoyle commented on #146
@mitermayer I don't have any configuration for prettier except the configuration in vimrc. I use Gvim in win7. And the output of `:PrettierCliPath` is just **prettier**. Nothing else.

Gvim: 8.0 (Features included +python, +lua, +perl)

[2018-07-18 07:22] bfulop commented on #108
Yes, Prettier is still failing when there's a space in the file path. (I just run `PlugUpdate`, but the plugin was already up to date).

[2018-07-19 00:06] mitermayer commented on #146
I will look into this tonight and post findings in here and if able to reproduce will fix this issue and create a release

[2018-07-19 00:07] mitermayer commented on #108
Will look into this again

[2018-07-19 06:07] mitermayer commented on #146
I tested this by editing a file foo.js that has simple content

[code]

with a `.prettierrc` file in the same directory with contents:

[code]

tested with both `:Prettier` and `:PrettierAsync` and got the outpout:

[code]

[2018-07-19 06:08] mitermayer commented on #146
Will investigate a bit more tomorrow to see if it has been any change on the API for forcing single quotes from the cli

[2018-07-20 08:08] cdimitroulas commented on #145
Turns out I had an invalid line in my config which was this one:
[code]

That was supposed to be:
[code]

Woops!

Maybe there is be a way we could change the error message to make it clear that that the reason that the parsing is failing is due to an invalid configuration? If this is not practical, feel free to close the issue

[2018-07-20 14:22] mitermayer commented on #145
Thanks for commenting in here! I will try to think on what would be the best way to deal with error handling and will open an issue for it! Glad you got it fixed !

[2018-07-20 14:22] #145 closed

[2018-07-25 23:38] vprasanth commented on #76
If you're using nvm like me, and forget to set a node version in the terminal you launch vim from -- this can happen as well. Just heads up :)

[2018-08-05 03:59] yshuman1 opened #147 "Prettier: failed to parse buffer."
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current/expected behavior?**
should format file, instead gives error "Prettier: failed to parse buffer."
it does work if i just use :Prettier

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
0.2.7
**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
1.14.0

[2018-08-05 05:39] mitermayer commented on #147
Thanks for reporting this issue will look into it now and comment in this issue

[2018-08-05 06:13] yshuman1 commented on #147
hi @mitermayer, i think i figured it out. its my bash terminal thats messing it up. for whatever reason the line in my vimrc ```shell=bash\ --login``` is causing prettier to break. when i comment it out everything in prettier is fine.

[2018-08-05 06:14] yshuman1 commented on #147
do you see anything here that would be breaking it? ```export PATH=$PATH:/Applications/Postgres.app/Contents/Versions/latest/bin
export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_92.jdk/Contents/Home
export PATH=$PATH:$JAVA_HOME/bin
export GOPATH=$HOME/go
export GOROOT="/usr/local/go"
export PATH=$PATH:$GOPATH/bin
export GOBIN=$HOME/go/bin
export PATH="$PATH:/Applications/Visual Studio C

[2018-08-14 18:50] marianoguerra commented on #146
I had an error where I had to set the parser explicity to 'babylon' on .prettierrc and also if requirePragma is true then the pragma now has to be

[code]
//@format
[code]

[2018-08-17 12:47] Industrial opened #148 "Adding support for lint tools custom executables after prettier (like lint-staged)"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current/expected behavior?**
Prettier runs, conflicts with linting tools

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
0.2.7

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
1.14.2

**What is your `prettier` executable path - (output of  `:Pret

[2018-08-18 20:45] ThomasGHenry opened #149 "styling over scp"
**Do you want to request a *feature* or report a *bug*?**
Not sure. Feature, probably.

**What is the current/expected behavior?**
When I open a remote file over scp (vim scp://user@host//path/to/remote/file ), vim creates some sort of tmp buffer to work from and prettier doesn't know where the actual file is to perform its task. Is it possible to configure prettier to look at the current buffer,

[2018-08-19 05:39] mitermayer commented on #149
I never tried this, will look into it! Its definietly something worth supporting if possible

[2018-08-19 05:40] mitermayer commented on #148
Thanks for raising this issue, I will resume working on vim-prettier in 2 weeks, been very busy at work at this stage as I am about to go on paternity leave in the next 2 weeks, I really appreciate you raising this issue

[2018-08-19 05:40] mitermayer commented on #126
I will resume working on vim-prettier in 2 weeks, been very busy at work at this stage as I am about to go on paternity leave in the next 2 weeks, I really appreciate you raising this issue

[2018-08-19 05:41] mitermayer commented on #147
Closing this issue for now as you have been unblocked.

I will resume working on vim-prettier in 2 weeks, been very busy at work at this stage as I am about to go on paternity leave in the next 2 weeks.

Will then comment in this issue my findings on further debugging this

[2018-08-19 05:41] #147 closed

[2018-08-19 05:42] mitermayer commented on #146
I will resume working on vim-prettier in 2 weeks, been very busy at work at this stage as I am about to go on paternity leave in the next 2 weeks, I really appreciate you raising this issue

[2018-08-19 21:57] yshuman1 commented on #147
thank you and congrats on the new arrival!

[2018-08-20 11:45] radical-edo commented on #31
Found a weird way to reproduce this error. If the path of the file has a `$` in it, then the `failed to parse buffer` message appears.

For instance, if the file currently opened is in a directory `$foo` the error will happen. :]

[2018-08-20 12:44] ELLIOTTCABLE commented on #126
@mitermayer life before open source.

[2018-08-24 09:28] Industrial commented on #42
It should not be limited to ESLint only (I use csslint as well and it acts on different file extensions), and instead should be configurable.

I think having a situation where the tools to be ran on which file-type much like `lint-staged` is preferrable; https://github.com/prettier/vim-prettier/issues/148

[2018-08-28 09:17] peteyycz opened #151 "Unexpected cursor movement"
I'd like to report a bug.

Current Behaviour:
When I enable async autoformatter on save, and save the file, the cursor jumps to the end of the file.

Expected behavior:
It should not move my cursor.

PrettierVersion: 0.2.7
PrettierCliVersion: 1.14.2
PrettierCliPath: project local/.bin/prettier

[2018-08-29 08:00] denisw commented on #30
Is it possible to implement a strategy similar to other editors' Prettier plugins, where formatting is done automatically without pragma if

* The closest `package.json` defines `prettier` as a dependency and/or
* There is a `.prettierrc` file in one of the parent directories

For me, that would remove the need for a pragma completely.

[2018-09-14 18:18] mitermayer opened #152 "Restarting development from today"
Hi Everyone,

Just created this issue to let you all know that I have not been able to work on vim-prettier for the last month or so due to being close to having my 3rd baby and wrapping things up at work. From today I will resume work on vim-prettier and will try to address all open issues as well as finally release 1.0

Once again apologies for the delay

[2018-09-14 18:18] mitermayer commented on #151
Sorry for the delay, will try to look into this now and see if I can reproduce

[2018-10-05 10:39] fatso83 commented on #126
I have tried adding a `.prettierignore` to projects to avoid formatting them, but this plugin seems to ignore that. That's quite unfortunate, so maybe something for 1.0?

[2018-10-08 06:19] dedoyle commented on #146
I got inspired from mvgrimes. So I delete `.editorconfig` file and the prettier configuration in vimrc work now.

[2018-10-08 22:14] #146 closed

[2018-10-09 09:18] hahanein opened #153 "Error parsing Typescript"
I want to report a bug.

Currently running `:Prettier` on a `*.ts` file containing `enum`s results in `Prettier: failed to parse buffer.` with the error message `src/file.ts | 1 col 1 |  Unexpected reserved word`. Expected behavior is Prettier expecting this reserved word. Running `prettier /path/to/file.ts` on the command line does not raise a false alarm and works perfectly fine.

I'm using vers

[2018-10-09 21:36] mitermayer commented on #153
Hi @hahanein,

* Could you confirm that when having `vim` open editing your `.ts` file and you execute this command: `:PrettierCliVersion` you are getting `1.14.3` ?

* Could you confirm that when having `vim` open editing your `.ts` file and you execute this command: `:PrettierCliPath` you are getting `/home/USER/.local/share/umake/nodejs/nodejs-lang/bin/prettier` ?

If all the above is correct,

[2018-10-10 08:20] hahanein commented on #153
I can confirm executing `:PrettierCliVersion` returned `1.14.3` but `:PrettierCliPath` returned `prettier` not `/home/USER/.local/share/umake/nodejs/nodejs-lang/bin/prettier`.

However, everything is now working as expected. I don't know what happened. I tried reinstalling `vim-prettier` as well as `prettier` itself several times and even dug into configuration and setup a bit before I gave up and

[2018-10-31 19:03] mitermayer commented on #31
@mjackson

That’s a good idea, will do that!

[2018-11-05 22:36] mitermayer commented on #119
This has been merged on https://github.com/prettier/vim-prettier/pull/155 on release/1.x branch

[2018-11-05 22:36] #119 closed

[2018-11-05 22:36] mitermayer commented on #152
Already back on it :)

[2018-11-05 22:36] #152 closed

[2018-11-05 22:41] mitermayer commented on #148
Looks like this PR is to add support to "lint-staged" executable, will fall in the same category of issues https://github.com/prettier/vim-prettier/issues/42 and https://github.com/prettier/vim-prettier/issues/20 which wants to have support for other executables.

[2018-11-05 22:42] mitermayer commented on #149
Will try to investigate this issue as it seems like a super useful feature to support

[2018-11-05 22:44] mitermayer commented on #151
Could you provide me a bit more info in order for me to debug this issue ?

What "OS" are you using ?

Could you also please paste the stdout of your "vim --version" ?

Thanks a lot!

[2018-11-06 09:17] andreiglingeanu commented on #119
@mitermayer tested it, almost good, with a small glitch, when `--use-tabs` is present in the final command, it gets inserted without a space between `prettier` bin & other args, like this:

[code]

This easily gets fixed by #158

[2018-11-09 20:50] masaeedu commented on #133
@docwhat Are the settings listed in the README the comprehensive set that differs from default settings?

[2018-11-09 21:34] masaeedu commented on #58
Hi @mitermayer. I tried using a `.prettierrc` file in my home directory as you mentioned but it doesn't seem to be picked up. If I move it next to the JS file it works as expected. Does this feature depend on all the user's code being under the home directory perhaps?

[2018-11-10 03:48] docwhat commented on #133
I believe so.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-10 05:16] mitermayer commented on #58
Hi @masaeeudu,

The code used to find where configuration files exists are from prettier itself not from vim-prettier, it should work.

If you try to run prettier from the command line on the same directory does that work for you ?

The prettier resolution path to find configuration files is to look recursively among parents until finding the config. Is there a chance that you may be editing a fil

[2018-11-10 05:32] hankchiutw opened #161 "`E121: Undefined variable: g:prettier#autoformat` when executing `vi`"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current/expected behavior?**
current:
Whenever I edit a js file, I get the error like:
[code]
expected:
Open `vi` without error.

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
0.2.7

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
1.15.1

**What is

[2018-11-10 23:55] mitermayer commented on #161
Hi @hankchiutw

I will look into this sometime tonight! Thank you for reporting this issue. What is the output of your `vim --version` ?

[2018-11-11 10:02] hankchiutw commented on #161
Thanks, @mitermayer ! Here you are:
[code]

[2018-11-18 02:37] mitermayer commented on #161
Hi @hankchiutw

Do you have any custom vim-prettier configuration on your `.vimrc` file ??

[2018-11-18 02:40] mitermayer commented on #161
Hi @hankchiutw

Are you sure you have the correct `vim-prettier` installed ? That file that you mentioned does not have that line

https://github.com/prettier/vim-prettier/blob/f2755ec6fe465fb6af051a254d826018dcde2a50/ftplugin/javascript.vim#L1

[2018-11-18 09:42] szymkab opened #162 "Vim-prettier doesn't use project config"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current/expected behavior?**
Vim-prettier is not using project's config. This is my config:

[code]

And when I type `:Prettier` it formats my code from:

`import { x } from "x";` to `import {x} from 'x';`

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
`0.2.7`

**What version of `pret

[2018-11-19 02:49] hankchiutw commented on #161
Finally, I found it's related to my `.vimrc`.
A small `.vimrc` to make this issue happen is:
[code]

[2018-11-19 03:58] mitermayer commented on #162
Hi @szymkab

Can you please provide a bit more context on this issue ?

* You have pasted the snippet of your config, however could you also let me know how is that saved as ? Is it a .prettierrc ? Is it a prettier.config.json ? Is it on your package.json ?
* When you run the command prettier, did you edit a file that exists within the scope of the project where you defined that config file ? If y

[2018-11-19 07:48] szymkab commented on #162
1. `prettier.config.js`
2. Yes it is in the scope of the project and I would find it if I traverse upwards. Structure looks like this:
[code]

[2018-11-19 07:52] szymkab commented on #162
1. `prettier.config.js`
2. Yes it is in the scope of the project and I would find it if I traverse upwards. Structure looks like this:
[code]
3. If I run prettier from cli it formats files according to config rules.

[2018-11-20 19:49] mitermayer commented on #162
Will try to reproduce this issue and keep you posted. Do you have any custom vim-prettier configuration on your .vimrc ?

[2018-11-22 06:03] szymkab commented on #162
Nope, I don't have

[2018-11-26 10:22] ppcano opened #164 "How to not always auto format by default"
Thanks for this plugin, it works great.  I have a question or feature request:

I installed the plugin, and it autoformats all the different JS projects I am working on, but this is not always my desired behavior, I often create PRs on other projects which don't expect its code to be "prettified" but those become also autoformatted by default.

[code]

I don't know which is the best workaround or

[2018-12-04 20:24] mitermayer commented on #164
Hi @ppcano

The reason for the auto-format be enabled by default is due to this line on your `.vimrc`

[code]

If you would like to not have `autoformat` enabled you should remove this `autocmd BufWritePre *.js,*.jsx,*.mjs,*.ts,*.tsx Prettier` as that is saying to vim that whenever you intend to save a file it should format it before you do so

[2018-12-04 20:25] mitermayer commented on #164
The `let g:prettier#autoformat = 0` flag is used to control `vim-prettier` bespoke behaviour of autoformatting files that have the pragma `@format` on top of it.

[2018-12-05 22:40] axelav opened #166 "vim-prettier clobbering markdown files"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current/expected behavior?**

`vim-prettier` should property format markdown files. Currently it puts the entire file on a single line. For example, with this input:

[code]

`vim-prettier` currently transforms to this:

[code]

If I run `prettier` via the command line, things work as expected & my output is:

[code]

**

[2018-12-11 06:22] mitermayer commented on #166
Thanks for reporting this issue, will look into it asap

[2018-12-11 19:47] snaveevans commented on #162
I have the same issue.

[2018-12-16 06:08] mitermayer commented on #162
Since 2 people are confirming this issue I will try to replicate this again

[2018-12-19 13:53] bserem opened #167 "Document how to add custom extensions"
**Do you want to request a *feature* or report a *bug*?**
Documendation update / Missing documendation
**What is the current/expected behavior?**
Vim-Prettier runs fine on files it can understand (css, scss, php with the plugin).
What I am missing is how to map it to other file extensions.
For example:
Drupal uses `.module` and `.theme` extensions, which are PHP files. I would love to have Vim-Pre

[2019-01-08 21:13] 1ak31sha opened #168 "Document how to add q-args"
Could you please add documentation for examples of `<q-args>`? I cant seem to figure out how to pass `--tab-width 2` for example. Thank you!

[2019-01-09 21:41] rivertam commented on #166
So I have no idea why it's happening, but the reason for this is that `ftplugin/html.vim` is running. If I comment out lines 1-3 of `ftplugin/html.vim`, `b:prettier_ft_default_args.parser` does not get overwritten to `'html'` and instead remains `'markdown'` and the whole thing works properly. Quite bizarre, though.

[2019-01-09 21:47] rivertam commented on #166
Got it. PR incoming.

[2019-01-11 00:44] sandangel commented on #126
is that possible to use [prettier_d](https://github.com/josephfrazier/prettier_d) with `vim-prettier` ?

[2019-01-11 00:49] sandangel commented on #126
and could you please help me with how to use fzf for quickfix with vim-prettier?

[2019-01-15 19:35] mitermayer commented on #168
Hi @1ak31sha I will do that, in the meantime you can pass `<q-args>` using `:PrettierCli <q-args>` that wont include any of the defaults of `vim-prettier` so you would have to construct the the command yourself.

It may make sense to have `:PrettierCli` allow the extra `<q-args>` to overwrite the defaults, if you think this is a good idea I may be able to create a feature task for it on the `relea

[2019-01-16 00:48] 1ak31sha commented on #168
Thanks @mitermayer ! I'd be happy to even help with adding the docs. But still not sure how to use <q-args> . maybe it is obvious but i cant seem to get it to work. ive tried `:PrettierCli --tab-width 2` and :PrettierCli '--tab-width 2'`

[2019-02-03 23:33] rkulla opened #170 "Toggle autoformat feature and/or documentation"
I currently use this bit of vimscript I wrote in my vimrc file to toggle vim-prettier autoformat on/off:

[code]
because I like to keep autoformat on by default but once in a while I like to turn it off temporarily, e.g., if i don't want a json string to be multiple lines, etc.  This allows you to still type `<Leader>p`, by making a new map called `<Leader>pr` but i don't care if you choose anothe

[2019-02-04 07:38] ds82 opened #171 "Prettier: failed to parse buffer (PrettierAsync) for every JS file"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current/expected behavior?**
Using `PrettierAsync` always results in the error `Prettier: failed to parse buffer`. `Prettier`  command works fine (on every file).

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
0.2.7

**What version of `prettier` are you using - (output of  `:PrettierC

[2019-02-05 18:31] ryanflorence commented on #162
not respecting my package.json, or .prettierrc either. Updated to latest master as of today.

[2019-02-06 22:00] mitermayer commented on #171
I will look into this ASAP

[2019-02-06 22:04] mitermayer commented on #171
Could you try with the prettier `1.0` branch ?

to try with the `1.0` branch please update your `.vimrc` to
from:

[code]

to:

[code]

Curious to see if it still broken in there too

[2019-02-06 22:12] mitermayer commented on #162
@ryanflorence  thanks for checking, I will try to find some time to fix this ASAP. It looks like a regression caused by some incompatibilities with latest prettier bin releases.

I will try to investigate this ASAP, in the meantime I am also open for PR's

[2019-02-06 22:16] mitermayer commented on #162
In the meantime can you all test adding this to your vimrc ?

[code]

I will investigate this issue as soon as I can get some free time

[2019-02-06 22:20] mitermayer commented on #162
I would like to investigate prettier cli itself. It sounds like a regression. Note that https://prettier.io/docs/en/cli.html#config-precedence

    prefer-file
    If a config file is found will evaluate it and ignore other CLI options. If no config file is found CLI options will evaluate as normal.
    This option adds support to editor integrations where users define their default configuration

[2019-02-06 22:22] mitermayer commented on #170
I believe this functionality should be part of `release/1.x` as it make sense to be able to disable autoformat and enable it.

[2019-02-07 07:13] ds82 commented on #171
Thanks for taking the time and looking into this!
I tried the 1.0 branch but the result is exactly the same :/

[2019-02-07 23:10] mitermayer commented on #171
HI @ds82  do you mind trying one more thing ?

on your vimrc :

try adding this
[code]

[2019-02-08 07:27] ds82 commented on #171
I don't mind at all .. I'm happy that you try to fix my problem!
Unfortunately, setting the variable makes no differences either :/

[2019-02-08 17:41] awinograd opened #172 "Support prettier/prettier-ruby"
**Do you want to request a *feature* or report a *bug*?**

feature

https://github.com/prettier/plugin-ruby was just released, is it possible to add support for it in vim-prettier?

I tried digging through the source to add the a `--plugin` option which I thought would be necessary but my vimscript skills are lacking. Please let me know if I can help.

[2019-02-12 21:12] awinograd commented on #172
Duplicate of https://github.com/prettier/vim-prettier/issues/167

[2019-02-12 21:12] #172 closed

[2019-02-13 17:42] tehdb opened #174 "on run :Prettier command weird characters added at the beginning of the file"
"^[[5 q" added to the beginning of the file:

![2019-02-13 18 36 05](https://user-images.githubusercontent.com/3496336/52731747-cbbd8e00-2fbe-11e9-8e4b-5fff883fff44.gif)

[2019-02-15 14:10] tehdb commented on #174
the problem was [this snippet to change the cursor style](https://unix.stackexchange.com/questions/433273/changing-cursor-style-based-on-mode-in-both-zsh-and-vim/433321) in my .zshrc, has nothing to do with vim-prettier, going to close the issue

[2019-02-15 14:10] #174 closed

[2019-02-17 13:38] airblade commented on #170
For a quick one-off bypassing of Prettier you could do `:noautocmd w` to save the buffer.

[2019-02-18 09:38] mitermayer commented on #162
Can you folks try again on release/1.x ?

[2019-02-18 17:55] mitermayer commented on #172
On release/1.x all that is needed should be to add it to the package.json file, I believe that we no longer need to pass `parser` as part of the config as it is currently inferred by --stdin-filepath.

I will add prettier/prettier-ruby to the shipped deps on release/1.x

[2019-02-18 18:03] mitermayer commented on #167
On release/1.x this should work just by ensuring the plugin is installed

[2019-02-18 20:05] joerter commented on #171
Hi @mitermayer, I had the same problem but switching to the release/1.x branch with 1.0.0-alpha version from the `PrettierVersion` command fixed the issue for me.

[2019-02-18 23:27] mitermayer commented on #171
I will try to merge `release/1.x` branch to master ASAP, in the meantime feel free folks to use that branch directly

[code]

[2019-02-18 23:29] mitermayer commented on #162
To test this on the `release/1.x` branch do on your `.vimrc`

[code]

[2019-02-18 23:30] mitermayer commented on #161
Will close this issue for now as other users have not mentioned to have this problem as well, feel free to reopen if anyone face the same issue

[2019-02-18 23:30] #161 closed

[2019-02-18 23:32] mitermayer commented on #106
This is being handled on the `release/1.x` branch

[2019-02-18 23:32] #106 closed

[2019-02-18 23:33] mitermayer commented on #113
This is currently fixed on `release/1.x` branch which soon will be merged to mater

[2019-02-18 23:33] #113 closed

[2019-02-18 23:33] mitermayer commented on #20
This is same as https://github.com/prettier/vim-prettier/issues/148

[2019-02-18 23:33] #20 closed

[2019-02-18 23:34] mitermayer commented on #42
This is same as https://github.com/prettier/vim-prettier/issues/148

[2019-02-18 23:34] #42 closed

[2019-02-18 23:35] mitermayer commented on #151
I haven't managed to replicate this issue or seen any other report around it. Happy to reopen when having more steps to reproduce this

[2019-02-18 23:35] #151 closed

[2019-02-18 23:38] mitermayer commented on #171
If anyone else could please try the `release/1.x` branch to confirm that it does fix this issue that would be great!

[2019-02-19 04:23] esparkman commented on #162
Unfortunately, I'm seeing the same behavior. Unless I have something configured incorrectly.

[2019-02-19 05:35] mitermayer commented on #162
@esparkman any chance you could create a small repro ? I would love to fix this ASAP or at least find out what is happening.

[2019-02-20 08:54] panjacek opened #177 "add groovy handling"
Could we get a groovy scripts handling?

It's a language used by jenkins to describe pipelines.

[2019-02-20 12:49] esparkman commented on #162
@mitermayer for sure I'll let you know here when it's pushed up.

[2019-02-20 12:51] esparkman commented on #162
@mitermayer https://github.com/esparkman/vue-admin-dashboard

[2019-02-20 18:15] mitermayer commented on #177
Hi @panjacek ,

I would love to have support for groovy one day! But in order for us to be able to support groovy we would need a groovy plugin (parser/printer) to be implemented for prettier.

Please refer to:

* supported official convertions:  https://prettier.io/docs/en/index.html
* official supported plugins: https://github.com/prettier

If you know of a prettier groovy pluggin please feel fr

[2019-02-20 18:15] #177 closed

[2019-02-20 18:16] mitermayer commented on #162
Will look into it soon and comment in here the findings and follow up steps. Thanks a lot for that

[2019-02-20 18:18] mitermayer commented on #162
@esparkman some questions that may aid on my investigations:

* Where were you opening vim from ? (the root of the project, the same directory of the file ? other..?
* Which file was it failing for you ?

thanks a lot!

[2019-02-20 19:35] esparkman commented on #162
I open from the Projects root directory
[code]

From within the Project I've been testing in `src/components/Header.vue`
I don't have Lint on Save enabled. So I am manually running :Prettier when I want to lint.

[2019-02-21 11:44] ds82 commented on #171
Tried the branch again (hash cb598c1212dfe20f5a5a950bdee529d224d574d9), but still does not work :/

[2019-02-21 20:10] mitermayer commented on #171
@ds82  thanks for trying, can you post your `vim --version` paste ? I am still trying to figure out how to repro

[2019-02-22 19:27] shuLhan opened #178 "Calling Prettier error if project contains prettier configuration"
This issue describe the problem that the pull request #160 want to fix.

**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current/expected behavior?**

Prettier does not format AngularJS HTML file.

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**

* master at  2019-02-18 be14f94
* release/1.x 2019-02-18 cb598c1

**What vers

[2019-02-22 21:30] mitermayer commented on #178
Hi @shuLhan ,

Thanks for the detailed explanation! I am happy to merge your PR for changing the default to 'file-override' on the `release/1.x` branch. Would you mind updating your PR to point to that release instead ?

[2019-02-23 07:14] shuLhan commented on #178
Done.

[2019-02-23 17:07] mitermayer commented on #178
Hi @shuLhan,

Looks like the PR still pointing to the master branch, Do you mind double check it ?

[2019-02-23 17:10] mitermayer commented on #178
Merged to ‘release/1.x’

[2019-02-23 17:10] #178 closed

[2019-02-23 17:12] mitermayer commented on #162
Should now be fixed on release/1.x branch https://github.com/prettier/vim-prettier/pull/160

[2019-02-23 17:13] mitermayer commented on #162
Pleas make sure to update prettier deps to latest when testing

[2019-02-23 17:15] mitermayer commented on #162
Cc @shuLhan

Could you test this case to see if your PR fixed this issue ?

[2019-02-23 21:52] bobdoah commented on #162
@mitermayer it seems to work fine for me with the release/1.x branch.

[2019-02-25 01:31] shuLhan commented on #162
@mitermayer  I can't reproduce this issue.

@szymkab are you sure there are no other plugins that may interfere with formatting? Just to make sure, create a new .vimrc, clear all bundles, and retry it again.

[2019-02-26 12:38] serebrov commented on #171
I've just got this issue, trying the vim-prettier with `release/1.x` branch, to get the php support.
Both in `js` and `php` files running `:Prettier` and `:PrettierAsync` resulted in `Prettier: failed to parse buffer`.

The cause appeared to be the ruby plugin, I've just removed it manually for now:

[code]

Sidenote: the error message is not informative enough, maybe consider adding some debug /

[2019-03-07 17:12] eibrahim opened #180 "Error detected while processing BufWrite Auto commands for "*.rb""
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current/expected behavior?**
When I try to pretty ruby files, i get
[code]
**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
0.2.7
**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
1.16.4
**What is your `prettier` executable path - (output of  `:PrettierCl

[2019-03-07 20:32] mitermayer commented on #180
Hi @eibrahim the master branch has no support for `ruby` plugins yet. If you want to try using prettier with ruby support you can use our `release/1.x` branch in the meantime. Hopefuly soon we will be doing a release.

an example on how to use the `release/1.x` branch is :

[code]

[2019-03-07 20:32] #180 closed

[2019-03-07 20:35] mitermayer commented on #171
Hi @ serebrov

The above error seems to come from `prettier/ruby`  cc @kddeisz

[2019-03-07 20:37] mitermayer commented on #171
On the sidenote i will add to `release/1.x` a task to have errors a bit more clear when they are non syntax related

[2019-03-07 21:56] kddeisz commented on #171
What's the minimum node version required for this? I specified 8 in the ruby plugin, but maybe I need to support older versions. This is using the spread operator which I guess this doesn't understand.

[2019-03-08 03:08] mitermayer commented on #171
Hi @kddeisz ,

We currently do not have any specified node version https://github.com/prettier/vim-prettier/blob/master/package.json

I belive quite a few people are using older node versions as they seem to be encountering this issue

[2019-03-08 19:18] kddeisz commented on #171
Alright I just released `v0.8.0` for `@prettier/plugin-ruby` which supports the obsolete node versions. Let me know if people still have problems.

[2019-03-08 21:36] mitermayer commented on #171
Thanks @kddeisz !

[2019-03-08 21:40] mitermayer commented on #171
Just updated `release/1.x` to have the latest ruby prettier plugin https://github.com/prettier/vim-prettier/commit/18a42315acc254755b122b4afaf3896466227b6c

@serebrov  do you mind trying it again ?

[2019-03-09 10:06] serebrov commented on #171
@mitermayer yes, works for me now even on node 6.10.

[2019-03-11 13:12] kddeisz commented on #171
Is this closable? It's just still on my radar so just want to make sure it's all fixed up.

[2019-03-11 16:39] mitermayer commented on #171
This issue is closed on `release/1.x`  but since master still behind i will leave it open until this weekend when i will do the `release/1.x` release!

[2019-03-11 17:08] kddeisz commented on #171
Sounds great!

[2019-04-02 08:43] charlyx opened #182 "Run Prettier only if project contains prettier configuration"
**Do you want to request a *feature* or report a *bug*?**

*feature*

**What is the current/expected behavior?**

Currently Prettier is always called whether the project you're working on is using Prettier or not.
I'd like to be able to run prettier only if the project is configured to use Prettier.
This behaviour could be enabled using a variable.

What do you think?

**What version of `vim-prett

[2019-04-03 05:35] mitermayer commented on #182
Hi @charlyx ,

How did you install `vim-prettier` ? If you installed using `vim-plug` you should still be able to use the `prettier` executable even if your project does not have prettier installed.

Otherwise you can always do the following:

1. go to vim prettier installation directory `~/.vim/*/vim-prettier/`
2. install deps with either `npm install` or `yarn install`

Please note that dependin

[2019-04-04 09:14] charlyx commented on #182
Hi @mitermayer, thanks for your answer. I don't have any problem running prettier. I'm asking for a *feature* I believe does not exist.

My problem is that I would like to **not** run prettier on every project. I would like to be able to run it **only** if my project is configured for using prettier. This is what I described in my issue:

I'd like to be able to run prettier only if the project is

[2019-04-05 07:57] mitermayer commented on #182
That sounds like a reasonable feature request I can work on it

[2019-04-14 19:53] charlyx commented on #182
@mitermayer did you have a chance to work on it? If not, I'd be happy to make a PR. Do you have any guidelines to get me started?

[2019-04-15 06:29] mitermayer commented on #182
Hi @charlyx ,

Sorry been super busy lately with work! A PR would be super welcome! If you do a PR to `release/1.x` branch it will be a lot easier to merge as development for master branch are mostly to bugfixes. I probably need to work on `vim-prettier` for a day or two to finalize the release

[2019-04-15 08:26] Fandekasp opened #183 "No syntax color for html files when vim-prettier is enabled"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current/expected behavior?**
file syntax coloration should behave independently from plugins like vim-prettier.

vim-prettier enabled
![](https://i.imgur.com/9tQaCLv.png)

vim-prettier disabled
![](https://i.imgur.com/0ABk4TN.png)

* disabling the 3 lines is the only thing I changed in my vimrc.
* Auto-selection of htmldj

[2019-04-15 08:29] Fandekasp commented on #183
Tried a quickfix with
[code]

but it's getting uglier

[code]

[2019-04-15 09:02] Fandekasp commented on #183
@junegunn @tweekmonster any idea why this is happening? How can I debug this?
Thanks for your help

[2019-04-17 19:36] mjackson opened #184 "First undo after :Prettier takes me to the top of the file"
**Do you want to request a *feature* or report a *bug*?** bug

**What is the current/expected behavior?**

When I use `u` immediately after `:Prettier`, the cursor moves to the top of the file. It would be awesome if it just stayed where it was.

I made a small video to illustrate:

![ScreenFlow](https://user-images.githubusercontent.com/92839/56313371-53329500-6107-11e9-9316-aca281e0dd1b.gif)

**

[2019-04-18 07:19] mitermayer commented on #184
This definitely should not be happening! thanks for reporting this issue

[2019-04-19 17:44] mjackson commented on #184
FWIW it looks like this is still present in the `release/1.x` branch (version 1.0.0-alpha).

![ScreenFlow](https://user-images.githubusercontent.com/92839/56436272-1a71f780-6290-11e9-91bc-db23a52e3a3a.gif)

[2019-04-19 18:23] mitermayer commented on #184
Ahhh I thought this was fixed in there.

@mjackson  could you please provide me some info like `vim --version` ?

I will work on this issue this weekend and make sure its fixed. Sorry for that

[2019-04-19 19:23] 0xnoob opened #185 "formatting by saving works only for languages of last opened file"
**Do you want to request a *feature* or report a *bug*?**
**bug**

**What is the current/expected behavior?**

**current**
When I open file(s) in programming language X and then another file in language Y (with `:tabnew`), auto formatting on save doesn't work anymore for files in programming language X.

e.g.

1. I open up an html-file, then in a new tab a js-file: format on save doesn't work for

[2019-04-22 21:28] mjackson commented on #184
Absolutely, here's `vim --version`:

[code]

My current `:PrettierVersion` is `1.0.0-alpha`.

Thanks, @mitermayer!

[2019-05-08 22:05] christodoulos opened #186 "Wrong parser used for markdown files"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current/expected behavior?**
Using nvim and editing markdown files. vim-prettier should use markdown parser, instead uses json parser. From nvim log:
[code]

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
0.2.7
**What version of `prettier` are you using - (output of  `:PrettierCliVersio

[2019-05-08 22:10] christodoulos commented on #186
My nvim config:
[code]

[2019-05-08 22:26] christodoulos commented on #186
OK I figured it out: I was also using vim-markdown and when I commened out the following lines:
[code]
everything works fine! Thanks a lot for your plugin!

[2019-05-08 22:26] #186 closed

[2019-05-11 17:21] tornoda opened #187 "fail to parse buffer?"
**I have checkout all the issues without no answer to my problem**
I only do one thing in my .vimrc file:
Plug 'prettier/vim-prettier', {'do': 'yarn install'}

**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current/expected behavior?**
fail to parse buffer
**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
0.2.7
**What version of `prett

[2019-05-16 11:52] radical-edo opened #188 "Failed to parse buffer import.meta.url"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current/expected behavior?**
Current:
Getting error `"Prettier: faliled to parse buffer."` when I'm in `.mjs` file and using `import.meta.url` to get the `__dirname` equivalent for ESM modules in `Node.js`

Expected:
No error

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
0.2.7
**What

[2019-06-04 16:37] lpender opened #189 ".prettierignore appends a bunch of nonsense"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current/expected behavior?**

Steps to Reproduce:

1. Create a `.prettierignore` file in the root of a directory, with the contents: `**/*`.
2. Create a file `test.js`. with the contents:

[code]
3. Save that file

**Expected Result**

Nothing should happen

**Actual Result**

It saves the file with the contents:

[code]

[2019-06-20 18:37] openjck commented on #182
I would also love this feature.

Just remember that not all projects have a prettier configuration file. Some use the default prettier configuration. Perhaps vim-prettier could run only if prettier is named as a *direct* dependency in package.json.

[2019-06-21 21:29] jrock2004 opened #191 "Autoformat not working on save"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current/expected behavior?**
Just installed the plugin and when I save the file, nothing changes. If I do `:Prettier` it then formats my document. I ran `echo g:prettier#autoformat` and it returns a `1`

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
0.2.7

**What version of `prettier`

[2019-07-16 13:54] GeneZharov opened #192 "Window is unexpectedly scrolled after :Prettier"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current/expected behavior?**
Steps to reproduce:
1. Open any JavaScript file that is big enough to be vertically scrollable.
3. Add an empty line to the end of a buffer. (actually, other edits also cause this issue but new lines at the ending are easier to reproduce)
3. Set the cursor position at the last (empty) line.
2.

[2019-07-28 12:57] aranmohyeddin opened #194 "make prettier respect eslint"
How to configure prettier to use eslint --fix or be compatible with the eslint config of the project?

For example in my vue files eslint turns:
[code]
into this:
[code]
And that is incompatible with my eslint configurations.

[2019-07-28 13:34] #194 closed

[2019-08-06 20:02] lfarroco commented on #191
look for the following text in the README:

there are some options to enable autosaving (the code snippets should be added to the `~/.vimrc` file)

[2019-08-20 08:42] azat-io opened #195 "Can I automatically disable vim-prettier if .prettierrc is doesn't exists in project folder?"

[2019-08-26 20:40] playahater opened #197 "Loading global .prettierrc from user's home ?"
Hey guys,

Quick question. Any way to load the .prettierrc from the user's home dir when it's not found in project dir ?
Like loading a global ~/.prettierrc by default ?

Can't seem to find a way to do this.
Any feedback is more than appreciated in advance,

Milos

[2019-08-27 10:21] playahater commented on #197
Hi @mitermayer

Thank you for your feedback.

So i'm using Vim 8.1.1906 on Archlinux.

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
1.0.0-alpha

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
1.18.2

**What is your `prettier` executable path - (output of  `:PrettierCliPath`) ?**
prettier [ full exported path is ~/.node/bin

[2019-08-27 22:33] jrop opened #199 "For "in-memory" buffers (not saved to file system): `Prettier: failed to parse buffer`"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current/expected behavior?**
In VIM:
:tabnew
:set ft=json
(paste some JSON into temporary buffer)
:Prettier

Prettier then gives the message: `Prettier: failed to parse buffer`.  It works, however, if I save the file as `/tmp/some.json`.  It seems to only break on "in-memory" buffers.

**What version of `vim-prettier` a

[2019-08-27 22:39] #199 closed, assigned to nobody

[2019-08-28 00:02] Fandekasp commented on #183
@mitermayer sorry, I have never used vim-prettier in the end, and am not working on a js project at the moment. But I'll keep in mind that you release a new version for the next opportunity, thanks!

[2019-08-28 14:25] CyrilAntoni commented on #187
Hello there,
I installed vim-prettier yesterday and it was working for some time. But now it displays this error in Vim:
[code]

I use vim-plug, npm and the latest release/1.x branch.

Here is my `.vimrc`:
[code]
I saved it `:w`, sourced it `:source %` and installed it `:PlugInstall`.
I even tried to restart my computer and to update it `:PlugUpdate` but to no avail.

When I do `npm i` in the `~/.

[2019-08-29 01:33] 0xnoob commented on #185
Now auto formatting on save never works. :worried:
Even if I only have a single file   open, the file does contain a `// @format` annotation, but it still works via `:Prettier`.

Adding `let g:prettier#autoformat = 1` to my `.vimrc` doesn't fix it either.

---
Just to be sure it's the right version I'm testing:

[code]

[2019-08-29 03:30] mitermayer commented on #183
Hi @Fandekasp,

Thanks for letting me know. Will close this issue :) feel free to re-open in the future if you still experience this issue

[2019-08-29 03:30] #183 closed

[2019-08-29 04:43] mitermayer commented on #187
Hi @CyrilAntoni,

From your stacktrace error above looks like your computer is having permission problems with that directory. Please note this lines:

[code]

can you manually perform this steps to test it out ?

1. got to `/home/cyril/.vim/plugged/vim-prettier`
2. do a pull by `git pull`
3. remove existing node_modules `rm -rf /home/cyril/.vim/plugged/vim-prettier/node_modules`
4. install deps a

[2019-08-29 04:47] mitermayer commented on #187
Could you please paste the output of `ls -alh /home/cyril/.vim/plugged/vim-prettier` ? I It looks like directory permission issues:

[code]

Another thing worth trying to fix your directory permissions for `vim-prettier` installation like so:

`sudo chown -R $USER:$USER /home/cyril/.vim/plugged/vim-prettier` that should fix directory permissions for you.

[2019-08-29 04:56] mitermayer commented on #185
Hi @0xnoob

Thanks for reporting this, looks like a regression in the `release/1.x` branch. Will work on fixing this issue ASAP.

it looks like we are not adding the commands for that branch, the command on master is https://github.com/prettier/vim-prettier/blob/master/ftplugin/javascript.vim and on release/1.x branch is https://github.com/prettier/vim-prettier/tree/release/1.x/ftplugin

[2019-08-29 04:57] mitermayer commented on #185
Will look into this, hopefully should be able to have a diff for it sometime soon prob around the weekend

[2019-08-29 05:00] mitermayer commented on #185
In the meantime to unblock you do you want to manuall configure `vim-prettier` to run on auto-save by updating your `.vimrc` settings ?

Copying bellow reference from the README.md in here:

To enable vim-prettier to run in files without requiring the "@format" doc tag.
First disable the default autoformat, then update to your own custom behaviour

Running before saving sync:

[code]

Running befo

[2019-08-29 08:34] svengiebel commented on #192
Hey @mitermayer im using `release/1.x` but i still got the same problem :(
Does not happen always though...

[2019-08-29 09:45] CyrilAntoni commented on #187
@mitermayer that was it! I probably ran a `sudo` at some point and all my files belonged to the root user:
[code]
So I ran the `sudo chown -R $USER:$USER /home/cyril/.vim` you indicated (on the .vim directory to make sure) and then `npm i` in the vim-prettier directory.

The plugin now works perfectly, thank you for the quick and well explained answer!

[2019-08-29 12:57] CyrilAntoni commented on #187
I also noticed that Prettier was failing to parse buffers when attempting to run it from `sudo vim` (launched from a bash script).
So if you have issues it may be worth checking if running `vim` works better than `sudo vim`.

[2019-08-29 15:21] CyrilAntoni commented on #126
Hi there,

Would it be possible to add the `close-empty-jsx-elements` option like in VS Code's Prettier?
https://github.com/prettier/prettier/issues/5442#issuecomment-437708682
So that `<div></div>` becomes `<div />`.

If I understand it well, the option should look like this:
`let g:prettier#config#close_empty_jsx_elements = 1`

Thanks!

[2019-08-29 18:24] aranmohyeddin opened #200 "incosistent with prettier cli and introducing syntaxt error."
I have the following file and it's called test.vue
[code]
I run `prettier test.vue` and I get:
[code]
But I do :Prettier in vim and I get:
[code]
which is actually syntax error.

[2019-08-29 19:35] GeneZharov commented on #192
I solved it this way:

[code]

It is [ALE](https://github.com/dense-analysis/ale) for those who didn't catch the joke. Another plugin that is capable of running prettier.

[2019-08-30 03:55] mitermayer commented on #126
Hi @CyrilAntoni,

Sure thing, do you want to create an issue to track that? I am happy to work on it during the weekend

[2019-08-30 03:59] mitermayer commented on #187
@CyrilAntoni ,

If you run using `sudo vim` vim will run as the user `root` which it may not have access to `prettier` CLI on its path and possibly no access to the vim plugins as its `$HOME` directory would not match your directory, it would be on `/home/root`, also it means when you save any file it will change the permissions of saved file to `root:root` which will mean you wont be able to edit

[2019-08-30 03:59] mitermayer commented on #187
Closing this issue as it seems to have been solved, feel free to re-open if still experiencing any issues

[2019-08-30 03:59] #187 closed

[2019-08-30 04:01] mitermayer commented on #200
Hi @aranmohyeddin,

Would you mind providing some information to help me debug this issue ?

From inside `vim` whats the output of ?

* `:PrettierCliVersion`
* `:PrettierCliPath`
*`:PrettierVersion`

and from your command line, whats the output of `prettier --version` and `vim --version`

Thanks a lot!

[2019-08-30 11:17] svengiebel commented on #192
Did the same with coc.nvim :)

[2019-08-30 11:43] CyrilAntoni opened #202 "Add A "Close Empty JSX Element" Like On VS Code's Prettier"
Hi @mitermayer, as seen [here](https://github.com/prettier/vim-prettier/issues/126#issuecomment-526234706) it would be great to have a "Close Empty JSX Element" in Vim-Prettier so that `<div></div>` becomes `<div />` when parsed.

Thank you for the kind support!

[2019-08-30 11:47] playahater commented on #197
hey @mitermayer

Sorry for delay.
Have updated the plugin. Just tested and have the same behavior. ~./prettierrc is not loaded. If i copy to project document root, it works.
Are you able to reproduce this issue ?

will try to run the prettier cli outside vim and see if it will find it in user's home. According to how config resolver works, it seems like it will fail.

Will keep you posted.
Thanx f

[2019-08-30 11:48] CyrilAntoni commented on #126
@mitermayer thank you that's very nice of you to do it, even on your weekend!

[2019-08-30 12:51] aranmohyeddin commented on #200
1.16.3
/home/blah/node_modules/.bin/prettier
0.2.7
1.18.2
VIM - Vi IMproved 8.1 (2018 May 18, compiled Jul 29 2019 20:38:53)

[2019-08-31 02:44] mitermayer commented on #192
Closing this issue for now, did some fixes on `release/1.x` if anyone still experience this issue on `release/1.x` i will then re-open

[2019-08-31 02:44] #192 closed

[2019-08-31 02:45] mitermayer commented on #202
Will work on it this weekend

[2019-09-01 12:01] playahater commented on #197
Hey @mitermayer,

Tested with prettier cli outside of vim and as expected got the same behavior as with vim-prettier.

`prettier --config-precedence 'prefer-file' --write path/to/file`
or
`prettier --config-precedence 'file-override' --write path/to/file`

Was invoking from within the project root [ relative file path ] and the configuration was not picked up. When i copied ~/.prettierrc to a proj

[2019-09-01 18:17] timonson commented on #184
This bug continues to exist and is terrible. Is anybody working on it? I would be happy to give more information if needed.

[2019-09-02 16:19] jparr721 commented on #189
Same happens to me actually, but it just copies the bottom two lines of the file on save. This happens for me primarily with json and .js files.

[2019-09-02 16:26] jparr721 opened #204 "Vim-prettier ignoring .prettierignore"
**Do you want to request a *feature* or report a *bug*?**
*bug*

**What is the current/expected behavior?**
I expect the file to not be formatted when it's in prettierignore. Instead, it seems to be not only breaking the code

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
1.0.0-alpha

**What version of `prettier` are you using - (output of  `:PrettierCliVersio

[2019-09-03 18:10] aranmohyeddin commented on #200
Please tell me if you need any other information on this.

[2019-09-04 15:30] mjackson commented on #184
Not sure if this helps but [ale](https://github.com/dense-analysis/ale) doesn't have this problem. Maybe you could borrow their approach?

Right now I'm using

[code]

in my `.vimrc` and it works great.

[2019-09-04 19:39] mitermayer commented on #184
Sorry for the above issues. I managed to root cause the problem.

It was due my old naive implementation for supporting auto formatting on `pragma` files. When that feature was implemented at first `prettier` itself did not have a native support for `pragma` `@autoformat`.

The naive implementation had been done in here https://github.com/prettier/vim-prettier/blob/release/1.x/autoload/prettier.vi

[2019-09-04 23:22] timonson commented on #184
Thank you very much mitermayer. This sounds exactly like the cause of the problem. Will you be able to release the fix with the V 1.0?

[2019-09-08 04:31] alexventuraio commented on #178
I had the same problem but I do confirm that cloning `release/1.x` for **pathogen**, worked for me like a charm!
👏🏻😎

[2019-09-08 04:42] alexventuraio commented on #184
I had the same problem but I do confirm that using `release/1.x` with **pathogen**, do not solves the problem!
![1chsQLOAux](https://user-images.githubusercontent.com/13169164/64483538-1ad04800-d1c9-11e9-8112-0090d279a1d6.gif)

- I still have the same issue when saving file and auto-format runs. I'm taken to the last line of the file.
- Also when undoing changes, I'm taken to the first line of the

[2019-09-09 07:00] CyrilAntoni commented on #202
Hi @mitermayer,

Have you got the time to develop this feature? Or is it planned for a later release date?

Cordially,
Cyril

[2019-09-11 08:02] ondrejsevcik opened #205 "How to format unsaved buffer?"
Hi, I have a workflow where I paste some JSON into vim to examine it and then I want to format it. But unless I save it first with `.json` extension, I'm getting parsing errors from prettier.

Is there a way to run `:Prettier` with some argument to tell it it is a JSON?

Thanks

[2019-09-11 11:48] atomdmac commented on #182
In the meantime, I solved this by adding this to my `init.vim`:
[code]

This implementation _only_ searches parent directories for `.prettierrc.js` but could be easily expanded to check for other naming variations as well.

[2019-09-12 04:31] mitermayer commented on #202
Sorry got stuck with family duties, hoping to do this in the next few days

[2019-09-12 06:53] CyrilAntoni commented on #202
I hope everything is alright with your family.

And thank you in advance for this feature!

[2019-09-13 21:18] mitermayer commented on #205
hi @ondrejsevcik,

From `vim-prettier` on `release/1.x` we pass through the name of the `buffer` to the `prettier` cli. This means if you name the buffer `foo.json` and run `:Prettier` you can have it formatted without saving the file.

I usally do that a lot myself, open vim and do a `:e temp.json` and paste contents then do a `:Prettier`.

[2019-09-13 21:19] mitermayer commented on #205
Will close this issue as it was a question, if the above does not work please feel free to comment on this issue and i will reopen it and further look into it

[2019-09-13 21:19] #205 closed

[2019-09-13 22:29] mitermayer commented on #184
Looking into the implementation of vim itself for that on https://github.com/vim/vim/blob/master/src/undo.c

my previous assumption of the `pragma` fix did NOT fix this issue (https://github.com/prettier/vim-prettier/pull/206). So the bug is unrelated.

This issue seems common on vim execution of calls example of https://stackoverflow.com/questions/31548025/vim-undo-why-does-the-cursor-jump-to-the

[2019-09-14 05:29] mitermayer commented on #184
Managed to figure out a fix for this on https://github.com/prettier/vim-prettier/pull/207/commits/87f217f953b64103e8bef48980c0f002aa0f00c7

This fix is now getting merged via this PR https://github.com/prettier/vim-prettier/pull/207 and will be available on the `release/1.x`

Please would be great if everyone could give this another try!

[2019-09-14 05:30] mitermayer commented on #184
Sorry that took me long to find time to look into this issue. Combination of busy with work and family duties!

Hopefully it should be now unblocking everyone

[2019-09-14 05:45] mitermayer commented on #108
This issue has been fixed on `release/1.x`

[2019-09-14 05:45] #108 closed

[2019-09-14 05:46] mitermayer commented on #148
Unfortunately at this stage I can commit to this issue, it has been already tricky to ensure we are always working with `prettier` cli upstream let alone start adding new dependencies.

If this feature is highly desirable i suggest looking into Ale

[2019-09-14 05:46] #148 closed

[2019-09-14 05:48] mitermayer commented on #171
This issue has been solved on `release/1.x` branch will close this to help me track fixed issues for the release changelog

[2019-09-14 05:49] mitermayer commented on #200
This issue has been fixed on `release/1.x` branch

Closing this for now

[2019-09-14 05:49] #200 closed

[2019-09-14 05:49] alexventuraio commented on #184
I just delete the `vim-prettier` cloned folder and clone it one more time (since I use **pathogen**). And this time instead of testing in `MacVim` I use `Vim` directly in my terminal.

I do confirm, I still have the same issue.

Not sure if there's something else maybe going wrong with my personal config or something like that, any suggestion is welcome to make it easier to reproduce.

By the way,

[2019-09-14 05:50] mitermayer commented on #197
Hi @playahater

Thanks for the message, we should create that issue on `prettier` repo itself and track it over there.

Thanks for looking into this. Will close this issue on here since its an upstream issue.

[2019-09-14 05:50] #197 closed

[2019-09-14 05:51] mitermayer commented on #184
@alexventuraio  you need to ensure to use the branch `release/1.x` for that. I no longer am doing fixes on `master`

[2019-09-14 05:55] mitermayer commented on #184
@alexjoverm,

can you help me debug this issue a bit further ?

+ Whats the git hash commit you have in there? latest should be `9c216df3a57d35dc90222473a3438697624c9a4f`
+ whats the output of your `vim --version` ?
+ Not sure I understand what the above you are demonstrating, is it the same file opened in 2 different buffers ?

***

Can you test this workflow ?

create a file with around 30 lines

[2019-09-14 05:58] mitermayer commented on #184
@alexjoverm

I was able to reproduce your issue only when having vim oppening the same file in 2 different buffers. But if the file is open in a single buffer this is not an issue

[2019-09-14 05:59] mitermayer commented on #184
if you can repro this issue in a `single` buffer please feel free to comment in here and i will reopen this.

[2019-09-14 05:59] #184 closed

[2019-09-14 07:35] CyrilAntoni commented on #202
Thank you for checking it up @mitermayer!

Alright then, I'll reopen the issue as soon as the cli support is added.

[2019-09-16 18:09] n-xlkt opened #209 "feature request: use single quotes instead of double quotes in JSX (like in VS Code)"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current/expected behavior?**
Ability to toggle JSX Single Quote option
![image](https://user-images.githubusercontent.com/1295659/64982036-48815500-d88b-11e9-8315-76d26f0acd97.png)

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
1.0.0-alpha

**What version of `prettier` are you usi

[2019-09-16 18:35] n-xlkt opened #210 "Bug: correctly formatting on `<Leader>p`, incorrectly formatting on save"
Do you want to request a feature or report a bug?
Bug

What is the current/expected behavior?
current behavior: respecting `let g:prettier#config#semi = 'false'` on `<Leader>p`, but not on file save
expected behavior: same behavior on `<Leader> p` and file save

What version of vim-prettier are you using - (output of :PrettierVersion) ?
1.0.0-alpha

What version of prettier are you using - (output

[2019-09-18 17:43] mitermayer commented on #210
Hi @n-xlkt ,

Thanks for reporting this issue, just to make sure i understood.

* When using `<Leader> p` you get the formatting as you expected
* When saving a file the auto formatting is not matching the one from `<Leader> p` ?

Can you provide a minimal sample code for me to reproduce and look into it ?

thanks a lot!

[2019-09-18 17:44] mitermayer commented on #209
HI @n-xlkt

Thanks for reporting this issue, looks like we need to add support on `vim-prettier` for both options:

[code]

I will work on adding this to the `release/1.x` branch

[2019-09-18 18:14] n-xlkt commented on #210
For sure! Hope this clarifies.

original sample:
[code]

 using `<Leader> p`:
[code]

using `:w`:
[code]

here's pertinent samples from my dots:
[code]

[2019-09-25 03:18] andykais opened #211 "release/1.x: prettier plugins do not work when installed with pnpm"
**Do you want to request a *feature* or report a *bug*?**

**What is the current/expected behavior?**
the prettier plugin `prettier-plugin-svelte` should work when installed on a project. It does work with npm, it does not work with [pnpm](https://pnpm.js.org/). I suspect the same issue will occur with any prettier plugin. I can create a repro repo if it helps.

**What version of `vim-prettier` ar

[2019-10-09 19:54] atomdmac commented on #182
FYI:  I [have a branch](https://github.com/atomdmac/vim-prettier/tree/toggle-autoformat-by-config)  that has a new `prettier#autoformat_config_present` setting that will toggle auto-formatting based on whether a Prettier config can be found.

However, I haven't submitted a PR yet because I haven't been able to get this to work under `master`; only under `release/1.x`.  According the standard PR su

[2019-10-13 14:01] atomdmac commented on #182
Update: I've opened a formal PR [here](https://github.com/prettier/vim-prettier/pull/212).  There are still a few loose ends to tie up but feel free to comment.

[2019-10-14 04:52] mitermayer commented on #182
I will aim to look into this sometime this week or next weekend, been very busy at work but I really want to release 1.x soon!

There are some bugs that i want to fix and some "todo" that i want to clean, but overall is very stable

[2019-10-17 05:57] alexluecke opened #213 "Plugin should load project config if available"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current/expected behavior?**

I would expect vim settings to adopt those in my prettier config and not need to supply them through a vim configuration. I have a `.prettierrc.yaml` file within my project, but running `:Prettier` yields a default formatting.

Currently not supported.

**What version of `vim-prettier` a

[2019-10-18 03:58] alexluecke commented on #213
This is the purpose of the parser parameter. Closing.

[2019-10-18 03:58] #213 closed

[2019-10-26 15:24] kyle-dormer opened #214 "Bug: failed to parse buffer."
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current/expected behavior?**
Prettier cannot format the file due to `Prettier: failed to parse buffer.` This occurs both on save and when executing the `:Prettier` and `PrettierAsync` commands manually. The same error occurs on both macvim and neovim.

**What version of `vim-prettier` are you using - (output of `:Prettie

[2019-10-28 12:00] geoyws commented on #214
I have this same problem. Maybe it's because I updated to a later version. Anyone else getting "failed to parse buffer"?

[2019-11-02 16:05] agaryen commented on #214
Same here. It seems to be quite a recurring issue, according to the number of github issues regarding this specific error.

[2019-11-04 16:23] hitochan777 opened #215 "Error on `:wq`"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current/expected behavior?**
#### Current behavior

When I save and quit with `:wq`, I get the following error:

[code]
#### Expected behavior

At least there should not be no error. It would be great if the file is formatted before quitting.

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`)

[2019-11-05 13:44] lheberlie opened #216 "E121: Undefined variable: g:prettier#autoformat"
**Do you want to request a *feature* or report a *bug*?**
Bug

[code]

**What is the current/expected behavior?**
No Errors when opening a file

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
`0.2.7`

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**

`1.18.2`

**What is your `prettier` executable path - (output of  `:PrettierC

[2019-11-06 02:33] hankchiutw commented on #161
I found that `plugin` is loaded after `ftplugin`([ftplugin-overrule](http://vimdoc.sourceforge.net/htmldoc/filetype.html#ftplugin-overrule)).

This may be the root cause of the issue. But I don't know clearly why it happens only when using `vim-pathogen`.

@mitermayer , I created a PR(https://github.com/prettier/vim-prettier/pull/217), could you have a look? thanks!

[2019-11-09 00:46] markplindsay commented on #214
Stepping back to prettier@1.18.2 fixed it for me with vim-prettier 0.2.7.

I thought this was weird since the OP reported they were using 1.18.2. So, to make sure it wasn't something unrelated, I double checked by reinstalling 1.19.0. Got the error. Downgraded to 1.18.2. No more error.

[2019-11-10 20:14] AnatoleLucet commented on #30
Hi, any idea why it's not working on `.ts` and `.tsx` files?
[code]
It can format Typescript file when I press `<Leader>p` but it doesn't want to auto format on save (only for `.ts` and `.tsx`, the others work well).

[2019-11-19 04:48] hankchiutw commented on #216
I think this should be fixed after #217

[2019-11-19 11:44] niksubramanian commented on #194
I'm having the same issue with Vue: any insights on how you managed to fix this @aranmohyeddin ?

Thanks in advance!

[2019-11-19 19:59] aranmohyeddin commented on #194
I couldn't manage...

[2019-11-20 08:25] joergklein opened #218 "How configure"
How do I configure prettier that there are no line breaks for meta tags links and lists?

[2019-11-21 03:15] mitermayer commented on #216
This has been fixed on https://github.com/prettier/vim-prettier/pull/217

Will port the fix to other branches soon

[2019-11-21 03:15] #216 closed

[2019-11-21 12:55] lheberlie commented on #216
thank you @hankchiutw @mitermayer

[2019-11-24 05:05] atomdmac commented on #182
👋 Just checking in - I know the holidays are coming up so no pressure if you're still tight on time.

[2019-11-25 04:40] mitermayer commented on #182
Hi @atomdmac, will try to get on this in the holidays! sorry trying to wrap up end of the year goals at work

[2019-11-27 20:43] garetmckinley opened #219 "TypeScript is formatted as PHP (1.x)"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current/expected behavior?**
Prettier is failing to format my TypeScript file because it's interpreting it as PHP.

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
1.0.0-alpha

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
1.18.2

**What is your `pr

[2019-12-13 19:30] scull7 commented on #219
I'm having the same issue with my JavaScript files using `NVIM v0.4.3`

[2019-12-13 19:56] garetmckinley commented on #219
😕 hopefully we can get some sort of input. Curious whether it's the version or something else. There's nothing in the file that should trigger php detection. I'm on a new computer this week, so I'll give it a try. Maybe there's something that I'll learn or will help narrow down.

Are you using nvm?

[2019-12-16 14:47] daern91 commented on #214
For what it's worth, I'm also seeing issues with prettier version `1.19.0` but downgrading to `1.18.x` makes everything work fine again.

[2019-12-21 12:17] sheoak opened #221 "Package.json configuration not loaded properly (release 1.x)"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current/expected behavior?**
eslint command line should have equivalent behavior, but prettier doesn't load the package.json file properly

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
1.0.0-alpha

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
1.

[2019-12-23 03:29] aca commented on #214
[code]
failed to handle type conversion "arg as string" for tsx (vim prints filetype as typescriptreact)

but, cli works just fine.

[2019-12-23 20:49] mitermayer commented on #214
I am almost on leave from work, and will look at this issues from tomorrow :)

[2019-12-26 21:42] schontz opened #222 "Bug: Bracket spacing is ignored"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current/expected behavior?**
By default, bracket spacing is `true`, thus I expect the following format:
[code]
But vim-prettier is always collapsing that to:
[code]

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
0.2.7

**What version of `prettier` are you using - (output of  `:Prettie

[2019-12-26 21:55] schontz commented on #222
When I save the file in nvim, it collapses the brackets. If I then check the file:

[code]

...then manually running `prettier --write "foo.js"` puts the spaces back in.

For reference, here are all my plugins:
[code]

And my prettier setting:
[code]

[2019-12-26 22:07] schontz commented on #222
It turns out there was an issue with `coc` and its config to `formatOnSaveFiletypes`. Removing JS/TS let `vim-prettier` behave properly. But since I'm using `coc` I switched to `coc-prettier` instead. Is one preferred over the other (`coc-prettier` or `vim-prettier`)?

[2019-12-26 22:07] #222 closed

[2020-01-02 18:31] joergklein opened #223 "How do I run prettier for markdown files for Hugo the static site generator?"
I use Vim version 7.4.629 and  I want to use prettier to clean up markdown files for Hugo the static site generator.

Here is an example:
[code]

[2020-01-08 03:16] rollschild commented on #215
Any thoughts/activities on this? I'm experiencing the same issue here

[2020-01-08 04:22] mitermayer commented on #215
Hi All,

Could you please post the output of `vim --version`

thanks :)

[2020-01-08 21:07] mitermayer commented on #223
Hi There,

Is " Hugo the static site generator." a valid option on `prettier`, or is there a plugin created for it?

[2020-01-08 21:39] mitermayer commented on #215
Would be great to know the `vim` version you folks are experiencing while running this issue in order for me to send a fix for it

[2020-01-08 21:41] rollschild commented on #215
This happens on my personal machine, from which I'm away right now. Will be posting the version info here in two or three hours

[2020-01-09 00:13] rollschild commented on #215
vim: 8.2
neovim: 0.4.3

[2020-01-09 00:35] mitermayer commented on #215
Thanks!

Will upgrade my vim to those versions and try it out! looks like there could be some upstream changes in `vim` itself

[2020-01-15 08:39] joergklein commented on #223
I use a .prettierrc at the moment and prettier works fine.The line is important `"proseWrap": "always",`. Here is the prettierrc.

[code]

[2020-01-31 08:48] koljakube commented on #214
For what it's worth, I am having the same problem. It seems to be related to the file type.

I tried switching from `leafgarland/typescript-vim` and `peitalin/vim-jsx-typescript` to `sheerun/vim-polyglot`, and `vim-prettier` fails with the line "failed to parse buffer".

With the two previous plugins the filetype was typescript.tsx and everything worked, now it is typescriptreact and fails. For no

[2020-02-02 22:18] mitermayer commented on #214
Hi @koljakube,

Great finding, this explain a lot. I previously had removed the filetypes definition from the release/1.x branch due to relying on prettier itself to be capable of identifying the filetype based on extension.

I will re-add that back and dig on upstream to understand what can be going wrong within the communication between vim-prettier and prettier itself

[2020-02-05 00:38] mitermayer commented on #219
Hi All,

Can you provide some snippets for me to test this, in order for me to submit a patch for it ?

[2020-02-05 00:53] mitermayer commented on #126
I acknowledge there are still some follow ups to be done for `release/1.x` but this branch has been open for way too long, I have also been dog-fooding this branch all throughout, so Then decided to merge it today to master.

Master is now set as version 1.0.0-alpha, will be listening to feedback and applying fixes/patches as needed and once stable will move it to `beta` and final release stages.

[2020-02-05 00:53] #126 closed

[2020-02-05 00:55] mitermayer commented on #149
Haven't had time to look into this. Will close this issue for now but have added it to a list of "wish" lists for the future, and when time comes will reopen it.

[2020-02-05 00:55] #149 closed

[2020-02-13 11:43] mitermayer commented on #214
I have reincluded file type definitions and branch 1.0 has been merged into master. Is anyone still facing this issues ?

Please comment/reopen this issue if you are still facing this issue

[2020-02-13 11:44] mitermayer commented on #182
This issue has been fixed already by @atomdmac

[2020-02-15 13:24] ParamagicDev commented on #214
Still encountering this issue.

Neovim: 0.4.3
Prettier Version: 1.0.0-alpha
Prettier CLI version: 1.19.1
Prettier CLI Path: /home/krog/.vim/plugged/vim-prettier/node_modules/.bin/prettier
Node version: 11.15.0

[2020-02-16 02:55] mitermayer commented on #214
Thanks for including your config it is super helpful , I will investigate this issue with neovim and comment in here

[2020-02-16 09:04] byeokim commented on #184
Hi, I am reporting similar behavior: instead of undo, redo is taking me to the top of the file though not sure if it is an intended behavior.

**Do you want to request a feature or report a bug?**

Report a bug.

**What is the current/expected behavior?**

Current behavior:

When I press `u` after `:Prettier`, the cursor correctly stays where the last change was made. However when I press `Ctrl-r`

[2020-02-16 21:17] mitermayer commented on #184
Hi @byeokim,

Thanks for reporting this. Can you check if the undo case is working as expected for you ? If so could you open a new issue for the redo ?

Thanks a lot!

[2020-02-17 03:24] byeokim commented on #184
Thank you for your guidance. Undo is working as expected. I am opening a new issue for redo.

[2020-02-17 04:00] byeokim opened #226 "Redo after undo after :Prettier takes me to the top of the file"
Hi, I am reporting a similar behavior to #184 : redo is taking me to the top of the file.

**Do you want to request a feature or report a bug?**

Report a bug.

**What is the current/expected behavior?**

Current behavior:

When I press `u` after `:Prettier`, the cursor correctly stays where the last change was made. However when I press `Ctrl-r` after that the cursor jumps to the top line.

Expec

[2020-02-18 01:26] ParamagicDev commented on #214
Let me know if there's any other way I can help. My full config is here:

[https://github.com/ParamagicDev/config-files/blob/master/dotfiles/vimrc](https://github.com/ParamagicDev/config-files/blob/master/dotfiles/vimrc)

I haven't tested whether it works in regular vim yet. I'll test it next time I'm at my computer. I'll also try removing plugins 1 by 1. Who knows, it could be a plug-in compatibi

[2020-02-18 03:07] ParamagicDev commented on #214
So I found that the issue comes up specifically in this repository when editing `.js` files:

[https://github.com/ParamagicDev/ma-protocol-rewrite/tree/development](https://github.com/ParamagicDev/ma-protocol-rewrite/tree/development)

I've tried changing the default parser to Babylon and that did not fix the issue. I swapped over into one of my rails projects and did not encounter the issue with

[2020-02-18 11:23] mitermayer commented on #214
hi @ParamagicDev

Thank you for the snippet, I am able to reproduce this issue on my end!

This bug seems to be something related to the `.prettierrc` in that repo, if i delete that file the `vim-prettier` works as expected.

Will keep digging into it and comment in here any findings

[2020-02-18 12:30] mitermayer commented on #214
@ParamagicDev

It looks like the problem is that one of `vim-prettier` dependencies `` is bringing a broken version of prettier CLI managed to fix this by updating the yarn lock file.

can you please try the following and see if you can still repro this error:

1. update vim-prettier to latest master (should contain this commit https://github.com/prettier/vim-prettier/commit/7041b9cb8bee84f432f1e1

[2020-02-19 03:25] ParamagicDev commented on #214
@mitermayer Thank you so much for this. Everything's working as expected now.

[2020-02-19 07:08] mitermayer commented on #214
Closing this issue now, feel free to comment or reopen this issue if anyone experience same problem again

[2020-02-19 07:08] #214 closed

[2020-02-20 21:58] timonson opened #227 "/* prettier-ignore */ inside CSS file not working"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current/expected behavior?**

I try to run the command `Prettier` on the following code inside a `.css` file:

[code]

Current behavior: `Prettier: failed to parse buffer`

Expected behavior: `Prettier` works while ignoring this rule set.

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**