[2020-02-25 16:06] nalanj opened #228 "Autoformatting Stops Working"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current/expected behavior?**

Autoformat for some reason stops working randomly for me. Restarting vim seems to restore it to the expected behavior. I haven't noticed any patterns around when it stops working. I've had this happen maybe 2 or 3 times in the past few weeks.

I'm only using a couple of very basic config opt

[2020-02-27 07:49] thehellbean opened #229 "PrettierAsync moves cursor to top of buffer"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current/expected behavior?**
Running PrettierAsync moves cursor to the top of the buffer when prettier ends up changing the amount of lines in the document (e.g by removing a newline in an empty object). The synchronous Prettier command doesn't do this.

e.g
[code]

`:PrettierAsync`

Content will (as expected) change to
[

[2020-02-27 18:25] city41 opened #230 "1.0.0-alpha: error upon save file: Error detected while processing function..."
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current/expected behavior?**
Upon saving a file, expecting it to format the code. But instead getting

[code]

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
1.0.0-alpha

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
1.19.1

**What is your `prettie

[2020-02-28 00:09] mitermayer commented on #228
Hi there,

Can you describe a bit around this randomness ?

Is that with files that was previously working ? Do you recall any actions done prior such as changing buffers or having split windows ?

Can you also maybe provide vim version ?

Would love to help looking into this issue

[2020-02-28 00:10] mitermayer commented on #229
Hi There,

In order for me to more reliably attempt to replicate this issue and submit a fix for it, could you please provide the output of your

`vim --version` ?

Thanks a lot!

[2020-02-28 00:11] mitermayer commented on #230
Thank you for reporting this! Will try checking with this new release of NVIM as it may be an incompatibility. Will aim to send a fix in the next couple days If i can repro it locally

[2020-02-28 03:15] nalanj commented on #228
It's definitely with files that were previously working. Typically I'll immediately check with `:Prettier` when I notice it didn't format and it will format, but the autoformatting will be disabled until I completely close vim. I'm not sure if it specifically relates to changing buffers or splitting windows, but I definitely do both of those things very frequently.

8.1.1401. It's the Debian packa

[2020-02-28 06:32] thehellbean commented on #229
I'm using Neovim 0.4.3. I just tried it out in Vim 8.1 and the same bug doesn't appear so this seems to be a Neovim-specific issue

[2020-02-29 12:19] nalanj commented on #228
So I switched to manually setting up an autocmd for it, and that seems to have resolved the issue (just in case anyone else hits this as well).

[2020-03-03 18:56] umayr commented on #229
I'm facing the same issue:

[code]

I'm on the latest version of this plugin.

[2020-03-09 00:07] mitermayer commented on #229
This seems to be nvim 0.4.x issue with `vim-prettier` I will submit a PR to fix this soon

[2020-03-14 14:14] mmFooD commented on #219
I have the same issue for `.js` files, apart from that my buffer isn't replaced. I added this
[code]
to get a more descriptive error message on the command-line:
`['[error] Invalid trailingComma value. Expected "all", "none", "php5" or "php7.2", but received "es5".']`

All that should be needed to reproduce is to add the `"trailingComma": "es5"` option to `.prettierrc`, no?

**What version of vim-

[2020-03-15 02:34] mitermayer commented on #219
That is what i suspected, looks like its due to upstream prettier CLI. I will work on this today and submit a patch here. Include more info here and possibly submit an issue/fix for upstream prettier

[2020-03-15 02:35] mitermayer commented on #229
Sorry with the crazyness of moving countries and starting new job I did not had time to look into this before.

will look into this today and submit a fix for it hopefully soon

[2020-03-21 10:51] mitermayer commented on #229
Working on this now. will comment in this issue with any findings and will try to submit a fix for it in the next few hours

[2020-03-21 10:59] mitermayer commented on #229
Was able to reproduce this issue on neovim 0.4.3

[2020-03-21 12:33] mitermayer commented on #228
Glad @nalanj was able to unblock himself, and apologies for not getting into this issue earlier. I have moved countries and now we are all facing this covid pandemic.

Slowly catching up with issues in this repo and hopefuly will be resolving all of them soon

[2020-03-21 12:40] mitermayer commented on #229
Just opened a PR fixing this issue https://github.com/prettier/vim-prettier/pull/231

[2020-03-21 12:45] #229 closed

[2020-03-21 13:04] mitermayer commented on #230
Hi @city41,

I have just submitted some fixes for Neovim on https://github.com/prettier/vim-prettier/commit/f10100e0b48effa9a20052ea9fc634b521c0072d,

Do you mind trying to see if you still have the same issues ?

[2020-03-22 09:34] mitermayer commented on #228
Closing this for now as I tried to reproduce this locally without success. If anybody else is able to reproduce this and can supply some steps on how to do so I can reopen this issue and work on it again

[2020-03-22 09:34] #228 closed

[2020-03-22 09:36] mitermayer commented on #227
The problem with the above is that `prettier` CLI itself can't parse that snippet.

having `/* prettier-ignore */` only means skip formatting the following statement, but the problem is that `prettier` CLI cannot parse the file itself due to the line `  font-family:${opts.font || "brandon"},sans-serif;`

Closing this now as it's an issue with `prettier` cli and not `vim-prettier`

[2020-03-22 09:36] #227 closed

[2020-03-22 09:38] mitermayer commented on #219
This issue has been fixed

[2020-03-22 09:38] #219 closed

[2020-03-22 09:40] mitermayer commented on #211
At this stage we don't currently support `pnpm` feel free to submit a PR to add support to it.

In the meantime will be closing this issue and may re-open this in the future if we get enough bandwidth to get into it and if pnpm become mainstream

[2020-03-22 09:40] #211 closed

[2020-03-22 09:40] mitermayer commented on #230
This issue has been fixed

[2020-03-22 09:42] mitermayer commented on #223
This issue is now fixed with the prettier configuration file support.

[2020-03-22 09:42] #223 closed

[2020-03-22 09:43] mitermayer commented on #218
Prettier configurations can be found on `prettier` website or on `prettier/prettier` docs.

[2020-03-22 09:43] #218 closed

[2020-03-22 09:45] mitermayer commented on #221
Prettier configuration is not read from `eslintConfig` please refer to `prettier/prettier` or the main website for more information on how to configure it

[2020-03-22 09:45] #221 closed

[2020-03-22 09:46] mitermayer commented on #167
Plugins are enable by default, closing this issue for now.

[2020-03-22 09:46] #167 closed

[2020-03-22 09:48] mitermayer commented on #168
Closing this for now. We are working on new docs that should address this issue

[2020-03-22 09:48] #168 closed

[2020-03-22 09:48] mitermayer commented on #170
release/1.x is already merged to master

[2020-03-22 09:48] #170 closed

[2020-03-22 09:49] mitermayer commented on #185
I no longer can reproduce this issue, feel free to reopen if this still happens

[2020-03-22 09:49] #185 closed

[2020-03-22 09:50] mitermayer commented on #188
I no longer can reproduce this issue, feel free to reopen if this still happens

[2020-03-22 09:50] #188 closed

[2020-03-22 09:50] mitermayer commented on #189
I no longer can reproduce this issue, feel free to reopen if this still happens

[2020-03-22 09:50] #189 closed

[2020-03-22 10:02] mitermayer opened #232 "Add support for `prettier 2.x`"
This issue was track work to ensure `vim-prettier` plays nicely with `prettier` 2.x

Will update the description of this issue in the next few days when I get a better idea on the scope

***

Did some preliminary work on local branch and will add some tasks that need to be done in order to address this issue:

- [ ] Update `vim-prettier` defaults to match `prettier 2.x` and move existing defaults

[2020-03-22 21:32] city41 commented on #230
I think I still have the problem. When I save a file I get

`Error detected while processing function prettier#Prettier[33]..prettier#job#runner#run[2]..<SNR>85_asyncFormat[14]..prettier#job#async#ne
ovim#run:`

I went into my plugged directory and confirmed I have the latest vim-prettier. I did that by looking at the file `autoload/prettier/job/async/neovim.vim` and confirming it has the added `r

[2020-03-25 02:24] mikabytes commented on #232
Not sure if this comment belongs in this issue, so let me know and I'll move it:

I'm seeing a strange issue that trailing commas are being removed in vim-prettier when in use with prettier version 2.0.1. I have no configuration file and all `g:prettier` lines are removed from my vimrc file.

Executing `prettier --write file.js` on the command line does the right thing (trailing commas are added).

[2020-03-25 02:33] mikabytes commented on #226
I can also reproduce this.

[2020-03-25 11:32] mitermayer commented on #232
Hi @mikabytes thanks for adding this info to this issue. I will work on it over the weekend, if you find any other issues please comment in here.

Thanks a lot !

[2020-03-25 23:50] mitermayer commented on #230
Hi @city41

Will reopen this issue and look into it again

[2020-03-26 00:07] ariabuckles commented on #232
I'm having a similar issue with parens; I think it's because [this plugin's defaults](https://github.com/prettier/vim-prettier/blob/eda018b6af2983758db06ce0ad6139f5b0651861/plugin/prettier.vim#L109`) no longer line up with prettier's.

Maybe it's possible to only pass the [cli arguments](https://github.com/prettier/vim-prettier/blob/49d91743b2df43f84edd199f877d494b4d8812f4/autoload/prettier/resolv

[2020-03-26 09:54] mikabytes commented on #232
That's awesome @mitermayer

Yes, can confirm that the parens issue. Just noticed that one myself.

[2020-04-07 11:16] AngeloMateus commented on #116
Is there any chance async would work without saving the buffer?

[2020-04-08 05:37] cjlarose opened #233 "`autoformat_config_present` does not re-evaluate the presence of the prettier config file after vim is started"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current/expected behavior?**

The logic surrounding `autoformat_config_present` basically only runs once (when the plugin is loaded). It is desirable for that logic to be deferred until the buffer is actually written in at least two cases:

1. If you create a `prettier` config file in the project after you started the vi

[2020-04-10 11:24] #233 closed

[2020-04-11 02:58] mitermayer commented on #116
@AngeloMateus  feel free to submit this as a separate issue and I can look into it, should not be a problem.

[2020-04-12 20:44] acidDrain commented on #215
Greetings, fellow `vim`mers/`vim`ians! I have also encountered this behavior. I tried editing the script `autoload/prettier/job/async/neovim.vim` but my `vimscript` isn't good enough to really understand - I think I fixed it but I wasn't sure if I was just hiding the problem.

If this helps at all, doing `:w` and `:q` as two separate steps in sequence does not yield an error; it's only when perfor

[2020-04-15 21:07] vadimshvetsov commented on #191
The docs are not clear for me. It took 15 mins to make it works on autosave. It's not easy to understand, that options below must be used **together** for execute prettier on autosave without "@format" or "@prettier" tags.
[code]
Looks reasonable to use only second command without first.

[2020-04-17 01:44] gWOLF3 commented on #182
@mitermayer

I updated my plugin and Im still having this issue. Am I missing something?

[2020-04-17 03:17] mitermayer commented on #182
Will reopen this issue for further investigation

[2020-04-18 15:56] atomdmac commented on #182
@gWOLF3 Do you have any settings in your `vimrc` that pertain to this plugin?  I'm wondering if maybe it could just be a configuration issue.

[2020-04-21 13:58] tusharkant15 opened #237 "Installation fails in post-update hook using vim plug"
**Do you want to request a *feature* or report a *bug*?** NO

**What is the current/expected behavior?** PlugInstall fails with the following command
```x Post-update hook for vim-prettier ... Exit status: 243```

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?** 0.2.7

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?** 2.0.4

**Wh

[2020-04-23 09:19] subk commented on #215
Hi,
Same issue here using NVIM 0.5 (on debian 10)

[code]

[2020-04-24 16:00] phinjensen commented on #185
This bug is happening for me with window splitting, exactly as @0xnoob described. Output of `:PrettierVersion` is `1.0.0-alpha`, and I ran `:PlugUpdate` to make sure everything was up to date.

[2020-04-25 11:55] stevematdavies commented on #76
I've almost given up on coc-prettier because of this, there seems to be no solution for this. Such a shame

[2020-04-25 12:01] stevematdavies commented on #171
This issue is NOT solved in release/1.x

[2020-04-25 12:12] stevematdavies commented on #232
Using prettier 2, causes the plugin to fail with 'failed to parse buffer'. I cannot use it any longer until there is a fix for this.

[2020-04-25 22:05] mitermayer commented on #232
Sorry all, been kept busy with family at home (3 kids).  I have a fix for supporting it already. Will publish a new version today.

Sorry for the delay in this issue and any inconvenience

[2020-04-25 22:06] mitermayer commented on #232
@stevematdavies  ^^

[2020-04-25 22:09] mitermayer commented on #171
Will reopen this to investigate issue reported above

[2020-04-25 22:13] mitermayer commented on #76
@stevematdavies can you please open a new issue tracking this and I’m happy to revisit it

[2020-04-26 10:40] stevematdavies commented on #76
Thanks for the offer, but due to time constraints, I have chosen an alternative. However, once I have the time, I will certainly open a new issue.

[2020-04-27 00:14] lazopm opened #239 "Bug: Switching pane to terminal pane before Prettier finishes inserts strange characters"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current/expected behavior?**
Current:
1) Save buffer
2) Move to :term window while prettier is running in the background
3) Vim freezes
4) press ctrl+c, "Can't parse buffer" error appears.
![bug00](https://user-images.githubusercontent.com/5622067/80323472-6bd88f00-87e0-11ea-9ff0-80152e516e22.png)
4) Go back to original p

[2020-04-27 17:40] benshanahan1 commented on #215
Any updates here? I'm also seeing this same issue. Error only crops up when vim-prettier is configured to format on save. As @acidDrain said above, this is not an issue when `:w` and `:q` are run as separate commands, only when they are issued together like `:wq`.

## Error
[code]

## Diagnostic info
[code]

[2020-04-30 13:02] dakyskye commented on #237
Same here.

[2020-05-02 13:44] romch007 opened #240 "Error when running :Prettier on gvim"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current/expected behavior?**

I try to parse a js file with `:Prettier`

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**

`1.0.0-alpha`

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**

The command `:PrettierCliVersion` gives me no result. But with `

[2020-05-02 17:02] hneis opened #241 "PrettierFragment not work"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current/expected behavior?**
I select php text fragment and use PrettierFragment nothnig happens.
If i use Prettier all text formatted correctly.
I use PrettierFragment to html text and it work correctly.
**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
1.0.0-alpha
**What version of `pret

[2020-05-05 20:06] rivertam opened #242 "autoformat option breaks manual version (also just doesn't work)"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current/expected behavior?**

When `let g:prettier#autoformat = 1`, vim-prettier basically just stops working entirely.

Please see asciinema for a quick reproduction: https://asciinema.org/a/AtIIMALtLnQpRVp6suKjayUab

Sorry about the large size. If you have a low-res monitor, I recommend you hit `Ctrl--` a couple of tim

[2020-05-07 10:05] dakyskye commented on #237
fixed for me.

[2020-05-13 00:55] mitermayer commented on #237
Sorry ill look into this

[2020-05-13 00:58] mitermayer commented on #239
Trying to understand the steps to repro in order to look into this.

Did you save a javascript file than switched to a ".svg" buffer ?

[2020-05-13 00:59] mitermayer commented on #240
Sorry, this is a duplicate of adding support to `prettier 2.0`

[2020-05-13 00:59] mitermayer commented on #240
Will try to work on that issue during the weekend

[2020-05-13 00:59] mitermayer commented on #240
Duplicate of https://github.com/prettier/vim-prettier/issues/232

[2020-05-13 00:59] #240 closed

[2020-05-13 01:00] mitermayer commented on #241
Sorry this is duplicate of https://github.com/prettier/vim-prettier/issues/232

[2020-05-13 01:00] #241 closed

[2020-05-13 06:04] lazopm commented on #239
No svg buffer. Here are more detailed repro steps:

1) open a javascript file that isn't formatted
2) open a terminal buffer split in vim8 with `:term`
3) switch back to javascript file's split `ctrl+w j`
4) save javascript file `:w`
5) move back to term buffer split **before prettier async auto save is done** `ctrl+w k`
6) go to the top of the file and observe strange text
* You need a slow devic

[2020-05-13 06:20] lazopm commented on #242
`let g:prettier#autoformat_require_pragma = 0` fixed it for me, I think it expects an ```
/**
 * @format
 */```
comment on top of your file or disabling require pragma in your .prettierrc

[2020-05-16 17:37] mrnugget commented on #215
I'm not 100% if this would be an acceptable solution, but just copying the `if len(l:out)` check from further down in the function and doing an early exit when there's no prettier problems fixes it for me:

[code]

[2020-05-20 11:40] bpierre opened #244 ":Prettier fills the default register with “x”"
On Neovim, formatting a file replaces the default register by `x`.

The issue gets fixed by commenting these three lines: https://github.com/prettier/vim-prettier/blob/master/autoload/prettier/utils/buffer.vim#L11-L15

The cursor stays in place even after having commented these lines − is it really needed on Neovim?

- `:PrettierVersion` => 1.0.0-alpha
- `:PrettierCliVersion` => 2.0.5
- Did this w

[2020-05-21 00:39] skylarmb commented on #244
👏  i was going crazy today over this! couldnt figure out what i was doing that was causing this.

[2020-05-23 21:24] raxell opened #245 "Autoformat on save does not work on yaml files"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current/expected behavior?**
When saving a `yaml` file with `:w` I would expect the file to be formatted but it does not seem to work. I tried to set `let g:prettier#autoformat_require_pragma = 0` but still the same result.
By using `<Leader>p` or setting an auto command (e.g. `autocmd BufWritePre ...`) it works.

**What

[2020-05-24 05:17] Altrum commented on #209
I see this issue's been open for some time; has it been implemented?

[2020-05-24 16:04] raxell commented on #245
Ok, it is a bug.
I was just trying in on a `yaml` file and I figured out that the `automcd` only checks for `.yaml` extension, `.yml` is missing.
I've submitted a PR to fix this https://github.com/prettier/vim-prettier/pull/246

[2020-05-27 22:10] kelly-ry4n commented on #171
I just ran into this message - sounds slightly different then what others are experiencing, but maybe one of these steps will help somebody else who lands here.

In my case, running `:PrettierCliPath` in vimh told me where my executables were, and then running that executable directly against any JS file revealed that I had an invalid `.prettierrc` for the version of prettier which installed with

[2020-05-28 14:39] dyllandry opened #247 "Autoformat on save does not work on vue files"
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current/expected behavior?**
Currently, with the leading `` pragma, vue files are not autoformatted on save. From what I've read I think they aught to be.

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
`1.0.0-alpha`

**What version of `prettier` are you using - (output of  `

[2020-05-30 07:19] tobudim commented on #182
I had the same issue today as @gWOLF3 . Following @mitermayer fixed it.

About *vim-prettier* I have nothing special in my .vimrc, only `Plug 'prettier/vim-prettier', { 'do': 'npm install' }`. (I didn't installed yarn)
VIM v8.1, Catalina 10.15.4.

Great work, great plugin. Thanks all for your time.

[2020-06-04 09:45] gabrielhpugliese commented on #171
I had the same issue after updating node to lts (v12.17.0 in my case). I upgraded to newest prettier version (2.0.5) and it works now.

[2020-06-04 15:01] dyllandry opened #248 "On format, split gets scrolled to bottom of file."
Do you want to request a feature or report a bug?
Report a bug.

What is the current/expected behavior?
When a file is formatted, my split open to the same file gets scrolled to the bottom. This is pretty annoying.

What version of vim-prettier are you using - (output of :PrettierVersion) ?
1.0.0-alpha

What version of prettier are you using - (output of :PrettierCliVersion) ?
1.19.1

What is your

[2020-06-08 02:43] germanamz commented on #237
@dakyskye What did you do?

[2020-06-08 05:01] dakyskye commented on #237
@germanamz as far as I remember, I just installed Node and Yarn.

[2020-06-15 03:18] mattsoftware commented on #185
I have same issue as @0xnoob , updated to latest vim-prettier (was on an older commit) after the files were sometimes not auto formatting. It would seem to work for a while then stop. The older commit was 427ef6830294c722f04cd3799f2c27a6629976a6 which seems to work well for me.

After updating to the lastest master, auto formatting just stopped completely. I couldn't figure out how to resolve it s

[2020-06-16 12:17] adrianhelvik commented on #162
This is still an issue. I'm using Neovim and have tried using 0.x and 1.x. The config is located in ~/.prettierrc and in the project.

[2020-06-16 15:52] ecosse3 commented on #209
I would like to know too if it has been implemented already or will be soon?

[2020-06-16 19:58] felipellrocha commented on #244
Oh my god, thank you for this. I had no idea which plugin was doing this.

[2020-06-24 06:23] jea310 commented on #215
I can confirm that this fixes the issue for me on Neovim 0.4.3 without any apparent changes in Prettier's behavior.

[2020-06-24 07:50] mitermayer commented on #215
Please feel free to submit a PR and I can merge it

[2020-06-27 21:43] falcucci commented on #248
I can reproduce it here.

really annoying.

[2020-06-30 19:46] nratter commented on #214
I'm still having issues with this. If I remove my .prettierrc.json file it works. It appears I have the commit posted above in my yarn.lock file. Any suggestions?

[2020-07-02 08:38] kyle-dormer commented on #214
@nratter Perhaps a syntax error with your `.prettierrc.json`? I can confirm the solution fixed my original problem but a syntax error with configuring Prettier caused it to reappear, fixed by re-examining the file.

[2020-07-02 14:46] nratter commented on #214
@kyle-dormer There were no syntax errors in my `.prettierrc.json` file. However, I was able to fix this by using `'branch': 'release/0.x'` in the vim-plug options.

[2020-07-02 20:31] El-Mehdi-Abdi commented on #247
uncomment " let g:prettier#autoformat = 1 by delete this char " !!

[2020-07-03 11:38] Kezo opened #250 "Formatting HTML templates for Angular uses html parser instead of angular parser"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current/expected behavior?**
Setting `g:prettier#config#parser` to empty string should let prettier decide on the parser. Instead, when editing html files, the parser seems to always be set to html. This is a problem when editing Angular templates.

**What version of `vim-prettier` are you using - (output of `:Pr

[2020-07-05 01:40] gabesoft opened #251 "Running Prettier wipes out all existing marks"
**Do you want to request a *feature* or report a *bug*?**

**What is the current/expected behavior?**

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**

**What is your `prettier` executable path - (output of  `:PrettierCliPath`) ?**

**Did this work in previous versions of vim-pr

[2020-07-08 08:49] stschindler commented on #232
I'm using the plugin with Prettier 2.0.9, and it keeps ignoring the `allowParens = "always"` configuration. This is the default starting from 2.0.0, but the plugin keeps removing parenthesis from single-parameter arrow functions. Any idea?

[2020-07-10 05:27] yangxyo commented on #215
[code]

NVIM v0.5.0-b39edb5

[2020-07-10 05:37] yangxyo commented on #215
This fixed it for me.  Wait for updating.

[2020-07-20 03:25] tusharkant15 commented on #237
I'm closing this issue as recently setting up a new environment, this issue has been resolved.

[2020-07-20 03:25] #237 closed

[2020-07-22 15:30] buschco commented on #251
I experience the same but only in lines that are prettified. Unmodified lines will remain the marks.

[2020-07-23 00:01] jsit commented on #147
I also have a custom `shell` command, and it prevents `:PrettierAsync` from working. `:Prettier` works fine, but async does not. Is there a way around this other than removing our custom shell command?

[2020-08-03 04:31] #245 closed

[2020-08-03 06:53] #215 closed

[2020-08-04 16:51] jsit opened #255 "Support prettier-stylelint"
**Do you want to request a *feature* or report a *bug*?**
Feature request

**What is the current/expected behavior?**
Currently `vim-prettier` does not support [`prettier-stylelint`](https://github.com/hugomrdias/prettier-stylelint)

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
1.0.0-alpha

**What version of `prettier` are you using - (output of  `:PrettierCl

[2020-08-05 17:11] PROgram52bc opened #257 "PrettierPartial formats the entire buffer in visual mode"
**Do you want to request a *feature* or report a *bug*?**
This is possibly a bug... But it is likely I am not doing things correctly

**What is the current/expected behavior?**
When I do `:PrettierPartial` in visual mode, the entire buffer gets formatted (both the selected text and the unselected text), but when I do `:Prettier` or `:PrettierAsync` in visual mode, only the selected text is formatt

[2020-08-05 21:18] haruki-m opened #258 "trailing_comma = 'es5' setting not working"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**What is the current/expected behavior?**
Current:
`let g:prettier#config#trailing_comma = 'none'` and `let g:prettier#config#trailing_comma = 'all'` works perfectly, but`let g:prettier#config#trailing_comma = 'es5'` gives me an error message in vim: `Prettier: failed to parse buffer`

Expected:
Setting `let g:prettier#config

[2020-08-06 06:04] #255 closed

[2020-08-13 01:19] jasonkit commented on #258
This should be related to https://github.com/prettier/plugin-php/issues/964
A quick workaround is upgrade @prettier/plugin-php version to latest version

[2020-08-21 03:25] NicoCevallos commented on #211
@andykais you could use the plugin with `--plugin=./node_modules/prettier-plugin-svelte` in the CLI. I found that here: https://github.com/prettier/prettier/issues/8056#issuecomment-623401847
Maybe not the best idea, but it works

[2020-08-23 21:04] theycallmeswift commented on #214
I can confirm that this bug is still live on the latest version of vim-prettier. The solution for me was to install both `leafgarland/typescript-vim` and `peitalin/vim-jsx-typescript`. This changed the filetype from `typescriptreact` to `typescript.tsx`

[2020-08-28 19:15] ItsTarik commented on #214
I don't know why this **PR** is `closed`, its very frustrating having this bug with the actual release ! what @mitermayer proposed solved my problem but I've lost some time ..

[2020-08-29 22:25] theycallmeswift commented on #214
Further, I have no determined that normal typescript files (`:set filetype?` returns `typescript`) do not trigger prettier on save either. I had to add the following workaround to my vimrc:

[code]

[2020-09-01 15:51] drjosephliu commented on #191
I agree with @vadimshvetsov . This should be more clear on the readme

[2020-09-01 21:37] PROgram52bc commented on #250
setting `g:prettier#config#parser` does not seem to alter the underlying parser on my machine, either.

[2020-09-03 02:44] DanielPower commented on #251
I'm also experiencing this. If Prettier encounters an error, it will:

If using :Prettier, replace the buffer with the error. Discarding the contents of the file you were working on.

If using :PrettierAsync, empty the buffer. Discarding the contents of the file you were working on.

This makes the extension completely unusable in its current state.

[2020-09-04 14:52] daelmaak commented on #250
I think the 'html' parser option doesn't have to be set manually at all since prettier should infer it itself https://prettier.io/blog/2018/11/07/1.15.0.html

[2020-09-07 09:37] #232 closed

[2020-09-07 23:50] mitermayer commented on #191
@drjosephliu Please feel free to submit a PR for it we would love contributions!

[2020-09-07 23:51] mitermayer commented on #258
Did a new release and no longer can reproduce this issue, if you still having problems feel free to reopen

[2020-09-07 23:51] #258 closed

[2020-09-07 23:52] mitermayer commented on #257
`:PartialFormat` is meant to be used with visual selection. I try to see if I can reproduce it locally

[2020-09-15 11:00] winkee01 commented on #171
I encountered the same issue. on Sep 15, 2020

[2020-09-16 02:52] ridgekuhn opened #261 "Auto save only runs with @format or @prettier tag in multi-line /* comments not // single-line comment"
**Do you want to request a *feature* or report a *bug*?**
Bug?

**What is the current/expected behavior?**
Run on save

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
1.0.0-beta

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
1.19.1

**What is your `prettier` executable path - (output of  `:PrettierCliPath`) ?**
*/node_modul

[2020-09-16 03:20] ridgekuhn opened #262 "Plugin deletes empty line at end of file without @format/@prettier tags"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current/expected behavior?**
It shouldn't delete the empty line at the end of the file if I'm not using the `@format`/`@prettier` tags and have not manually run it.

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
1.0.0-beta

**What version of `prettier` are you using - (output of  `:Pr

[2020-09-16 09:47] harmenjanssen opened #263 "Autoformat on save not working for PHP / Twig files"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current/expected behavior?**

Currently it's not formatting PHP files on save.
I can successfully format them myself by running `:Prettier`.

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**

`1.0.0-beta`

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`)

[2020-09-17 19:43] harmenjanssen commented on #263
I can reproduce this with the following minimal vimrc:

[code]

I then open a new PHP file like this:

[code]

Using `:Prettier` manually works great, but on save nothing happens.

[2020-09-18 11:59] lioaslan commented on #171
I met same issue, Step 18, 2020

[2020-09-18 22:43] masdarzulfikar commented on #171
I had the same issue. All I did just `npm i -g prettier`, and it works now.

[2020-09-22 16:41] kyuwoo-choi opened #264 "auto save doesn't work for typescript"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current/expected behavior?**
auto format should work for typescript

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
1.0.0-beta

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
2.1.2

**What is your `prettier` executable path - (output of  `:PrettierC

[2020-09-23 09:06] lioaslan commented on #171
It worked for me

[2020-09-23 14:53] kyuwoo-choi commented on #264
closing. it was `vim-styled-component` breaking the typescript.
after removing that, `vim-prettier` works great.
good!

[2020-09-23 14:53] #264 closed

[2020-10-07 08:19] nicolaiskogheim commented on #257
I am experiencing the same. Working with typescript files.

[code]

[code]

[2020-10-07 13:39] gko opened #266 "prettier config default values"
Hello,

Thank you very much for plugin. I use it every day and love it!

I wanted to ask wether it's really necessary to set the default values for `prettier` within the plugin:
https://github.com/prettier/vim-prettier/blob/7a6fddd0eb41f498ddc24aa6e34063dee7f04c2e/plugin/prettier.vim#L63-L136

The defaults that are present in the plugin are for `prettier` 2.x, so if you happen to work on a project

[2020-10-09 03:26] PROgram52bc commented on #171
Thanks! It worked for me, too. I wonder why the local version of prettier doesn't work, though. Is that a bug?

[2020-10-13 09:39] iryan2 commented on #171
Just in case this helps someone else:

For me, it turned out to be something wrong with the system-installed version of nodejs (which I've never touched because I use NVM). I installed the LTS nodejs from the official site and vim-prettier immediately started working.

A hint that lead me to this solution was the output of the `:PrettierCli` command, which started with:

[code]

Searching that err

[2020-10-16 13:27] okkan commented on #244
Horrible bug ! Really annoying.

[2020-10-21 18:29] stumash commented on #214
I also have this bug, newest vim-prettier. for some reason, when I switched to using prettier through coc-prettier instead of vim-prettier, everything worked just fine

[2020-10-27 08:11] CGamesPlay commented on #266
I would also love it if this plugin didn't force a set of options and just let prettier do its own thing. In the mean time, I drafted this workaround:

[code]

[2020-10-30 02:52] Rodrigo-Barros commented on #263
this affects me too, but I only tested on pure PHP Files.
I made work on save by adding this line to my vimrc:
`autocmd BufWritePre *.php Prettier`
and now is working well.
tip: you can Change Prettier to PrettierAsync if you use vim 8+

One last question what's the purpose of these lines in these [issue](https://github.com/prettier/vim-prettier/issues/119#issuecomment-371766861)?
[code]
I add the

[2020-10-30 20:58] theycallmeswift commented on #214
For future folks who discover this issue, I ended up switching to ale + prettier instead and it's working flawlessly.  Once you install Ale (I did it via Plug), you just add this to your .vimrc

[code]

[2020-11-01 19:43] Artawower commented on #251
Same problem

[2020-11-03 23:49] #244 closed

[2020-11-06 19:19] ya-sach1 commented on #209
I quote the above messages.

[2020-11-11 13:54] dangvanthanh opened #268 "Prettier: failed to parse buffer"
**Do you want to request a *feature* or report a *bug*?**

In NeoVim show error `Prettier: failed to parse buffer` in I save JavaScript file.

This is my `init.vim` configure

[code]

**What is the current/expected behavior?**

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
`1.0.0-beta`

**What version of `prettier` are you using - (output of  `:PrettierCliVers

[2020-11-14 13:49] jsgv opened #269 "Configuration file not loading correctly"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current/expected behavior?**
Trying to set a default `.prettierrc` file to be always used

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
`1.0.0-beta`

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
`2.1.2`

**What is your `prettier` executable path

[2020-11-15 11:25] #269 closed

[2020-11-15 11:27] jsgv commented on #269
It was an error in my configuration.
I did not realize that it required `let g:prettier#autoformat_require_pragma = 0` setting.

[2020-11-16 06:40] hkennyv commented on #268
Hi, I'm receiving the same error.

**.vimrc**

[code]

**:PrettierVersion** 1.0.0-beta
**:PrettierCliVersion** 2.0.4
**:PrettierCliPath** /Users/khuynh/.vim/plugged/vim-prettier/node_modules/.bin/prettier

[2020-11-19 13:15] MachineLearning-Nerd commented on #171
This also worked for me.

[2020-11-19 16:46] LeducH commented on #268
Same here

[code]

More details
[code]

[2020-11-21 16:10] zirho commented on #268
I had the same issue with old versions.
It got resolved when I removed `.prettierrc`
After upgrading to the latest, even without a config file, I get this error leaving me unable to use the plugins.

[2020-11-21 16:14] zirho commented on #268
I found the workaround.

put this in vim config
[code]

[2020-11-22 01:14] dangvanthanh commented on #268
Thanks @zirho

I was removed

[code]

then put your config. It's working for me.

[2020-11-22 04:15] jrledezma commented on #146
let g:prettier#config#config_precedence = 'file-override'
works for me

[2020-11-22 06:17] hkennyv commented on #268
i can confirm that @zirho 's solution works for me!

[2020-11-22 15:25] sohel-sheikh commented on #268
I too confirm @zirho 's solution worked for me!

[2020-11-23 23:10] zirho commented on #268
this might be related to error
```[error] Invalid --trailing-comma value. Expected "all", "none", "php5" or "php7.2", but received "es5".```

[2020-11-23 23:15] zirho commented on #268
possibly related to NVM and the default version of node being set in the system.
Prettier is being run with the default version and that could lead to this error.

[2020-11-25 06:17] smithbm2316 commented on #268
I can confirm that @zirho's solution also worked for me :), really enjoying this plugin, thank you to the devs for creating this it is wonderful to get Prettier support inside of Neovim!

[2020-11-26 21:29] williamsmj commented on #268
FWIW and in case it's a clue for the root cause, I only needed one line:
[code]
from @zirho's solution to get rid of `Prettier: failed to parse buffer`. That was with vim-prettier 1.0.0-beta and prettier installed by the plugin at version 2.0.4.

[2020-11-30 10:10] michaeljones commented on #268
It is potentially an issue with the php plugin, though I've no idea. Maybe it is overwriting the available trailing comma options? I'm getting the same issue on my Mac setup. If I remove the plugins from the `package.json` file (as I don't need any of them) then delete `node_modules` and `yarn install` again then it starts working.

I would also deeply appreciate some way of getting more informati

[2020-11-30 11:00] michaeljones commented on #268
Possibly also because the `package.json` specifies `0.10.2` for the php plugin and that was released back in February 2019. There have been a number of fixes (probably including this) since then.

It might make sense to specify a much looser constraint.

https://github.com/prettier/vim-prettier/blob/bc7ae99c38a1d0f58380347515b212f93df5e68e/package.json#L16-L19

[2020-11-30 12:11] marcmarina commented on #214
I still have this issue when I try to format manually with `:Prettier`

[2020-11-30 12:17] tomgrim commented on #266
The Readme states:

It would be good to know why this is the case. I found this behaviour surprising.

[2020-11-30 17:31] michaeljones commented on #266
I have been caught out today but vim-prettier using my `shiftwidth` instead of using the prettier default for `tabWidth`. I'd be grateful if there was an option to use `default` as a config value that basically means "don't set it and leave it to whatever prettier wants to do". Perhaps with time I'll adjust my vim to fall inline with the prettier settings but it as been confusing though I can see

[2020-12-01 13:30] winkee01 opened #270 "How to ignore specific file types?"
Does it have a command option like this?
[code]

[2020-12-01 14:33] marcmarina commented on #162
I seem to be having this issue too, and I'm using the release you mentioned earlier, even though it should be there by default already. Still, it doesn't take my config file into account. I'm using a `.prettierrc` file.

[2020-12-03 10:50] oliverbenns commented on #270
I would also like to know this. I was hoping it would resolve to`$HOME/.prettierignore` if no other file found during the traversal, but that does not seem to work.

[2020-12-16 17:49] jgreens commented on #268
Thank you so much – this finally fixed my issue!

[2020-12-18 09:05] lioaslan commented on #209
Now is Dec 18 2020, any update @mitermayer

[2020-12-18 11:08] gadkadosh commented on #268
This is indeed related to prettier-php version being too old. The problem was fixed:
https://github.com/prettier/plugin-php/issues/964
Updating to a newer version than plugin-php 0.11.1 should solve the problem.

[2020-12-24 20:24] johanventer commented on #185
@mitermayer, tagging you on a closed issue because it still exists in latest version for me.

So here's the problem.

Lets say I open a Typescript file, the following `BufWritePre` exists:
[code]

If I then split and open a JSON file, `BufWritePre` is overridden:
[code]

If you `:e` on the file, then `BufWritePre` is set to what it should be.

This is because each file in `ftplugin` is blowing awa

[2020-12-24 22:34] mitermayer commented on #185
Please feel free to submit a PR and I can test it and merge it

[2021-01-01 12:09] gadkadosh opened #273 "ftdetect collides with default filetype settings (specifically typescriptreact or tsx)"
My experience is specifically with typescriptreact, where vim-prettier changes the default typescriptreact to typescript. This breaks my completion plugin, for example, which depends on typescriptreact for jsx apparently.

The question is why should vim-prettier touch those filetype detections at all? I feel like if they get correctly set by default vim or nvim, vim-prettier shouldn't interfere. M

[2021-01-04 11:10] gadkadosh commented on #228
I have had this problem too and I now think it is related to the ftplugins vim-prettier ships.
I'm not a vim expert, but it seems when vim-prettier loads the first time it declares autocmds for all supported file types. Then when I open a file for which an ftplugin (in vim-prettier) exists, if overrides the general autocmd (augroup Prettier) and I am left with an autocmd for just this single filet

[2021-01-11 08:31] AeonFr commented on #247
I have set-up Prettier to run on save, even without the `@format` comment.

[code]

When I save a `.js` file (for example), prettier runs automatically, but for `.vue` it doesn't.

(Pressing `<leader>p` still works to run prettier on the same `.vue` file, so it's not a syntax error of the file)

[2021-01-11 09:35] AeonFr commented on #247
Update, the issue seems to be fixed now, I've restarted vim and it started working. I'm not sure what was going wrong previously.

Sorry!

[2021-01-12 00:06] jfroffice commented on #255
I am trying to use the `prettier-stylelint` with following setting

the configuration does not seem to be apply correctly. The double quotes are transformed in single quote.

The right configuration is with double quote in the `.stylelintrc` file.

[2021-01-13 10:26] gaving commented on #266
Yeah, a little confused myself as to why there are defaults.

Had to add:-

[code]

To get it to play nice with eslint at this end. Prettier 2.01.

[2021-01-16 11:24] marcelarie commented on #230
I have the same problem here.

[2021-01-20 04:09] jrop opened #276 "Error on NeoVim nightly"
**Do you want to request a *feature* or report a *bug*?**

*bug*

**What is the current/expected behavior?**

Running :Prettier prints the following error message:
[code]

However, I do have prettier installed:

[code]

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**

1.0.0-beta

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**

[2021-01-23 12:12] yzia2000 commented on #273
It seems to format for me regardless of the filetype. Let me make a pr to adjust this

[2021-01-24 00:08] solidiquis opened #280 "Autoformat on save not working for .ts and .tsx files."
First of all, I really appreciate all the hard-work that went into this amazing plugin, as it has made my life at work tremendously easier.

Issue: Autosave works just fine on `.js` files, but not `.ts` and `.tsx` files.

Here are some of my configurations from my `.vimrc`:

[code]
Manually calling the command `:Prettier` works just fine, but unfortunately I can't get that to run automatically on

[2021-01-24 00:43] solidiquis commented on #280
For anyone else experiencing this issue, here is my hacky fix:
`autocmd BufWritePre *.tsx,*.ts Prettier `

[2021-01-26 15:59] hood commented on #276
Same error here. Appeared right after upgrading NeoVim from 0.4.4 to 0.5.0.

[2021-02-01 00:32] #273 closed

[2021-02-01 06:15] yzia2000 commented on #280
[code]
I think you also need to include typescriptreact and javascriptreact in your plug begin. You might need to reinstall vim-prettier to install these missing plugins

[2021-02-01 09:00] gadkadosh commented on #273
Just for my curiosity: why does vim-prettier have to declare filetypes at all? Why not leave that to vim runtime or to specialised plugins? Is it a best practice because it has ftdetects?

[2021-02-01 09:04] yzia2000 commented on #273
This is just a guess but I believe they felt that certain filetypes might not interface well with prettier, or probably an early bug fix. I myself would rather stick to vim runtime.

[2021-02-01 23:19] mitermayer commented on #162
@marcmarina please use master that release has been already merged to master

[2021-02-07 04:05] mainangethe commented on #171
I've tried all of the above to no fail.
:disappointed:

[code]

Even tried the  `npm i -g prettier` - still failed

Prettier Version: 1.0.0-beta
Prettier CLI Version: 2.2.1

Not sure what to do anymore

[2021-02-07 04:26] PROgram52bc commented on #171
For me, switching to 'release/1.x' branch worked. You might also try out [ale](https://github.com/prettier/vim-prettier/issues/214#issuecomment-719796205), though I haven't tested it.

[2021-02-13 19:55] ojohnny commented on #266
The fact that the saved files are not guaranteed to pass `prettier --check` is a deal-breaking bug for me, unfortunately.  Which is a shame, because the plugin works great otherwise!

[2021-02-14 20:13] adampaulukanis opened #283 "markdown file: an unordered list and 3 spaces between dash and item"
**Do you want to request a *feature* or report a *bug*?**

It is probably a bug

**What is the current/expected behavior?**

When I have a markdown file like this for instance:
`# TODO
- one
- two
- three`

Notice there is only one space between '-' and first character.

And I like it that way.

After issuing `:Prettier` I get something like that:

`# TODO
- ___one
- ___two
- ___three`

There are

[2021-02-14 20:20] adampaulukanis commented on #283
Now I realized that it has something to do with tabs. Sorry for the noise.

[2021-02-14 21:05] #283 closed

[2021-02-17 03:57] andrescuco commented on #171
I had this issue, `:Prettier` was working as expected but when I was using it on save it failed. I was using this configuration to auto format on save:
[code]
Then reading `:h prettier` I realized that this was outdated, and changed it to:
[code]
Now it works. Something to note is that if I use PrettierAsync instead of Prettier on BufWritePre the issue persist. Another thing that may help is that

[2021-02-18 05:25] mainangethe commented on #171
This worked for me even without going to 'release/1.x'
Seems the commands are outdated.
Thanks @andrescuco

[2021-02-23 21:04] skylarmb commented on #171
I am still seeing this issue. It happens when i add a new rule to the prettier config `"arrowParens", "avoid",` If i remove this config the issue goes away immediately

[2021-02-27 10:34] airblade opened #284 "Writing a buffer prints the current line in the command line area"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**What is the current/expected behavior?**

Current behaviour: I write a file (`:w`) and the current line is echoed / printed in the command line area.

Expected behaviour: I write a file (`:w`) and the current line is not echoed / printed in the command line area.

**What version of `vim-prettier` are you using - (output of

[2021-02-28 15:31] wylie39 commented on #182
It could also be nice to have the feature to only format if Prettier is in your dependencies.

[2021-03-01 22:49] #284 closed

[2021-03-02 08:52] airblade commented on #284
Thank you.

[2021-03-04 15:21] pdfrod commented on #280
I confirm that adding `javascriptreact` and `typescriptreact` solved the problem for me.

Was this changed recently? Because I never had those before and `.tsx` always worked fine for me.

Maybe this should be mentioned in the documentation; I was pulling my hair out trying to figure out why it stopped working.

[2021-03-04 15:40] LeducH opened #287 "How to install plugin without issues?"
**Do you want to request a *feature* or report a *bug*?**
BUG

**What is the current/expected behavior?**
I should be able to install the plug in without any issue but it throws a exception  check further down

I use vimplug
[code]

when I run `:Prettier` I get

[code]

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
`1.0.0-beta`

**What version of `prettier` ar

[2021-03-04 15:46] LeducH commented on #268
Not fixed

[2021-03-08 05:16] sizvix commented on #287
In `package.json` , delete the line with  `prettier/plugin-php` if you don't need PHP
I works for me ;)

[2021-03-09 06:41] LeducH commented on #287
So you compile it yourself? I usually use vim-plug for install so how would I do this?

In either case it the issue remains.

[2021-03-24 10:01] sainivasmangu opened #288 "issue with installing plugin"
i tried installing on nvim with vim-plug
`Plug 'prettier/vim-prettier', { 'do': 'npm install' }`
but it throws this error:
`Post-update hook for vim-prettier ... Exit status: 1`
and if i try with yarn install i.e.,
`Plug 'prettier/vim-prettier', { 'do': 'yarn install' }`
i get this error:
`Post-update hook for vim-prettier ... Exit status: 127`
i don't understand why this is happening. what am i d

[2021-03-25 06:30] zirho commented on #171
In my case, this is due to the node version in the session that you run `vim` with is not compatible with `prettier` that installed locally for the project.

try
[code]

if this errors out, try to lower the node version to around v10.*
in my case,

[code]
got my problem solved.

[2021-03-25 17:44] #288 closed

[2021-03-29 01:19] rschristian opened #290 "Prettier and Vim-Prettier don't break lines the same when set to the same print width"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current/expected behavior?**

I'd like vim-prettier to match the output of prettier, but it does not. It seems like the `print_width` of vim-prettier needs to be much less in order to get the same output.

This is just an excerpt of a `package.json` file, formatted with Prettier via `yarn prettier package.json --write`

[2021-04-03 20:27] foxbunny opened #292 ""Prettier: failed to parse buffer" on write when autoformat_config_present is used"
**Do you want to request a *feature* or report a *bug*?**

I'm running into an issue where if I have

[code]

in my `.vimrc`, `vim-prettier` will trigger on write, but fail with `Prettier: failed to parse buffer`.

If I simply issue the `:Prettier` command, it works as expected and formats the file.

**What is the current/expected behavior?**

The expected behavior is for formatting to be performe

[2021-04-03 20:34] foxbunny commented on #292
After a bit of digging around,  I find that `:PrettierAsync` is not working either throwing the same error.

[2021-04-04 07:35] fabriziobertoglio1987 commented on #292
did you find a solution? thanks

[2021-04-04 21:29] foxbunny commented on #292
Sadly, no.

[2021-04-05 05:42] fabriziobertoglio1987 commented on #292
I fixed this by using coc-prettier which is compatible with the ruby plugin

[2021-04-24 19:31] hugos opened #293 "Support for liquid"
Can you please add support for liquid files?

At the moment is giving me this error for them:

`"Prettier: failed to parse buffer" `

[2021-04-25 12:22] ModProg opened #294 "Markdown Formatting removes folded text at the end of the file when it removes empty lines"
**BUG**

This seams to only happen when in a `heading level` higher than the fold level in my case `2`, The only other markdown plugin I have is  [plasticboy/vim-markdown](https://github.com/plasticboy/vim-markdown) which is responsible for the folding.

This issue does not exist for `:PrettierCli`. Therefor I am unsure if this is a vim-prettier or a vim-markdown issue.

**Expected behavior**
[cod

[2021-04-27 01:07] zen-machina commented on #270
I would also like to know if this functionality exist.

[2021-04-28 01:38] mitermayer commented on #293
We would happily accept PR to enable support for it.

[2021-05-19 13:54] pipoprods opened #298 "Folds are broken after saving a JavaScript file"
**Do you want to request a *feature* or report a *bug*?**

A bug

**What is the current/expected behavior?**

Folds should remain well placed

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**

1.0.0-beta, commit `37600923a25dded35bbf74c3f682d9807ef0b0ce`

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**

2.3.0

**What is your `p

[2021-05-28 23:33] laher commented on #287
@LeducH this has been fixed by a dependency upgrade - please can you verify and maybe close this

[2021-06-01 12:24] pyrho commented on #248
Has anyone found a workaround to this ? I've learned to live with it for lack of a better solution but I would love a fix.

[2021-06-03 02:52] mitermayer commented on #251
Cab you folks do a plug update and check if this PR https://github.com/prettier/vim-prettier/pull/300 fixed this issue for you ?

[2021-06-03 09:45] buschco commented on #251
It seems to work fine now!
Very nice! Thank you so much 🙏  🎉

[2021-06-08 13:43] JohnPangalos commented on #230
I have this problem as well though my work around is this:

[code]

Not the nicest thing, but it stops this annoying error.

[2021-06-20 11:29] bishaludas commented on #174
i my case running prettier was add `>4;m[>4;2m` syntax in place of cursor.
Fixed it by adding below lines in my .vimrc
[code]

[2021-06-23 09:00] dvbsknd commented on #268
I stumbled across this issue after searching for the `Prettier: failed to parse buffer` error and my issue was indeed my Node version. My shell was running version 8 via `nvm` rather than my default version 16 when I started `vim`. After exiting, switching and trying again it worked.

[2021-06-25 02:35] jose4125 opened #302 "bad formating on js file - arrow-parens"
**Do you want to request a *feature* or report a *bug*?**
report a bug

**What is the current/expected behavior?**

- when prettier format the file it have issues with the `arrow-parens`.
- should be `success => {}`. but prettier is changing it to `(success) => {}` and I'm getting an error from `plugin:prettier/recommended` , I guess.
- the error message is ```[eslint prettier/prettier] [E] Replac

[2021-06-28 11:44] 0x000def42 opened #303 "Add svelte support"
**Do you want to request a *feature* or report a *bug*?**
Report a bug
**What is the current/expected behavior?**
- when prettier format the .svelte file it raising "failed to parse buffer"
- should format file
**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
1.0.0-beta
**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
2.0.4
**Wh

[2021-06-28 11:46] 0x000def42 commented on #303
I created PR that fixed it for me https://github.com/prettier/vim-prettier/pull/304

[2021-06-28 16:26] francium commented on #192
Seeing this happen on commit aa0607 (latest develop at time of writing).
My steps are roughtly
1. Open two files in vertical splits, both in my case are long enough to be scrollable
2. Edit both files' formatting as to trigger prettier on save
3. Save, non-focused split regularly (not always) scrolls to the very as -- identical to the screenshot attached by @GeneZharov above.

I've commented out e

[2021-06-29 07:50] 0x000def42 commented on #303
Thank

[2021-06-29 07:50] #303 closed

[2021-06-29 20:33] avrahamappel-humi commented on #263
Seems like this is fixed in #272, but it hasn't been released yet.

[2021-06-29 20:34] avrahamappel commented on #263
Seems like this was fixed by #272, but there hasn't been a new release since then.

[2021-06-30 10:29] JwanKhalaf commented on #302
I'm also getting this.

[2021-07-16 15:25] samuel-buuk commented on #266
I've also found this to be a bit of an issue. It looks like we will have to add a config file to our project to set the defaults to whatever prettier is using or alternatively I have to modify my vim configs. I agree with @michaeljones that an option to just use default prettier settings would be preferable if this behaviour is required for others.

[2021-07-16 17:24] CGamesPlay commented on #266
Probably worth pointing out that the official Prettier website also recommends using ALE to handle the rewriting. I wish that ALE had a sync mode, but the experience isn't bad and it does use the proper prettier configuration.

https://prettier.io/docs/en/vim.html#alehttpsgithubcomdense-analysisale

[2021-07-27 13:45] timonson commented on #248
What exactly is the workaround @pyrho  ? The issue is still not fixed here.

[2021-07-27 14:09] pyrho commented on #248
Calling [this](https://github.com/pyrho/rc/blob/luaconf/nvim_lua/lua/pyrho/prettierd.lua#L5) function gathers all the lines from the current buffer and [feeds it](https://github.com/pyrho/rc/blob/luaconf/nvim_lua/lua/pyrho/prettierd.lua#L47) to [prettierd](https://github.com/fsouza/prettierd) via its stdin; the output from prettierd is then used to [replace the current contents](https://github.com

[2021-07-29 04:37] mikerowehl opened #308 "Autoformat not running when exiting neovim with :wq"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current/expected behavior?**
It appears that the async job in neovim isn't always working correctly when running as part of an autocommand. I have vim-prettier setup to autoformat. And generally everything works, if I manually trigger prettier or save the buffer without exiting everything works. But if I exit with :wq the

[2021-08-04 14:44] whal-e3 opened #309 "Prettier config commands not working properly."
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current/expected behavior?**
current behavior

Only when I add both these commands in init.vim
`let g:prettier#autoformat = 1`
`let g:prettier#autoformat_require_pragma = 0`
Prettier works (with and without `@format` or `@prettier` tags).
And If at least one of those is commented out or deleted, prettier stops working.

*

[2021-08-08 07:08] aaaaargZombies commented on #268
This works for me but I want to run prettier with the defaults so it's not an ideal solution.

What's the best way to check which version of node vim-prettier is running and is there a way to configure a version for vim-prettier? NVM is currently set to current LTS `v14.17.4`

[2021-08-17 02:28] niming175 opened #311 "How to cancel the auto format when i save?"
**Do you want to request a *feature* or report a *bug*?**
How to cancel the auto format when i save?
when i save the code , i didn't want it to auto format; How am i to set the config

**What is the current/expected behavior?**

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**

*

[2021-08-24 21:37] adampaulukanis opened #312 "Formating of an object removes " from some keys"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current/expected behavior?**

I have some code, like this:
[code]

and after running Prettier it looks like this:
[code]

Any idea why?

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**

1.0.0-beta

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**

2.2

[2021-09-01 12:23] adampaulukanis commented on #312
I had the epiphany. Prettier works as it should I think.

From JavaScript Garden:

[2021-09-01 12:23] #312 closed

[2021-09-04 19:04] Nishant-Pall opened #313 "let g:prettier#config#tab_width not working"
**What is the current/expected behavior?**
whenever I execute `:Prettier` it's using tab spaces as 2, even though I have set the value as `let g:prettier#config#tab_width = 4`

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
1.0.0-beta

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
2.3.1

**What is your `prettier` executable

[2021-11-08 10:43] Gregoirevda commented on #302
Prettier [arrow function parentheses](https://prettier.io/docs/en/options.html#arrow-function-parentheses
) v1.9.* and below defaults to "avoid", but v2.0.0 default to "always"

vim-prettier defaults to "always" no matter the version.
You can update the default prettier config with:
`let g:prettier#config#arrow_parens = 'avoid'`

[2021-11-29 10:02] jikkujose commented on #31
Prettier was running beautifully until some days but suddenly it started giving this error! Any ideas?

[2021-11-29 10:09] jikkujose commented on #214
I am still having this issue! Interestingly its not there for typescript files!

[2021-11-29 10:12] jikkujose commented on #268
This is causing me issues for me now :(

Solutions I tried:

- I tried to use the prettier config mentioned (though I don't see how it affects the parser!)

My versions:

1. PrettierVersion: `1.0.0-beta`
2. PrettierCliPath: `~/.vim/plugged/vim-prettier/node_modules/.bin/prettier`
3. PrettierCli: `[error] No parser and no file path given, couldn't infer a parser.^@`

[2021-12-03 20:32] Daniel-Monroy commented on #313
Hello, you found a solution?
I have the same problem :(

[2021-12-10 11:26] callumacrae opened #318 "Cursor position lost when multiple panes open on same buffer"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current/expected behavior?**

When I run `:Prettier` and I have the same file open in multiple split panes, the cursor position is lost in all panes other than the one I ran `:Prettier` from and sent to the bottom.

It's expected that the cursor position would be preserved on all panes.

Steps to replicate:

- Open a pre

[2021-12-10 15:00] nguyenvukhang commented on #268
In my experience this issue is caused by me renaming the root directory of a directory containing node packages.

My fix has been to delete the `node_modules` folder and run `npm` or `yarn` to refresh it:
[code]

[2021-12-21 20:27] dcruz1990 opened #319 "Prettier doesn't work"
Just installed it via Plug, it recognizes Prettier commands but doesn't work
![2021-12-21-151822_830x98_scrot](https://user-images.githubusercontent.com/43586145/146993184-8fa0f63f-d1af-4e6a-bea8-ca559a5ff267.png)

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?**
0.2.7

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?**
Same error

[2022-01-04 06:17] byeokim commented on #318
Possible duplicate of #248. Not yet resolved.

[2022-01-04 12:31] Nishant-Pall commented on #313
Hey, I didnt fix it but I did reset my neovim and everything and never encountered this again. Maybe that'll help you

[2022-01-05 12:27] mrded commented on #309
In my case, prettier is not formating TS files by default on save. Only when I add `@format` comment to the file.
Changing `g:prettier#autoformat_require_pragma` variable makes no difference.

Also using `1.0.0-beta` tag.

[2022-01-23 18:45] kecerud commented on #290
Did you fix this somehow in the meantime? Having the same issue..

[2022-01-23 19:07] rschristian commented on #290
No, sorry, had to uninstall vim-prettier as I couldn't find a way to get them to agree :/

[2022-01-23 19:43] kecerud commented on #290
@rschristian That's a shame...! What did you decide to use instead, or did you end up just not using a formatter completely?

[2022-01-23 19:48] rschristian commented on #290
Still use prettier, just not tied to vim. Manual runs, precommit hooks, etc. do the trick for me.

There might be good alternative solutions out there, not sure! I don't think I looked for other options, just cut it out and moved on.

[2022-01-29 21:26] sahilsehwag opened #321 "feature request to disable automatic mappings set by the plugin"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current/expected behavior?**
Automatically sets the mapping of `<leader>p` to auto format, plugin should not automatically setup mappings(overriding the user mapping space). There should be a way to disable automatic setting of mapping

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?*

[2022-01-31 09:48] bwilytsch commented on #280
Worked like a charm. Thank you!

[2022-02-02 08:26] yzia2000 commented on #280
Maybe we can close this issue then?

[2022-02-03 22:32] pdfrod commented on #280
The VSCode integration repo has a [helpful list](https://github.com/prettier/prettier-vscode/tree/339c805d9b0fe0b54c88453b12bf1dc5b634259e#format-selection) of supported languages. Can we add something similar to vim-prettier's documentation? As it is, it's not obvious at all how to make it work for `.jsx` / `.tsx` files.

[2022-02-14 17:04] lushkovsky-s opened #323 ".eslintrc is ignored"
I'm using `NVIM v0.6.1`, the plugin has been added using this code in `~/.config/nvim/init.vim`:
[code]

In general everything works well (`:Prettier` do apply fixes on code), but the project-specific configuration `.eslintrc` is not take into account, e.g. instead of `import { useState } from "react"`, I'm getting `import {useState} from 'react'`
In the exact same project using VS Code prettier w

[2022-03-02 14:24] aaaaargZombies commented on #313
I had the same issue and I think it was to do with this

[code]

[2022-03-10 18:24] TimDaub commented on #268
This fixed it for me.

[2022-03-11 09:34] sahilrajput03 commented on #230
FYI: I also encountered same problem but I noticed that this happens only if you have

[code]

in your `~/nvim/init.vim` (`~/.vimrc`) file.

[2022-04-08 14:23] sahilrajput03 opened #326 "prettier hang on formatting a bigger file"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current/expected behavior?**

It takes more than 15-30 seconds to format a [markdown file having lines more than 800+ lines](https://gist.githubusercontent.com/sahilrajput03/42af1b0ae1da918768093e6684be36cb/raw/9e9e5817cd6080692a37ff90fd23076c604f3289/bug-prettier.md
) and the problem is that my nvim hangs for all this t

[2022-04-19 14:51] callumacrae commented on #318
yep, looks like it!

[2022-04-19 14:51] #318 closed

[2022-06-02 03:18] moonjava2005 opened #328 "MacOS Monterey M1 plugin not loaded"
I'm using the latest version of vim-prettier, however, PlugStatus on my machine show `not loaded` without any error
How can I fix this?

[2022-06-07 21:09] stchristian opened #329 "When endOfLine option set to 'crlf', ^M appear at the end of each line"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current/expected behavior?**

Current: endOfLine is set to 'crlf', after running :Prettier command, ^M appear at the end of each line.
According to a hex editor file endings are CRCRLF, which IMO causes the problem.

Expected: When I set the endOfLine option to 'crlf' and I format a file, I don't want to see ^M at the en

[2022-07-05 02:23] pilagod commented on #290
Same here and cannot find a workaround too. 😓

It seems `prettier` has exceptional rules for `package.json` that it always splits array into multiple lines. But not sure why `vim-prettier` doesn't consume those rules.

Since I personally have `coc.nvim` plugin installed, I finally switch to `coc-prettier` and it solves this problem.

[2022-07-14 01:09] nippyin commented on #214
Me too still have issue and in my case json files are able to format just fine its Yaml file which gives this error Prettier: Failed to parse buffer (PrettierAsync)

[2022-07-27 15:17] herrbischoff opened #331 "Prettier: failed to parse buffer — on mixed HTML/PHP file"
**Do you want to request a *feature* or report a *bug*?**
Either a configuration issue, unsupported functionality or a bug.

**What is the current/expected behavior?**
When working with PHP template files of the Kirby CMS system, vim-prettier is unable to format the files and aborts with a `Prettier: failed to parse buffer` error. The file extension and loaded filetype is `php` (file name is defau

[2022-08-15 19:08] Kadrian opened #332 "Formatting on save stop working after some time"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current/expected behavior?**

**expected**: prettier keeps auto-formatting on save and if it's not successful, it reports an error
**actual**: prettier formats on auto-save properly for some time and then at some point (I'm just trying to save yet another file in the same project / repo), Prettier stops working, doesn't

[2022-08-16 00:35] timezerokiller commented on #276
I have this error nvim v0.6.1

[2022-08-16 11:09] mattxyzeth commented on #214
I was having this issue as well. My prettier config was formatted as JS using `module.exports`. I converted it to JSON and removed the file extension, and this seemed to have fixed the issue for me. The file name should be `.prettierrc`, and the format should be JSON.

[2022-09-01 11:34] kevinw commented on #214
Also seeing this issue with a fresh install and running `:Prettier`

[2022-09-16 22:15] gosukiwi commented on #214
I was already using ALE, and that works great! Eslint is a bit slow but just leaving prettier is what I wanted anyways :) Thanks!

[2022-09-20 08:53] MDxWARRIORxOP commented on #331
Im getting the same error, but with jsx and nextjs

[2022-10-25 13:52] coaxial opened #335 "Deletes comments in Ruby files"
**Do you want to request a *feature* or report a *bug*?** A bug

**What is the current/expected behavior?** current: deletes comments. Expected: leave comments alone

**What version of `vim-prettier` are you using - (output of `:PrettierVersion`) ?** 1.0.0-beta

**What version of `prettier` are you using - (output of  `:PrettierCliVersion`) ?** 2.3.1

**What is your `prettier` executable path - (o